<!DOCTYPE html>
<html lang="en">

<head>
  <title>Supremo Tribunal Federal</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="icon" type="imagem/png" href="<%= require('assets/img/favicon.ico') %>" />
</head>

<body>
  <div id="main" class="container-fluid p-0">

    <%- include src/includes/header.html %>

      <!-- Quebra de linha que separa o header do conteudo principal. Deve ser mudado ... -->
      <br>
      <br>

      <section id="conteudo-principal" class="container-fluid m-0 p-0 m-t-64">
        <div class="container center-block p-0">
          <!--Menu Lateral-->
          <div class="col-xs-12 col-sm-3 col-lg-3 p-xs-0 m-0 m-t-24">
            <div class="card">
              <h5 class="card-titulo card-titulo-over">Temas</h5>
              <table class="table valores-temas">
                <tr>
                  <td>
                    <h2 class="valor" id="valor-total">978</h2>
                    <h4>Total</h4>
                  </td>
                  <td>
                    <h2 class="valor" id="valor-reconhecida">657</h2>
                    <h4>Reconhecida</h4>
                  </td>
                </tr>

                <tr>
                  <td id="valor-tema-negada">
                    <h2 class="valor" id="valor-negada">317</h2>
                    <h4>Negada</h4>
                  </td>
                  <td id="valor-tema-em-analise">
                    <h2 class="valor" id="valor-em-analise">4</h2>
                    <h4>Em Análise</h4>
                  </td>
                </tr>

                <tr>
                  <td id="valor-tema-merito-julgado">
                    <h2 class="valor" id="valor-merito-julgado">359</h2>
                    <h4>Mérito julgado</h4>
                  </td>
                  <td id="valor-tema-merito-n-julgado">
                    <h2 class="valor" id="valor-merito-n-julgado">302</h2>
                    <h4>Mérito não Julgado</h4>
                  </td>
                </tr>
              </table>
            </div>

            <div class="card">
              <h5 class="card-titulo">
                <i class="material-icons filter-icon">filter_list</i> Filtros
                <i class="material-icons clear-icon" title="Limpar filtros">clear</i>

              </h5>
              <%- include src/includes/pesquisa-avancada/tab-horizontal.html %>
            </div>
          </div>

          <div class="col-xs-12 col-sm-9 col-lg-9 row m-0 p-xs-0 m-t-24 m-b-24 p-sm-8 __borda-l-cinza-claro">
            <div class="card card-graficos">
              <h5 class="card-titulo card-titulo-over titulo-pesquisa">
                <text class="nome-filtro" data-nome-pesquisa="temasCompletos">Relação Completa de Temas</text>
                <text class="nome-filtro" data-nome-pesquisa="tesesRG">Teses de Repercussão Geral</text>
                <text class="nome-filtro">Temas com Repercussão Geral Negada</text>
                <text class="nome-filtro">Temas com Repercussão Geral Reconhecida</text>
                <text class="nome-filtro">Temas com Repercussão Geral Reconhecida e Mérito Julgado</text>
                <text class="nome-filtro">Temas com Repercussão Geral Reconhecida e Mérito Pendente</text>
                <text class="nome-filtro">Temas com Suspensão Nacional</text>
                <text class="nome-filtro">Representativo de Controvérsia</text>
              </h5>
              <div class="container-fluid imagens-graficos">
                <img src="../../assets/img/pesquisaavancada/grafico1.png" class="imagem-grafico col-lg-6 col-md-6 p-xs-0 m-0 m-b-0 img-responsive"
                  alt="">
                <img src="../../assets/img/pesquisaavancada/grafico2.png" class="imagem-grafico col-lg-6 col-md-6 p-xs-0 m-0 m-b-0 img-responsive"
                  alt="">
              </div>
            </div>

            <div class="container">

              <div class="row">
                <div class="col-lg-9">
                  <table class="table tabela-rg" id="table">
                    <thead>
                      <tr>
                        <th>Número Tema</th>
                        <th>Tema</th>
                        <th>Processo Paradigma</th>
                        <th width="100px">Relator</th>
                        <th width="70px">Quantidade
                          <br>Sobrestados</th>
                        <th>Situação</th>
                        <th class="acoes"></th>
                      </tr>
                    </thead>
                    <tbody id="tabela-RG">
                      <tr>
                        <td>
                          <a class="num_tema" data-toggle="modal" data-target=".bd-example-modal-lg">984 </a>
                        </td>
                        <td>Natureza jurídica dos reajustes concedidos aos servidores da carreira militar pela Lei n. 7.622/2000,
                          do Estado da Bahia.
                          <br>
                          <a class="icon-descricao" data-toggle="collapse" href="#descricaoTema" aria-expanded="false" aria-controls="descricaoTema">
                            <i class="material-icons more" title="Ver Descrição">expand_more</i>
                            <i class="material-icons less" title="Ver Menos">expand_less</i>
                          </a>
                          <div class="collapse" id="descricaoTema" style="text-align: left">
                            Recurso extraordinário em que se discute, à luz dos artigos 149, § 2º, III, a; e 195, IV, da Constituição Federal, a constitucionalidade,
                            ou não, da expressão “acrescido do valor do Imposto sobre Operações Relativas à Circulação de
                            Mercadorias e sobre Prestação de Serviços de Transporte Interestadual e Intermunicipal e de Comunicação
                            – ICMS incidente no desembaraço aduaneiro e do valor das próprias contribuições”, contida no
                            inciso I do art. 7º da Lei nº 10.865/2004, o qual estabelece que a base de cálculo da Contribuição
                            para o Financiamento da Seguridade Social - COFINS e do Programa de Integração Social - PIS,
                            em operações de importação, equivale, para efeitos da referida norma legal, ao valor aduaneiro,
                            entendido como o montante que servir ou que serviria de base para o cálculo do imposto de importação,
                            acrescido do valor do ICMS incidente no desembaraço aduaneiro e do valor das próprias contribuições.
                          </div>
                        </td>
                        <td>RE ###
                        </td>
                        <td> MIN. Gilmar Mendes </td>
                        <td>-</td>
                        <td class="text-center">
                          <p>Em análise preliminar</p>
                          <div class="row">
                            <i class="material-icons mer_pendente" title="Mérito Pendente">assignment_late</i>
                            <i class="material-icons ok" title="Há Repercussão Geral / Há Suspensão nacional">done_all</i>
                            <i class="material-icons" title="Trânsito em Julgado">gavel</i>
                          </div>
                          <p>21/03/2013</p>
                        </td>
                        <td>
                          <a>
                            <i class="material-icons" title="Acórdão">list</i>
                          </a>
                          <br>
                          <a>
                            <i class="material-icons" title="Plenário Virtual">language</i>
                          </a>
                          <br>
                          <a>
                            <i class="material-icons" title="Manifestação">chat</i>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>983</td>
                        <td>Gratificações federais de desempenho: (I) termo final do pagamento equiparado entre ativos e inativos
                          e (II) redução do valor pago aos aposentados e pensionistas e princípio da irredutibilidade de
                          vencimentos.</td>
                        <td>RE ###</td>
                        <td>MIN. ###</td>
                        <td>-</td>
                        <td class="text-center">
                          <p>Em análise preliminar</p>
                          <div class="row">
                            <i class="material-icons mer_julgado" title="Mérito Julgado">assignment_turned_in</i>
                            <i class="material-icons clear" title="Não há repercussão geral">clear</i>
                            <i class="material-icons" title="Trânsito em Julgado">gavel</i>
                          </div>
                          <p>21/03/2013</p>
                        </td>
                        <td>
                          <a>
                            <i class="material-icons" title="Acórdão">list</i>
                          </a>
                          <br>
                          <a>
                            <i class="material-icons" title="Plenário Virtual">language</i>
                          </a>
                          <br>
                          <a>
                            <i class="material-icons" title="Manifestação">subject</i>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>982</td>
                        <td>Discussão relativa à constitucionalidade do procedimento de execução extrajudicial nos contratos
                          de mútuo com alienação fiduciária de imóvel, pelo Sistema Financeiro Imobiliário - SFI, conforme
                          previsto na Lei n. 9.514/1997.</td>
                        <td>RE ###</td>
                        <td>MIN. ###</td>
                        <td>-</td>
                        <td class="text-center">
                          <p>Em análise preliminar</p>
                          <i class="material-icons ok" title="Há Repercussão Geral">done</i>
                          <i class="material-icons" title="Trânsito em Julgado">gavel</i>
                          <p>21/03/2013</p>
                        </td>
                        <td>
                          <a>
                            <i class="material-icons" title="Acórdão">list</i>
                          </a>
                          <br>
                          <a>
                            <i class="material-icons" title="Plenário Virtual">language</i>
                          </a>
                          <br>
                          <a>
                            <i class="material-icons" title="Manifestação">chat</i>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>981</td>
                        <td>Necessidade de licitação específica para a criação de nova praça de pedágio no entroncamento das
                          rodovias federais BR-153 e BR-369.</td>
                        <td>RE ###</td>
                        <td>MIN. ###</td>
                        <td>-</td>
                        <td class="text-center">
                          <p>Em análise preliminar</p>
                          <i class="material-icons suspensao" title="Há Suspensão Nacional">done</i>
                          <i class="material-icons clear" title="Não há repercussão geral">clear</i>
                          <i class="material-icons" title="Trânsito em Julgado">gavel</i>
                          <p>21/03/2013</p>
                        </td>
                        <td>
                          <a>
                            <i class="material-icons" title="Acórdão">list</i>
                          </a>
                          <br>
                          <a>
                            <i class="material-icons" title="Plenário Virtual">language</i>
                          </a>
                          <br>
                          <a>
                            <i class="material-icons" title="Manifestação">chat</i>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>980</td>
                        <td>Discussão alusiva à intangibilidade da coisa julgada quanto aos juros estabelecidos em processo de
                          conhecimento ou em execução contra a Fazenda Pública e, ainda, sobre a possibilidade de limitação
                          dos efeitos pecuniários da condenação ao advento do regime jurídico único (RJU).</td>
                        <td>RE ###</td>
                        <td>MIN. ###</td>
                        <td>-</td>
                        <td class="text-center">
                          <p>Em análise preliminar</p>
                          <i class="material-icons ok" title="Há Repercussão Geral">done</i>
                          <i class="material-icons" title="Trânsito em Julgado">gavel</i>
                          <p>21/03/2013</p>
                        </td>
                        <td>
                          <a href="#" class="glyphicon-links-tabela">
                            <a>
                              <i class="material-icons" title="Acórdão">list</i>
                            </a>
                            <br>
                            <a>
                              <i class="material-icons" title="Plenário Virtual">language</i>
                            </a>
                            <br>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>979</td>
                        <td>Discussão sobre a licitude da prova obtida por meio de gravação ambiental realizada por um dos interlocutores
                          sem o conhecimento do outro, na seara eleitoral.</td>
                        <td>RE ###</td>
                        <td>MIN. ###</td>
                        <td>-</td>
                        <td class="text-center">
                          <p>Em análise preliminar</p>
                          <i class="material-icons ok" title="Há Repercussão Geral">done</i>
                          <i class="material-icons" title="Trânsito em Julgado">gavel</i>
                          <p>21/03/2013</p>
                        </td>
                        <td>
                          <a href="#" class="glyphicon-links-tabela">
                            <a>
                              <i class="material-icons" title="Acórdão">list</i>
                            </a>
                            <br>
                            <a>
                              <i class="material-icons" title="Plenário Virtual">language</i>
                            </a>
                            <br>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="tab-content col-md-12 mais-resultados text-center">
                    <a id="mais-resultados" class="btn btn-raised btn-default-bordered btn-upper p-l-16 p-r-16" href="#">Carregar mais resultados</a>
                  </div>
                </div>
              </div>
              <div class="modal-tema">
                <%- include src/includes/pesquisa-avancada/tema.html %>
                  <%- include src/includes/pesquisa-avancada/card-relator.html %>
              </div>
            </div>

          </div>

        </div>
      </section>

      <%- include src/includes/mapa-do-site.html %>
        <%- include src/includes/footer.html %>

  </div>

</body>

</html>