<!DOCTYPE html>
<html lang="en">

<head>
  <title>Supremo Tribunal Federal</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="icon" type="imagem/png" href="<%= require('assets/img/favicon.ico') %>" />
</head>

<body>
  <div id="main" class="container-fluid p-0">

    <%- include src/includes/header.html %>
    <%- include src/includes/pesquisa.html %>

    <section id="conteudo-principal" class="container-fluid m-0 p-0">
		<div class="container center-block container-temas">
			<div class="card card-de-temas">
				<h5 class="card-titulo">Temas</h5>
				<div class="text-center __stf-azul-hover">
					<div class="col-lg-2 col-xs-4 m-b-8">
						<h2 class="bg-font-black m-t-0">978</h2><h4>Total</h4>
					</div>
					<div class="col-lg-2 col-xs-4 m-b-8">
						<h2 class="__stf-azul-escuro m-t-0">657</h2><h4>Reconhecida</h4>
					</div>
					<div class="col-lg-2 col-xs-4 m-b-8">
						<h2 class="__stf-vermelho m-t-0">317</h2><h4>Negada</h4>
					</div>
					<div class="col-lg-2 col-xs-4 m-b-8">
						<h2 class="__stf-verde m-t-0">4</h2><h4>Em Análise</h4>
					</div>
					<div class="col-lg-2 col-xs-4 m-b-8 __borda-l-cinza">
						<h2 class="__stf-azul-escuro m-t-0">359</h2><h4>Mérito julgado</h4>
					</div>
					<div class="col-lg-2 col-xs-4 m-b-8">
						<h2 class="__stf-verde m-t-0">302</h2><h4>Mérito não Julgado</h4>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container center-block p-0 container-tabela-e-graficos">
			<div class="card m-b-48">
				<div class="card-conteudo col-xs-12 col-sm-12 col-lg-12 p-xs-0 m-0">
					<nav>
						<ul class="nav nav-tabs col-md-12" role="tablist">
							<li role="presentation" class="active"><a data-toggle="tab" href="#tabela-de-temas">Tabela de Temas</a></li>
							<li role="presentation"><a data-toggle="tab" href="#graficos-de-temas">Gráficos</a></li>
						</ul>
					</nav>

					<div class="tab-content col-md-12">
						<%- include src/includes/pesquisaavancada/tabela-temas.html %>
						<%- include src/includes/pesquisaavancada/modal-tema.html %>
						<%- include src/includes/pesquisaavancada/modal-pesquisa-mobile.html %>
						
						<div class="tab-pane fade p-t-16" id="graficos-de-temas">
							<img src="../../assets/img/repgeral/grafico1.png" alt="Exemplo de gráfico">
							<img src="../../assets/img/repgeral/grafico2.png" alt="Exemplo de gráfico">
						</div>
					</div>
					
				</div>  
			</div> 
		</div>
		
	</section>
	
    <%- include src/includes/mapa-do-site.html %>
    <%- include src/includes/footer.html %>
	
</div>

</body>

</html>