@import "../../variaveis/cores";

.lista-processo-parte {
  color: $stfCinzaEscuroMenu;
  h5 {
    font-weight: bold;
  }
  padding: 0.8px 12px;
  background-color: $stfAzulEscuroAlfa10;
  small {
    color: $stfCinzaEscuro;
    font-weight: bold;
  }
}

// .lista-processo-parte {
//   color: $stfAzulCinza;
//   h5 {
//     font-weight: bold;
//   }
//   padding: 0.8px 12px;
//   background-color: $stfAzul;
//   small {
//     color: $stfBranco;
//     font-weight: bold;
//   }
// }

table {
  font-size: 0.95rem;
}


th {
  text-align: center;
}

td {
  text-align: center;
}
