<div id="audiencias-publicas" class="audiencias-publicas card m-b-48">
    <div class="card-titulo">Audiências públicas</div>
    <div class="card-conteudo">
        <div class="audiencia-icone">
        <img src="<%= require('assets/img/conteudo/icone-audiencia-whatsapp.png') %>"
                srcset="<%= require('assets/img/conteudo/icone-audiencia-whatsapp@2x.png') %> 2x" alt="Whatsapp">
        </div>
        <div class="audiencia-processo m-b-24 m-l-8">
        <div class="processo-numero">ADI 5.527</div>
        <div class="processo-relator">Min. Fachin</div>
        </div>
        <div class="card-caixa-texto audiencia-descricao m-b-24">
        Marco civil da internet e a suspensão do Whatsapp por decisões judiciais no Brasil.
        </div>
        <div class="audiencia-inscricao">
        Inscreva-se enviando um e-mail para <a href="mailto:adpf403@stf.jus.br">adpf403@stf.jus.br</a> até 01/02/2017.
        </div>
    </div>
</div>