.noticias {
  .pesquisa-campos {
    display: none;
  }

  .card-secao {
    background-color: #ECF4F9;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}


.pagina-interna {
  #noticias {
    .noticia-titulo {
      font-weight: bold;
      font-size: 1.8rem;
    }

    .noticia-resumo {
      color: #000000;
      font-size: 1.1rem;
      word-wrap: break-word;
      letter-spacing: -0.3px;
      line-height: 20px;
    }

    .noticia-autor {
      color: #717171;
      font-size: 0.9rem;
    }

    .noticia-data {
      color: #ababab;
    }

    .noticia-conteudo {
      text-align: justify;
      text-justify: inter-word;
    }
  }
}
    .noticia-compartilhar-interno {
      background-color: #f3f3f3;

      > div {
        display: inline-block;
        vertical-align: middle;
      }

      .visualizacoes {
        color: #a8aaaf;
        font-size: 0.9rem;
      }

      .impressao {
        .btn {
          border-radius: 4px;
          height: 30px;
          line-height: 30px;
          padding: 0 15px;

          .glyphicon {
            color: #989ba1;
          }
        }
      }
    }