.numero-transparencia {
    //color: $stfAzulEscuro;
    color: #006998;
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
}

.rotulo-transparencia {
    font-size: 1rem;
    margin: 0 8px;
    font-weight: bold;
    text-align: center;
}

.btn-transparencia {
    font-size: 0.9rem;
}