@import "../../variaveis/cores";

.numero-transparencia {
    color: $stfAzulEscuro;
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
}

.numero-transparencia-verde {
    color: $stfVerdeEscuro;
    font-size: 3rem;
}

.numero-transparencia-vermelho {
    color: $stfVermelho;
    font-size: 2.5rem;
    margin: 5px 0 5px 0;
}

.cifrao {
    font-size: 1.5rem;
}

.rotulo-transparencia {
    font-size: 1rem;
    margin: 0 8px;
    font-weight: bold;
    text-align: center;
}

.btn-transparencia {
    font-size: 0.9rem;
}

.card-conteudo-verde {
    background: $stfVerdeClaro;
}

.card-conteudo-vermelho {
    background: $stfVermelhoClaro;
}

/*section concursos*/

#concursos {
    background: $stfCinzaClaro;
    padding: 24px 16px;
}

#concursos h3 {
    color: $stfAzulEscuro;
    font-size: 1.5rem;
    font-weight: bold;
}

.concursos-conteudo {
    margin-top: 24px;
    padding: 8px;
}

/*section conheca-mais*/

#conheca-mais h3 {
    color: $stfAzulEscuro;
    font-size: 1.5rem;
    font-weight: bold;
}

#conheca-mais-conteudo {
    margin-top: 24px;
    padding: 15px;
}

.card-titulo-conheca-mais {
    font-size: 1.5rem;
}

.card-caixa-texto-conheca-mais {
      h4 {
        font-size: 0.9rem;
        line-height: 120%;
      }
}

.card-azul-transparencia {
    min-height: 215px;
}

