@import "../../variaveis/cores";

.numero-transparencia {
    color: $stfAzulEscuro;
    font-size: 1.2rem;
    font-weight: 100;
    text-align: center;
    height: 32px;
    position: relative;
}

.numero-transparencia-iframe {
    position: absolute;
    overflow: hidden;
    top: -7%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    z-index: -1;
}

.numero-transparencia-verde {
    color: $stfVerdeEscuro;
    font-size: 1.2rem;
}

.numero-transparencia-vermelho {
    color: $stfVermelho;
    font-size: 1rem;
    margin: 5px 0 5px 0;
}

.cifrao {
    font-size: 1.1rem;
}

.rotulo-transparencia {
    font-size: 0.8rem;
    margin: 0 8px;
    font-weight: bold;
    text-align: center;
}

.btn-transparencia {
    font-size: 0.9rem !important;
    margin-bottom: 8px;
}

.btn-duplo-transparencia {
    padding-top: 16px !important;
    height: 80px !important;
    line-height: 140% !important;
}

.card-conteudo-verde {
    background: $stfVerdeClaro;
}

.card-conteudo-vermelho {
    background: $stfVermelhoClaro;
}

/*section concursos*/

#concursos {
    background: $stfCinzaClaro;
    padding: 24px 16px;
}

#concursos h3 {
    color: $stfAzulEscuro;
    font-size: 1.5rem;
    font-weight: bold;
}

.concursos-conteudo {
    margin-top: 24px;
    padding: 8px;
}

/*section conheca-mais*/

#conheca-mais h3 {
    color: $stfAzulEscuro;
    font-size: 1.5rem;
    font-weight: bold;
}

#conheca-mais-conteudo {
    margin-top: 24px;
    padding: 15px;
}

.card-titulo-conheca-mais {
    font-size: 1.5rem;
}

.card-caixa-texto-conheca-mais {

    margin: 16px 0 16px 0;

      h4 {
        font-size: 0.97rem;
        line-height: 160%;
      }

}

.card-azul-transparencia {
    padding-bottom: 8px;
}

/*section gestao-transparencia*/

.card-titulo-gestao-pessoas {
    font-size: 1rem;
    font-weight: 500;
}

.card-caixa-texto-nao-encontrou {
    background: $stfCinzaClaro;
    padding: 16px;
    ul {
    list-style: none;
    padding: 0;
    li {
      margin: 8px 0;
    }
  }
}

.card-caixa-texto-gestao-transparencia {
    overflow: hidden;
}

#gestao-transparencia h3 {
    color: $stfAzulEscuro;
    font-size: 1.3rem;
    font-weight: bold;
}
