@font-face {
  font-family: 'Roboto', 'sans-serif';
  src: url(../fonts/Roboto-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: 'Roboto', 'sans-serif';
  src: url(../fonts/Roboto-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: 'Roboto', 'sans-serif';
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto', 'sans-serif';
  src: url(../fonts/Roboto-BoldItalic.ttf);
  font-style: italic;
  font-weight: bold;
}

html {
  font-size: 14px;
  @media all and (min-width: $breakpointPhones) {
    font-size: 16px;
  }
}

body {
  font-family: 'Roboto', 'sans-serif';
  font-size: 1rem;
}