@import "../../variaveis/cores";

a {
  cursor:pointer;
}
.card-titulo {
  margin-top: 0px;
  margin-bottom: 0px;
}
.num_tema{
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}
#tab-navegacao-graficos {
  img {
    width: 49%;
  }
}

/* Card de Temas */ 

table.valores-temas .valor{
  font-weight: bold;
  margin-top: -1px;
}
td > h4{
 color: $stfAzulHover;
 font-weight: 600;
 margin: 0px;
}

.card-titulo-over {
  margin-top: 0px;
}
// Tabela
h2#valor-reconhecida, h2#valor-merito-julgado {
  color: #4477AA;
}
h2#valor-negada {
  color: #D9534F;
}
h2#valor-em-analise, h2#valor-merito-n-julgado {
  color: #68B95C;
}
td#valor-tema-negada, td#valor-tema-em-analise {
  border-top: 0;
  padding-bottom: 12px;
}
td#valor-tema-merito-julgado, td#valor-tema-merito-n-julgado {
  border-top: 1px solid #f0eaea;
}

/* Dropdown de Ministros */

button.list-group-item{
  cursor: default;

  img {
    cursor: pointer;
  }
}
div.dropdown-relatores {
  .list-group {
    background-color: #b7b1b1;
    min-width: 252.5px;
  }
  .cinza{
    filter: grayscale(100%);
  }
  .list-group-item {
    margin-bottom: 1px;
    padding: 5px 5px;
    display: inline-block;

    hr {
      margin: 10px;
    }
    h5, .link-modal-relator {
      text-align: right;
    }
    .link-modal-relator {
      font-size: 95%;
    }
    img {
      position: relative;
      float: left;
    }
  }
}
//esconder filtros relator e livre p/ não aparecer nos favoritos

input#busca-relator {
    border-box: box-sizing;
    background-image: url('../../img/pesquisaavancada/person3.png');
    background-repeat: no-repeat;
    background-position: 5px 8px;
    padding: 14px 20px 12px 45px;
}
.dropdown-content {
    display: none;
    position: relative;
    background-color: #fff;
}
.show {display:block;}

/* Informações das modais */

th{
  text-align: center;
  max-width: 130px;
}

//modal

.modal-content{
  padding: 0%;
}
.modal-body{
  padding: 0%;

}
.descricao{
  max-width: 600px;
}
.manifestacao{
  padding: 15px;
}
tr{
  margin: 5px;
  text-align: center;
}
.tabela-votos{
  width: 400px; 
  margin-left: auto; 
  margin-right: auto;
  margin-top: 10px;
}

//badges modal
.badge-repercussao{
  background-color: #4cbb71;
}
.badge-merito-pendente{
  background-color: #D9534F;
}
.badge-suspensao{
  background-color: #3383dd;
}
.badge{
  margin-top: 10px;
  padding: 10px;
  z-index: auto;
  text-align: center;
  width: 200px;
  color: white;
}

tr{
  margin: 5px;
  text-align: center;
}

.badge-verde{
  background-color: #4cbb71;
  color: white;
}
.badge-vermelho{
  background-color: red;
}
.badge-azul{
  background-color: #3383dd;
}
.badge-preto{
  background-color: black;
  color: white;
}
.badge-cinza{
  background-color: #808080;
  color: #a9a7a7;
}
.badge{
  margin-top: 10px;
  padding: 10px;
  z-index: auto;
  text-align: center;
  width: 200px;
}

// icones 
.ok, .mer_julgado{
  color: $stfVerde;
}
.clear, .mer_pendente{
  color: rgb(207, 74, 70);
}
.suspensao{
  color: #3383dd;
}
i{
  cursor: pointer;
}
.less{
  display: none;
}
.add{
  vertical-align: bottom; 
  font-size: 1.2em
}
.filter-icon{
  vertical-align: bottom; 
  font-size: 1.5em;
}
.clear-icon {
  float: right;
  font-size: 21px;
}

/* Tab dos filtros 

div.principal-tab-filtros{
  width: 100%;
  background-color: transparent;
  padding: 5px !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
  margin-bottom: 10px;
}
div.menu-tab-filtros{
  margin-bottom: 0px;
}

div.menu-tab-filtros div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.menu-tab-filtros div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.conteudo-sessao-filtros{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; 
  padding-left: 10px;
  padding-top: 10px;
}
div.conteudo-tab-filtros div.conteudo-sessao-filtros:not(.active){
  display: none;
}
div.list-group-menu .list-group-item {
  display: inline-block;
  margin-bottom: 0;
  margin-left:-4px;
  margin-right: 0;
}

div.list-group-menu .list-group-item:first-child {
  border-top-right-radius:0;
  border-bottom-left-radius:4px;
}
div.list-group-menu .list-group-item:last-child {
  border-top-right-radius:4px;
  border-bottom-left-radius:0;
}
.list-group-item.active, .list-group-item.active:focus{
  background-color: $stfAzulClaro;
  border-color: $stfAzulClaro;
}
*/
input.pesquisa-livre {
  background-image: url('../../img/pesquisaavancada/search.png');
  background-position: 5px 6px;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  padding: 9px 20px 9px 45px;
  margin-top: 5px;
}
input.opcao-filtro-rg {
  margin-bottom: 6px;
}
.conteudo-sessao-filtros > label{
  margin: 8px;
}
.add-mais-filtros {
  position: relative;
  top: 6px;
}

// botões na area de favoritos
.btn-fav{
  text-align: center;
  width: 99%;
  border: none;
  text-decoration: none;
  margin: 2px;
  font-weight: 600;
  position: relative;
}

.btn-fav.active{
  background-color: $stfAzul;
  color: white;
  font-weight: 600;
  text-decoration: none;
  border: transparent;
  box-shadow: none;
}

.input-fav{
  height: 0%;
  width: 0%;
}

.tabela-rg, .tabela-rg > thead{
  border: 1px solid #f0eaea;
  margin-top: 20px;
}

.nome-filtro{
  display: none;
}
.nome-grupo-filtro {
  cursor: pointer;
}

/* Card relator */

div.tabelas-relatores {
  display: -webkit-inline-box;
  padding-top: 10px;

  .julgados, .pendentes {
    width: 50%;

    thead {
      color: #fff;
    }
    th {
      width: 25%;
    }
  }
  .pendentes thead {
    background-color: #333;
  }
  .julgados thead {
    background-color: #0505a5;
  }
}
#busca-tabela-julgados, #busca-tabela-pendentes {
  width: 20%;
  position: relative;
}
#busca-tabela-pendentes {
  float: right;
}
#busca-tabela-julgados {
  float: left;
}

.relacao-completa-filtro {
  position: relative;
  float: left;
  font-size: 12px;
  top: 3px;
  margin-left: 10px;
}
.info-icon {
  position: relative;
  float: right;
  top: 7px;
  margin-right: 10px;
}
.icon-print-graficos, .icon-download {
  position: relative;
  float: right;
  margin-left: 5px;
}
//nav
ul .nav-tabs {
  border-bottom: 2px solido $stfCinzaClaro;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border-width: 0;
}

.nav-tabs > li > a {
  border: none;
  color: $stfCinzaEscuro;
  margin-right: 40px;
  margin-left: 20px;
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
  border: none;
  color: $stfPreto;
  background: transparent;
}

.nav-tabs > li > a::after {
  content: "";
  background: $stfAzul;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}

.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
  transform: scale(1); 
}

.tab-content {
  padding: 0 20px;
}

.div_teste{
  // width: 125px;
  // height: 90px;
  background: white;
  color: #00a7e6;
  position: relative;
  z-index: 100;
  // border: 1px solid #00a7e6;
  border-radius: 5px;
}

/* google animation */

input.box-opcoes-filtros {
  border: none;
  border-bottom: 1px solid #757575;
  position: relative;
  top: 10px;
}
input.box-opcoes-filtros:focus {
  outline: none;
}
input.box-opcoes-filtros:focus ~ .titulo-opcao-filtro,
.box-opcoes-filtros:valid ~ .titulo-opcao-filtro {
  top: -12px;
  font-size: 12px;
  color: white;
}
label.titulo-opcao-filtro {
  pointer-events: none;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
  position: absolute;
  top: 12px;
  left: 20px;
  font-size: 16px;
  font-weight: normal;
  color: #757575;
}

@media (max-width: 414px) {
  table.valores-temas {
    display: block;
    position: relative;
    width: 100%;
  }
  table.valores-temas {
    thead, tbody, th,
    td, tr {
     display: inline-block;
   }
  }
}

@media (max-width: 414px) {
  label.numero-do-tema {
    color: #666;
  }
  label.numero-do-tema:hover {
    color: #000;
  }
  label.numero-do-tema::before {
    font-family: Consolas, monaco, monospace;
    font-weight: bold;
    font-size: 15px;
    content: "+";
    vertical-align: text-top;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);;
  }
  #ex-numero-tema {
    height: 0px;
    overflow: hidden;
    transition: height 0.5s;
    color: #000;
  }
  #toggle:checked ~ #ex-numero-tema {
    height: 25px;
  }
  #toggle1:checked ~ #ex-numero-tema {
    height: 90px;
  }
  #toggle:checked ~ label.numero-do-tema::before,
  #toggle1:checked ~ label.numero-do-tema::before {
    content: "-";
  }
}
