@import "../../variaveis/cores";

a {
  cursor:pointer;
}
.card-titulo {
  margin-top: 0px;
  margin-bottom: 0px;
}
.num_tema{
  cursor: pointer;
}
#tab-navegacao-graficos {
  img {
    width: 49%;
  }
}

/* Card de Temas */ 

table.valores-temas{
  margin-bottom: 1px;
}
table.valores-temas .valor{
  font-weight: bold;
  margin: 0px;
}
td > h4{
 color: $stfAzulHover;
 font-weight: 600;
 margin: 0px;
}

.card-titulo-over {
  margin-top: 0px;
}
// Tabela
h2#valor-reconhecida, h2#valor-merito-julgado {
  color: #4477AA;
}
h2#valor-negada {
  color: #D9534F;
}
h2#valor-em-analise, h2#valor-merito-n-julgado {
  color: #68B95C;
}
td#valor-tema-em-analise{
  border-right: 2px solid rgb(221, 220, 220);
}


//esconder filtros relator e livre p/ não aparecer nos favoritos

input#busca-relator {
    background-image: url('../../img/pesquisaavancada/person3.png');
    background-repeat: no-repeat;
    background-position: 5px 8px;
    padding: 14px 20px 12px 45px;
}
.dropdown-content {
    display: none;
    position: relative;
    background-color: #fff;
}
.show {display:block;}

/* Informações das modais */

th{
  text-align: center;
  max-width: 130px;
}

//modal

.modal-content{
  padding: 0%;
}
.modal-body{
  padding: 0%;

}
.descricao{
  max-width: 600px;
}
.manifestacao{
  padding: 15px;
}
tr{
  margin: 5px;
  text-align: center;
}
.tabela-votos{
  width: 400px; 
  margin-left: auto; 
  margin-right: auto;
  margin-top: 10px;
}

.voto-favor, .voto-contra{
  font-weight: 600;
  font-size: 18px;
}
.voto-favor{
  color: #4cbb71;
}  
.voto-contra{
  color: #D9534F;
}

//badges modal
.badge-repercussao{
  background-color: #4cbb71;
}
.badge-merito-pendente{
  background-color: #D9534F;
}
.badge-suspensao{
  background-color: #3383dd;
}
.badge{
  margin-top: 10px;
  padding: 10px;
  z-index: auto;
  text-align: center;
  width: 200px;
  color: white;
}

tr{
  margin: 5px;
  text-align: center;
}

.badge-verde{
  background-color: #4cbb71;
  color: white;
}
.badge-vermelho{
  background-color: red;
}
.badge-azul{
  background-color: #3383dd;
}
.badge-preto{
  background-color: black;
  color: white;
}
.badge-cinza{
  background-color: #808080;
  color: #a9a7a7;
}
.badge{
  margin-top: 10px;
  padding: 10px;
  z-index: auto;
  text-align: center;
  width: 200px;
}

// icones 
.ok, .mer_julgado{
  color: $stfVerde;
}
.clear, .mer_pendente{
  color: rgb(207, 74, 70);
}
.suspensao{
  color: #3383dd;
}
i{
  cursor: pointer;
}
.more, .less, .seta{
  vertical-align: middle;
}
.add{
  vertical-align: bottom; 
  font-size: 1.2em
}
.filter-icon{
  vertical-align: bottom; 
  font-size: 1.5em;
}
.clear-icon {
  float: right;
  font-size: 21px;
}

input.opcao-filtro-rg {
  margin-bottom: 6px;
}
.conteudo-sessao-filtros > label{
  margin: 8px;
}
.add-mais-filtros {
  position: relative;
  top: 6px;
}

// botões na area de favoritos
.btn-fav{
  text-align: center;
  width: 99%;
  border: none;
  text-decoration: none;
  margin: 2px;
  font-weight: 600;
  position: relative;
}

.btn-fav.active{
  background-color: $stfAzul;
  color: white;
  font-weight: 600;
  text-decoration: none;
  border: transparent;
  box-shadow: none;
}

.input-fav{
  height: 0%;
  width: 0%;
}
// tabela repercussao geral

.tabela-rg, .tabela-rg > thead{
  margin-top: 0px;
}
//votos
.barra-sim{
  background-color: #4cbb71;
}
.barra-nao{
  background-color: #D9534F;
}
//dropdown de ações

#tabela-RG > tr > .td-num-tema{
  vertical-align: middle; 
  text-align:center;
}
#tabela-RG > tr > .td-acoes, #tabela-RG > tr > .td-votos{
  vertical-align: middle; 
}
.acao-item{
  color: #313131; 
  text-decoration: none;
}

.acao-item:hover{
  font-weight: 550;
  text-decoration: none;
  color: #313131; 
}

.btn-acoes{
  background-color: #00A7E6; 
  border: none; 
  border-radius: 4px; 
  color: white; 
  vertical-align: text-top
  
}

.btn-acoes:hover, .btn-acoes:focus{
  color: white;
  background-color: $stfAzulMenu;
}



.nome-filtro{
  display: none;
}
.nome-grupo-filtro {
  cursor: pointer;
}

/* Card relator */

div.tabelas-relatores {
  display: -webkit-inline-box;
  padding-top: 10px;

  .julgados, .pendentes {
    width: 50%;

    thead {
      color: #fff;
    }
    th {
      width: 25%;
    }
  }
  .pendentes thead {
    background-color: #333;
  }
  .julgados thead {
    background-color: #0505a5;
  }
}
#busca-tabela-julgados, #busca-tabela-pendentes {
  width: 20%;
  position: relative;
}
#busca-tabela-pendentes {
  float: right;
}
#busca-tabela-julgados {
  float: left;
}

.relacao-completa-filtro {
  position: relative;
  float: left;
  font-size: 12px;
  top: 3px;
  margin-left: 10px;
}
.info-icon {
  position: relative;
  float: right;
  top: 7px;
  margin-right: 10px;
}
.icon-print-graficos, .icon-download {
  position: relative;
  float: right;
  margin-left: 5px;
}
//nav
ul .nav-tabs {
  border-bottom: 2px solido $stfCinzaClaro;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border-width: 0;
}

.nav-tabs > li > a {
  border: none;
  color: $stfCinzaEscuro;
  margin-right: 40px;
  margin-left: 20px;
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
  border: none;
  color: $stfPreto;
  background: transparent;
}

.nav-tabs > li > a::after {
  content: "";
  background: $stfAzul;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}

.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
  transform: scale(1); 
}

.tab-content {
  padding: 0px;
}

.div_teste{
  // width: 125px;
  // height: 90px;
  background: white;
  color: #00a7e6;
  position: relative;
  z-index: 100;
  // border: 1px solid #00a7e6;
  border-radius: 5px;
}
//imagem dos ministros
.card-imagem-ministros{
  width:60px; 
  height:60px; 
  background-color:#666; 
  border-radius: 200px;
  cursor: pointer;
}

#lista_ministros{
  margin-top: 0px;
}
.cinza{
  filter: grayscale(100%)
}


/* google animation */

.container-filtros-rg{
  display: grid; 
  width: 62em; 
  background-color: rgba(99, 207, 247, 0.4);
}

.box-opcoes-filtros {
  border: none;
  position: relative;
  top: 15px;
  margin-top: 17px;
}
.box-opcoes-filtros:focus {
  outline: none;
}
.box-opcoes-filtros:focus ~ .titulo-opcao-filtro,
.box-opcoes-filtros:valid ~ .titulo-opcao-filtro {
  top: -2px;
  margin-top: 5px;
  font-size: 12px;
  color: white;
}
label.titulo-opcao-filtro {
  pointer-events: none;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
  position: absolute;
  top: 30px;
  left: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #979696;
}

.link-pesquisa-avancada-rg{
  color:black; 
  bottom: 35px; 
  right: 10px; 
  font-size: 14px;
}

.esconder-filtros, .limpar-filtros{
  color: white; 
  font-size: 16px; 
  
}
.esconder-filtros{
  float: right
}
.esconder-filtros:hover, .limpar-filtros:hover{
  font-weight: 600;
  color: white;
  text-decoration: none;
}

div.tabela-temas {
  .cabecalho-tabela {
    position: relative;
    top: 12px;
  }
  .conteudo-tabela-temas {
    border-bottom: 1px solid #D1C8C8;
  }
  .descricao-tema {
    text-align: justify;
  }
}

@media (max-width: 414px) {
  table.valores-temas {
    display: block;
    position: relative;
    width: 100%;
  }
  table.valores-temas {
    thead, tbody, th,
    td, tr {
     display: inline-block;
   }
  }
}
@media (max-width: 768px) {
  .tabela-temas, .busca-e-icones-tabela {
    display: none;
  }
}