@import "../../variaveis/cores";

a {
  cursor:pointer;
}
.card-titulo {
  margin-bottom: 0px;
}
.num_tema{
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}
.imagem-grafico {
  height: 220px;
}
.imagens-graficos {
  border: none
}
.card-graficos {
  height: 271.500px;
  margin-left: 15px;
}

/* Card de Temas */ 

table.valores-temas .valor{
  font-weight: bold;
  margin-top: -1px;
}
td > h4{
 color: $stfAzulHover;
 font-weight: 600;
 margin: 0px;
}

.card-titulo-over {
  margin-top: 0px;
}
// Tabela
h2#valor-reconhecida, h2#valor-merito-julgado {
  color: #4477AA;
}
h2#valor-negada {
  color: #D9534F;
}
h2#valor-em-analise, h2#valor-merito-n-julgado {
  color: #68B95C;
}
td#valor-tema-negada, td#valor-tema-em-analise {
  border-top: 0;
  padding-bottom: 12px;
}
td#valor-tema-merito-julgado, td#valor-tema-merito-n-julgado {
  border-top: 1px solid #f0eaea;
}

/* Dropdown de Ministros */

div.dropdown-relatores {
  .list-group-item {
    margin-bottom: 1px;
    padding: 5px 5px;
    display: inline-block;

    hr {
      margin: 10px;
    }
    h5, .link-modal-relator {
      text-align: right;
    }
    .link-modal-relator {
      font-size: 95%;
    }
    img {
      position: relative;
      float: left;
    }
  }
}
input#busca-relator {
    border-box: box-sizing;
    background-image: url('../../img/pesquisaavancada/person3.png');
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    cursor: pointer;
    margin: 5px 0px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
}
.show {display:block;}

/* Informações das modais */

th{
  text-align: center;
  max-width: 130px;
}
.modal-content{
  padding: 10px;
}
.descricao{
  max-width: 600px;
}

tr{
  margin: 5px;
  text-align: center;
}

.badge-repercussao{
  background-color: #4cbb71;
  color: white;
}
.badge-suspensao{
  background-color: #3383dd;
}
.badge{
  margin-top: 10px;
  padding: 10px;
  z-index: auto;
  text-align: center;
  width: 200px;
}

// icones 
.ok, .mer_julgado{
  color: $stfVerde;
}
.clear, .mer_pendente{
  color: rgb(207, 74, 70);
}
.suspensao{
  color: #3383dd;
}

i{
  cursor: pointer;
}

.less{
  display: none;
}
.add{
  vertical-align: bottom; 
  font-size: 1.2em
}
.filter-icon{
  vertical-align: bottom; 
  font-size: 1.5em;
}
/* Tab dos filtros */

div.principal-tab-filtros{
  width: 100%;
  background-color: transparent;
  padding: 5px !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.menu-tab-filtros div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.menu-tab-filtros div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.conteudo-sessao-filtros{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}
div.conteudo-tab-filtros div.conteudo-sessao-filtros:not(.active){
  display: none;
}
div.list-group-menu .list-group-item {
  display: inline-block;
  margin-bottom: 0;
  margin-left:-4px;
  margin-right: 0;
}
div.list-group-menu .list-group-item:first-child {
  border-top-right-radius:0;
  border-bottom-left-radius:4px;
}
div.list-group-menu .list-group-item:last-child {
  border-top-right-radius:4px;
  border-bottom-left-radius:0;
}
.list-group-item.active, .list-group-item.active:focus{
  background-color: $stfAzulClaro;
  border-color: $stfAzulClaro;
}
input.pesquisa-livre {
  background-image: url('../../img/pesquisaavancada/search.png');
  background-position: 5px 6px;
  background-repeat: no-repeat;
  padding: 9px 20px 9px 35px;
  margin-top: -17px;
}
input.opcao-filtro-rg {
  margin-bottom: 6px;
}
.conteudo-sessao-filtros > label{
  margin: 8px;
}

//conteudo da pesquisa tabs

.btn-link{
  width: 100%;
}

// botões na area de favoritos
.btn-fav{
  text-align: center;
  width: 99%;
  border: none;
  text-decoration: none;
  margin: 2px;
  font-weight: 600;
  position: relative;
}

.btn-fav.active{
  background-color: $stfAzul;
  color: white;
  font-weight: 600;
  text-decoration: none;
  border: transparent;
  box-shadow: none;
}

.input-fav{
  height: 0%;
  width: 0%;
}

.tabela-rg, .tabela-rg > thead{
  border: 1px solid #f0eaea;
  margin-top: 20px;
}

.nome-filtro{
  display: none;
}

/* Card relator */

div.tabelas-relatores {
  display: -webkit-inline-box;
  padding-top: 10px;

  .julgados, .pendentes {
    width: 50%;

    thead {
      color: #fff;
    }
    th {
      width: 25%;
    }
  }
  .pendentes thead {
    background-color: #333;
  }
  .julgados thead {
    background-color: #0505a5;
  }
}
#busca-tabela-julgados, #busca-tabela-pendentes {
  width: 20%;
  position: relative;
}
#busca-tabela-pendentes {
  float: right;
}
#busca-tabela-julgados {
  float: left;
}
