@import "../../variaveis/cores";

/**************************************************************************************************
CONFIGURAÇÕES GERAIS
**************************************************************************************************/
a {
  cursor:pointer;
}

/**************************************************************************************************
CONFIGURAÇÃO DO CARD DE TEMAS
**************************************************************************************************/
.container-temas{
    h2 {font-weight: bold;}
    .card-de-temas {overflow-x: auto;}
}

/**************************************************************************************************
CONFIGURAÇÃO DO CARD DA TABELA TEMAS
**************************************************************************************************/
@media (max-width: 768px) {.tabela-temas {display: none;}}

/*
* NAV (NAVEGAÇÃO TABELA E GRAFICOS)
*/
.container-tabela-e-graficos {
    .nav-tabs {border-bottom: 2px solido $stfCinzaClaro;}
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover {border-width: 0;}
    .nav-tabs > li > a {border: none;color: $stfCinzaEscuro;}
    .nav-tabs > li.active > a,
    .nav-tabs > li > a:hover {
        border: none;
        color: $stfPreto;
        background: transparent;
    }
    .nav-tabs > li > a::after {
        content: "";
        background: $stfAzul;
        height: 2px;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -1px;
        transition: all 250ms ease 0s;
        transform: scale(0);
    }
    .nav-tabs > li.active > a::after,
    .nav-tabs > li:hover > a::after {transform: scale(1);}

    #graficos-de-temas img{width: 49%;}
}

/**************************************************************************************************
CONFIGURAÇÃO DO FILTRO DE PESQUISA AVANCADA
**************************************************************************************************/
.card-imagem-ministros{
  width:60px; 
  height:60px; 
  background-color:#666; 
  border-radius: 200px;
  cursor: pointer;
}
.cinza{filter: grayscale(100%)}
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
  .cinza{
   opacity: 0.65;
 } 
 .container-filtros-rg{
    height: 500px;
    top: 50px;
    width: 63em;
    margin-bottom: 5px;
  }
} 
.container-filtros-rg{
  display: grid; 
  width: 62em;
  grid-template-rows: 0.5em 6em 4.5em 4.5em 4.5em 4.5em 4.5em; 
  background-color: rgba(99, 207, 247, 0.4);
}

/*
* ANIMAÇÃO DOS INPUTS
*/
.box-opcoes-filtros {
  border: none;
  position: relative;
  top: 15px;
  margin-top: 17px;
}
.box-opcoes-filtros:focus {outline: none;}
.box-opcoes-filtros:focus ~ .titulo-opcao-filtro,
.box-opcoes-filtros:valid ~ .titulo-opcao-filtro {
  top: 7px;
  margin-top: 5px;
  font-size: 12px;
  color: white;
}
.titulo-opcao-filtro {
  pointer-events: none;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
  position: absolute;
  top: 39px;
  left: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #979696;
}

.link-pesquisa-avancada-rg{
  color:black; 
  right: 10px; 
  font-size: 14px;
}
.esconder-filtros, .limpar-filtros{
  color: white; 
  font-size: 16px; 
}
.esconder-filtros{
  float: right
}
.esconder-filtros:hover, .limpar-filtros:hover{
  font-weight: 600;
  color: white;
  text-decoration: none;
}

/* ALTERAR */

// /* Card relator */

// div.tabelas-relatores {
//   display: -webkit-inline-box;
//   padding-top: 10px;

//   .julgados, .pendentes {
//     width: 50%;

//     thead {
//       color: #fff;
//     }
//     th {
//       width: 25%;
//     }
//   }
//   .pendentes thead {
//     background-color: #333;
//   }
//   .julgados thead {
//     background-color: #0505a5;
//   }
// }
// #busca-tabela-julgados, #busca-tabela-pendentes {
//   width: 20%;
//   position: relative;
// }
// #busca-tabela-pendentes {
//   float: right;
// }
// #busca-tabela-julgados {
//   float: left;
// }


// .div_teste{
//   // width: 125px;
//   // height: 90px;
//   background: white;
//   color: #00a7e6;
//   position: relative;
//   z-index: 100;
//   // border: 1px solid #00a7e6;
//   border-radius: 5px;
// }

// @media (max-width: 414px) {
//   table.valores-temas {
//     display: block;
//     position: relative;
//     width: 100%;
//   }
//   table.valores-temas {
//     thead, tbody, th,
//     td, tr {
//      display: inline-block;
//    }
//   }
// }
// @media (max-width: 768px) {
//   .tabela-temas, .busca-e-icones-tabela {
//     display: none;
//   }
// }