/*@import "../../utils/cores";*/

.campo-texto-repgeral {
    width: 100% !important;
}

.acompanhe-votacoes-imagem {
    width: 80px;     
    height: 77px;     
}

.lista-item-texto small, .lista-item-texto strong {
    color: black !important;
} 
.card-subtitulo a {
    font-size: 0.875rem !important;
} 

.btn-small {
    padding: 0 14px;
    font-size: 0.7rem;
}

hr {
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);    
}
    

