<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Supremo Tribunal Federal</title>
  <link rel="icon" type="imagem/png" href="<%= require('assets/img/favicon.ico') %>" />
</head>
<body>
  <div id="main" class="container-fluid p-0">

    <%- include src/includes/header.html %>

    <%- include src/includes/pesquisa.html %>

    <section id="conteudo" class="container-fluid m-0 p-0 m-t-16 m-r-8 m-l-8" >
      <div class="row container center-block p-0">
        <div id="estatisticas-transparencia">
          <div class="col-xs-12 col-sm-4 col-md-4 m-0 p-xs-0 p-sm-8 p-b-8 ">
            <div class="estatisticas-transparencia card m-b-24">
              <div class="card-titulo">Orçamento Atual</div>
              <div class="card-conteudo">
                <div class="qlik-numero">
                  <span class="cifrao">R$</span>644,54<span class="cifrao">Milhões</span>
                </div>
                <div class="rotulo-transparencia m-b-8">
                  Orçamento de 2017 <br />
                  <span class="card-topico-conteudo"><small> Fonte: Portal de Transparência</small></span>
                </div>
                <div class="row m-8">
                  <div class="col-md-12 p-0">
                    <a id="estatisticasTransparencia" class="btn btn-default-bordered btn-raised btn-upper btn-fluid btn-transparencia" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=centralDoCidadaoAcessoInformacaoGestaoOrcamentaria" target="_blank">Ver mais estatísticas</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 m-0 p-xs-0 p-sm-8 p-b-8 ">
            <div id="pessoas-transparencia" class="pessoas-transparencia card m-b-24">
              <div class="card-titulo">Pessoas</div>
              <div class="card-conteudo">
                <div class="qlik-numero">
                  1.783
                </div>
                <div class="rotulo-transparencia m-b-8">
                  Servidores, Ministros e Juízes <br />
                  <span class="card-topico-conteudo"><small> Fonte: Portal de Informações Gerenciais</small></span>
                </div>
                <div class="row m-8">
                  <div class="col-md-12 p-0">
                    <a id="consulteRemuneracoes" class="btn btn-default-bordered btn-raised btn-upper btn-fluid btn-transparencia" href="http://www.stf.jus.br/portal/remuneracao/pesquisarRemuneracao.asp" target="_blank">Consulte as remunerações</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 m-0 p-xs-0 p-sm-8 p-b-8 ">
            <div id="licitacoes-transparencia" class="licitacoes-transparencia card m-b-24">
              <div class="card-titulo">Licitações</div>
              <div class="card-conteudo">
                <div class="qlik-numero">
                  14
                </div>
                <div class="rotulo-transparencia m-b-8">
                  Licitações em andamento <br />
                  <span class="card-topico-conteudo"><small> Fonte: Portal de Transparência</small></span>
                </div>
                <div class="row m-8">
                  <div class="col-md-12 p-0">
                    <a id="baixeEditais" class="btn btn-default-bordered btn-raised btn-upper btn-fluid btn-transparencia" href="http://www.stf.jus.br/portal/edital/listarEdital.asp" target="_blank">Baixe editais e acompanhe</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 m-0 p-xs-0 p-sm-8 p-b-8 ">
            <div id="compras-transparencia" class="compras-transparencia card m-b-24">
              <div class="card-titulo">Orçamento Executado</div>
              <div class="card-conteudo">
                <div class="qlik-numero">
                  <span class="cifrao">R$</span>309,80<span class="cifrao">Milhões</span>
                </div>
                <div class="rotulo-transparencia m-b-8">
                  Orçamento executado até Ago/2017 <br />
                  <span class="card-topico-conteudo"><small> Fonte: Portal de Transparência</small></span>
                </div>
                <div class="row m-8">
                  <div class="col-md-12 p-0">
                    <a id="pesquiseCompras" class="btn btn-default-bordered btn-raised btn-upper btn-fluid btn-transparencia" href="http://www.stf.jus.br/portal/contaPublicaCompra/pesquisarCompra.asp" target="_blank">Pesquise as compras</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 m-0 p-xs-0 p-sm-8 p-b-8 ">
            <div id="despesas-transparencia" class="despesas-transparencia card m-b-24">
              <div class="card-titulo">Despesas diárias</div>
              <div class="card-conteudo">
                <div class="qlik-numero">
                  <span class="cifrao">R$</span>1.279,68<span class="cifrao">Milhões</span>
                </div>
                <div class="rotulo-transparencia m-b-8">
                  Total de despesas em 2017 <br />
                  <span class="card-topico-conteudo"><small> Fonte: Portal de Transparência</small></span>
                </div>
                <div class="row m-8">
                  <div class="col-md-12 p-0">
                    <a id="pesquiseDespesas" class="btn btn-default-bordered btn-raised btn-upper btn-fluid btn-transparencia" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=transparenciaExecucaoDespesa" target="_blank">Pesquise as despesas</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 m-0 p-xs-0 p-sm-8 p-b-8 ">
            <div id="contratos-transparencia" class="contratos-transparencia card m-b-24">
              <div class="card-titulo">Contratos</div>
              <div class="card-conteudo">
                <div class="qlik-numero">
                  442
                </div>
                <div class="rotulo-transparencia m-b-8">
                  Contratos vigentes <br />
                  <span class="card-topico-conteudo"><small> Fonte: Portal de Transparência</small></span>
                </div>
                <div class="row m-8">
                  <div class="col-md-12 p-0">
                    <a id="vejaContratos" class="btn btn-default-bordered btn-raised btn-upper btn-fluid btn-transparencia" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=transparenciaRelatorioContratos&pagina=principal" target="_blank">Veja os contratos</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>




      </div>
    </section>
    <section id="concursos" class="concursos m-b-24">
      <div class="container center-block p-0">
        <div>
          <h3>Concursos e Cargos Públicos</h3>
          <div class="concursos-conteudo">
            <div class="col-md-4">
                <a id="concursos1999" class="btn btn-default-bordered btn-raised btn-upper btn-fluid btn-transparencia" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=sobreStfConcursoPublico" target="_blank">Concursos a partir de 1999</a>
            </div>
            <div class="col-md-3">
                <a id="cargosVagosOcupados" class="btn btn-default-bordered btn-raised btn-upper btn-fluid btn-transparencia" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=transparenciaQuantitativoPessoal" target="_blank">Cargos vagos e ocupados</a>
            </div>
            <div class="col-md-2">
                <a id="concursosLegislacao" class="btn btn-default-bordered btn-raised btn-upper btn-fluid btn-transparencia" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=legislacaoPlanaltoSenado" target="_blank">Legislação</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="conheca-mais" class="container-fluid m-0 p-0 m-b-24">
      <div class="row container center-block p-0">
        <div>
          <h3>Conheça mais Sobre o STF</h3>
          <div id="conheca-mais-conteudo" class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 p-l-0 p-r-16 p-xs-0">
              <div class="card-azul-transparencia m-0 p-r-16 p-l-16 __fundo-azul">
                <div id="servicos-conheca-mais" class="m-0">
                  <div class="card-conteudo p-b-0">
                    <div class="row m-0">
                      <div class="p-0">
                        <div class="card-titulo-conheca-mais m-0 m-b-8 m-t-8">Serviços ao Cidadão</div>
                        <div class="card-caixa-texto-conheca-mais"><h4>Coletânea dos principais serviços prestados.</h4></div>
                      </div>
                      <div class="row m-0 p-0">
                        <div class="col-md-12 p-0">
                          <a id="listaServicosCidadao" class="btn btn-default-bordered btn-raised btn-upper btn-fluid btn-transparencia" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=centralDoCidadaoAcessoInformacao&pagina=sobreCentralCidadao" target="_blank">Quero ver a lista de serviços</a>
                        </div>
                        <div class="col-md-12 p-0">
                          <a id="listaServicosCidadao" class="btn btn-default-bordered btn-raised btn-upper btn-fluid btn-transparencia" href="https://sistemas.stf.jus.br/sei/controlador_externo.php?acao=usuario_externo_logar&id_orgao_acesso_externo=0" target="_blank">Acesse o SEI</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 p-l-16 p-r-16 p-xs-0">
              <div class="card-azul-transparencia m-0 p-r-16 p-l-16 __fundo-azul">
                <div id="institucional-conheca-mais" class="m-0">
                  <div class="card-conteudo p-b-0">
                    <div class="row m-0">
                      <div class="p-0">
                        <div class="card-titulo-conheca-mais m-0 m-b-8 m-t-8">Institucional</div>
                        <div class="card-caixa-texto-conheca-mais"><h4>Informações relacionadas à história do STF, competência, estrutura funcional, composição e demais aspectosinstitucionais.</h4></div>
                      </div>
                      <div class="row m-0 p-0">
                        <div class="col-md-12 p-0">
                          <a id="conhecerOSTF" class="btn btn-default-bordered btn-raised btn-upper btn-fluid btn-transparencia" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=sobreStfConhecaStfInstitucional" target="_blank">Quero conhecer o STF</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 p-l-16 p-r-0 p-xs-0">
              <div class="card-azul-transparencia m-0 p-r-16 p-l-16 p-b-8 __fundo-azul">
                <div id="estrategia-conheca-mais" class="m-0">
                  <div class="card-conteudo p-b-0">
                    <div class="row m-0">
                      <div class="p-0">
                        <div class="card-titulo-conheca-mais m-0 m-b-8 m-t-8">Estratégia do STF</div>
                      </div>
                      <div class="row m-0 p-0">
                        <div class="col-md-12 p-0">
                          <a id="planejamento2020" class="btn btn-default-bordered btn-raised btn-upper btn-fluid btn-transparencia" href="http://www.stf.jus.br/arquivo/cms/centralDoCidadaoAcessoInformacaoGestaoEstrategica/anexo/PEConsolidadoRevisoAbril_2017.pptx" target="_blank">Planejamento rumo a 2020</a>
                        </div>
                      </div>
                      <div class="row m-0 p-0">
                        <div class="col-md-12 p-0">
                          <a id="atividades2016" class="btn btn-default-bordered btn-raised btn-upper btn-fluid btn-transparencia" href="http://stf.jus.br/relatorio2016/" target="_blank">Relatório de Atividades 2016</a>
                        </div>
                      </div>
                      <div class="row m-0 p-0">
                        <div class="col-md-12 p-0">
                          <a id="atividades2016" class="btn btn-default-bordered btn-raised btn-upper btn-fluid btn-transparencia" href= "http://www.stf.jus.br/arquivo/cms/noticiaNoticiaStf/anexo/RelatrioCompletodaGesto1ano_MinistraCrmenLcia.pdf" target="_blank">Relatório 1 ano de gestão</a>
                        </div>
                      </div>
                      <div class="row m-0 p-0">
                        <div class="col-md-12 p-0">
                          <a id="estrategiaMaisIformacoes" class="btn btn-default-bordered btn-raised btn-upper btn-fluid btn-transparencia" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=centralDoCidadaoAcessoInformacaoGestaoEstrategica" target="_blank">Mais informações</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="gestao-transparencia" class="container-fluid m-0 p-0">
      <div class="row container center-block p-0">
        <div class="col-xs-12 col-sm-6 col-md-8 row p-0 m-0">
          <div id="gestao-pessoas" class="card m-b-48">
            <div class="card-titulo">Gestão de Pessoas</div>
            <div class="card-conteudo row m-0 m-t-16 b-b-16 p-0">
              <div class="col-md-6 col-lg-4">
                <div class="card-caixa-texto m-b-16">
                  <h4 class="m-0 m-t-8 m-b-16">Demonstrativo de pessoal</h4>
                  <ul>
                    <li><a id="quantitativoServidores" href="http://www.stf.jus.br/arquivo/cms/transparenciaQuantitativoPessoal/anexo/QuantitativodePessoalServidores.pdf" target="_blank">Quantitativo de servidores</a></li>
                    <li><a id="remuneracaoServidores" href="http://www.stf.jus.br/arquivo/cms/transparenciaQuantitativoPessoal/anexo/REMUNERACAOSERVIDORES.pdf" target="_blank">Remuneração de servidores</a></li>
                    <li><a id="membrosDemonstrativo" href="http://www.stf.jus.br/arquivo/cms/transparenciaQuantitativoPessoal/anexo/QuantitativodePessoalMembros.pdf" target="_blank">Membros do Tribunal</a></li>
                    <li><a id="servidoresEfetivos" href="http://www.stf.jus.br/arquivo/cms/transparenciaServidorEfetivo/anexo/TransparenciaServidoresefetivos.pdf" target="_blank">Servidores efetivos</a></li>
                    <li><a id="outrosQuantitativos" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=centralDoCidadaoAcessoInformacaoGestaoPessoa" target="_blank">Outros quantitativos...</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="card-caixa-texto m-b-16">
                  <h4 class="m-0 m-t-8 m-b-16">Mais informações</h4>
                  <ul>
                    <li><a id="membrosMaisInformacoes" href="http://www.stf.jus.br/arquivo/cms/transparenciaQuantitativoPessoal/anexo/QuantitativodePessoalMembros.pdf" target="_blank">Membros do Tribunal</a></li>
                    <li><a id="magistradosConvocados" href="http://www.stf.jus.br/arquivo/cms/transparenciaMagistradoConvocado/anexo/TransparenciaMagistradosConvocados.pdf" target="_blank">Magistrados convocados</a></li>
                    <li><a id="servidoresETerceirizados" href="http://www.stf.jus.br/arquivo/cms/transparenciaPostoTrabalho/anexo/TerceirizadosSTFcomCPF20170608.pdf" target="_blank">Servidores e terceirizados</a></li>
                  </ul>
                </div>
                <div class="col-md-2 p-0"></div>
                  <div class="col-md-12 p-0">
                    <a id="cargosVagosEOcupados" class="btn btn-default-bordered btn-raised btn-upper btn-fluid btn-transparencia btn-duplo-transparencia" href="http://www.stf.jus.br/arquivo/cms/sobreStfConcursoPublico/anexo/Qtd_vagas_20.07.2017.pdf" target="_blank">Cargos vagos e<br>ocupados</a>
                  </div>
                  <div class="col-md-2 p-0"></div>
              </div>

              <div class="col-md-12 col-lg-4 row m-0 m-b-16">
                <div class="col-md-6 col-lg-12 p-0 p-l-md-16">
                  <div class="card-caixa-texto m-b-8 p-8 __fundo-azul">
                    <div class="card-titulo-gestao-pessoas p-0 p-b-16">Consulte as indenizações</div>
                    <a id="auxilioMoradia" class="btn btn-default-bordered btn-raised btn-fluid btn-upper btn-transparencia" target="_blank" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=transparenciaAuxilioMoradia">Auxílio moradia</a>
                    <a id="ajudaCusto" class="btn btn-default-bordered btn-raised btn-fluid btn-upper btn-transparencia" target="_blank" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=transparenciaAjudaCustos">Ajuda de custo</a>
                    <a id="passagens" class="btn btn-default-bordered btn-raised btn-fluid btn-upper btn-transparencia" target="_blank" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=transparenciaPassagens">Passagens</a>
                    <a id="diarias" class="btn btn-default-bordered btn-raised btn-fluid btn-upper btn-transparencia" target="_blank" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=transparenciaDiarias">Diárias</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="gestao-orcamentaria" class="card m-b-48">
            <div class="card-titulo">Gestão Orçamentária e Financeira</div>
            <div class="card-conteudo row m-0 m-t-16 b-b-16 p-16">
              <div class="card-caixa-texto-gestao-transparencia card-caixa-texto m-0 p-8">
                <div class="col-md-6">
                  <ul>
                    <li><a id="execucaoDespesas" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=transparenciaExecucaoDespesa" target="_blank">Execução de despesas</a></li>
                    <li><a id="execucaoOrcamentaria" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=transparenciaExecucaoOrcamentaria" target="_blank">Execução orçamentária</a></li>
                    <li><a id="limitacaoEmpenho" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=transparenciaLimitacaoEmpenho" target="_blank">Limitação de Empenho</a></li>
                    <li><a id="descentralizaCreditos" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=transparenciaDescentralizacaoCreditos" target="_blank">Descentralização de créditos (Destaques recebidos/concedidos</a></li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul>
                    <li><a id="receitas" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=transparenciaReceita" target="_blank">Receitas</a></li>
                    <li><a id="recursosTeseouro" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=transparenciaRecursoTesouro" target="_blank">Recursos do Tesouro</a></li>
                    <li><a id="relatorioGestaoFiscal" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=transparenciaRelatorioGestaoFiscal" target="_blank">Relatório de Gestão Fiscal</a></li>
                    <li><a id="relatorioSimplificado" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=transparenciaRelatorioSimplificado" target="_blank">Relatório Simplificado</a></li>
                    <li><a id="restosAPagar" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=transparenciaRestoPagar" target="_blank">Restos a Pagar</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Cards laterais -->
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 p-0 p-l-16 m-0">
          <div id="despesas-diversas" class="despesas-diversas card m-b-24">
            <div class="card-titulo">Despesas diversas</div>
            <div class="card-conteudo">
              <ul>
                <li><a id="consumoAgua" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=consumoAgua" target="_blank">Consumo de Água</a></li>
                <li><a id="consumoEnergia" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=consumoEnergiaEletrica" target="_blank">Consumo de Energia Elétrica</a></li>
                <li><a id="consumoPapel" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=consumoPapelImpressao" target="_blank">Consumo de Papel para Impressão</a></li>
                <li><a id="veiculos" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=transparenciaVeiculos" target="_blank">Veículos</a></li>
                <li><a id="obrasEReformas" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=transparenciaObrasReformas" target="_blank">Obras e Reformas</a></li>
              </ul>
            </div>
          </div>
          <div id="controle-interno" class="controle-interno card m-b-24">
            <div class="card-titulo">Controle Interno e Externo</div>
            <div class="card-conteudo">
              <ul>
                <li><a id="auditoria" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=centralDoCidadaoAcessoInformacaoAuditoria" target="_blank">Auditoria</a></li>
                <li><a id="prestacaoContas" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=centralDoCidadaoAcessoInformacaoAuditoria&pagina=PrestacaoContasAnual" target="_blank">Prestação de contas</a></li>
              </ul>
            </div>
          </div>
          <h3>Não encontrou o que procura?</h3>
          <div class="card-conteudo">
            <div class="card-caixa-texto-nao-encontrou m-0 m-b-16">
              <ul>
                  <li><a id="centralCidadao" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=centralDoCidadaoAcessoInformacao&pagina=sobreCentralCidadao" target="_blank">Central do Cidadão</a></li>
                  <li><a id="acessoAInformacao" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=centralDoCidadaoAcessoInformacaoLeiAcesso" target="_blank">Acesso à Informação</a></li>
                  <li><a id="linksUteis" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=centralDoCidadaoLinksUteis" target="_blank">Links úteis para outros órgãos e entidades</a></li>
                  <li><a id="contatos" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=centralDoCidadaoAcessoInformacaoContato" target="_blank">Contatos</a></li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </section>


    <%- include src/includes/mapa-do-site.html %>

    <%- include src/includes/footer.html %>
  </div>
</body>
</html>
