<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Supremo Tribunal Federal</title>
</head>
<body>
  <div id="main" class="container-fluid p-0">
    <%- include src/includes/header.html %>

    <%- include src/includes/pesquisa-transparencia.html %>

    <section id="conteudo" class="container-fluid m-0 p-0" >
      <div class="row container center-block p-0">
        <div id="estatisticas-transparencia" class="row">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 row m-0 p-xs-0 p-sm-8 p-b-8 ">
            <div id="estatisticas-transparencia" class="estatisticas-transparencia card m-b-24">
              <div class="card-titulo card-titulo-verde">Estatísticas Processuais</div>
              <div class="card-conteudo card-conteudo-verde">
                <div class="numero-transparencia numero-transparencia-verde">
                  49.848
                </div>
                <div class="rotulo-transparencia m-b-16">
                  Decisões em 2017
                </div> 
                <div id="acessar-portal-noticias" class="row m-0 m-t-8 m-r-8 m-l-8 m-b-16">
                  <div class="col-md-2 p-0"></div>
                    <div class="col-md-12 p-0">
                      <button class="btn btn-default-bordered btn-raised btn-upper btn-fluid btn-transparencia">Ver mais estatísticas</button>
                    </div>
                  <div class="col-md-2 p-0"></div>
            </div> 
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 row m-0 p-xs-0 p-sm-8 p-b-8 ">
            <div id="pessoas-transparencia" class="pessoas-transparencia card m-b-24">
              <div class="card-titulo">Pessoas</div>
              <div class="card-conteudo">
                <div class="numero-transparencia">
                  2.234
                </div>
                <div class="rotulo-transparencia m-b-16">
                  Servidores, Ministros e Juízes
                </div> 
                <div id="acessar-portal-noticias" class="row m-0 m-t-8 m-r-8 m-l-8 m-b-16">
                  <div class="col-md-2 p-0"></div>
                    <div class="col-md-12 p-0">
                      <button class="btn btn-default-bordered btn-raised btn-upper btn-fluid btn-transparencia">Consulte as remunerações</button>
                    </div>
                  <div class="col-md-2 p-0"></div>
            </div> 
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 row m-0 p-xs-0 p-sm-8 p-b-8 ">
            <div id="licitacoes-transparencia" class="licitacoes-transparencia card m-b-24">
              <div class="card-titulo">Licitações</div>
              <div class="card-conteudo">
                <div class="numero-transparencia">
                  87
                </div>
                <div class="rotulo-transparencia m-b-16">
                  Licitações em andamento
                </div> 
                <div id="acessar-portal-noticias" class="row m-0 m-t-8 m-r-8 m-l-8 m-b-16">
                  <div class="col-md-2 p-0"></div>
                    <div class="col-md-12 p-0">
                      <button class="btn btn-default-bordered btn-raised btn-upper btn-fluid btn-transparencia">Baixe editais e acompanhe</button>
                    </div>
                  <div class="col-md-2 p-0"></div>
            </div> 
              </div>
            </div>
          </div>                
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 row m-0 p-xs-0 p-sm-8 p-b-8 ">
            <div id="compras-transparencia" class="compras-transparencia card m-b-24">
              <div class="card-titulo card-titulo-vermelho">Compras</div>
              <div class="card-conteudo card-conteudo-vermelho">
                <div class="numero-transparencia numero-transparencia-vermelho">
                  <span class="cifrao"> R$ </span> 322 milhões
                </div>
                <div class="rotulo-transparencia m-b-16">
                  Total de compras em 2017
                </div> 
                <div id="acessar-portal-noticias" class="row m-0 m-t-8 m-r-8 m-l-8 m-b-16">
                  <div class="col-md-2 p-0"></div>
                    <div class="col-md-12 p-0">
                      <button class="btn btn-default-bordered btn-raised btn-upper btn-fluid btn-transparencia">Pesquise as compras</button>
                    </div>
                  <div class="col-md-2 p-0"></div>
            </div> 
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 row m-0 p-xs-0 p-sm-8 p-b-8 ">
            <div id="despesas-transparencia" class="despesas-transparencia card m-b-24">
              <div class="card-titulo card-titulo-vermelho">Despesas</div>
              <div class="card-conteudo card-conteudo-vermelho">
                <div class="numero-transparencia numero-transparencia-vermelho">
                  <span class="cifrao"> R$ </span> 1,3 bilhões
                </div>
                <div class="rotulo-transparencia m-b-16">
                  Total de despesas em 2017
                </div> 
                <div id="acessar-portal-noticias" class="row m-0 m-t-8 m-r-8 m-l-8 m-b-16">
                  <div class="col-md-2 p-0"></div>
                    <div class="col-md-12 p-0">
                      <button class="btn btn-default-bordered btn-raised btn-upper btn-fluid btn-transparencia">Pesquise as despesas</button>
                    </div>
                  <div class="col-md-2 p-0"></div>
            </div> 
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 row m-0 p-xs-0 p-sm-8 p-b-8 ">
            <div id="contratos-transparencia" class="contratos-transparencia card m-b-24">
              <div class="card-titulo">Contratos</div>
              <div class="card-conteudo">
                <div class="numero-transparencia">
                  34
                </div>
                <div class="rotulo-transparencia m-b-16">
                  Contratos vigentes
                </div> 
                <div id="acessar-portal-noticias" class="row m-0 m-t-8 m-r-8 m-l-8 m-b-16">
                  <div class="col-md-2 p-0"></div>
                    <div class="col-md-12 p-0">
                      <button class="btn btn-default-bordered btn-raised btn-upper btn-fluid btn-transparencia">Veja os contratos</button>
                    </div>
                  <div class="col-md-2 p-0"></div>
                </div> 
              </div>
            </div>
          </div>          
        </div>  
        



      </div>
    </section>
    <section id="concursos" class="concursos row m-b-24">
      <div class="container center-block p-0">
        <div>
          <h3>Concursos e Cargos Públicos</h3>
          <div class="concursos-conteudo">
            <div class="col-md-4">
                <button class="btn btn-default-bordered btn-raised btn-upper btn-fluid btn-transparencia">Concursos a partir de 1999</button>
            </div>
            <div class="col-md-3">
                <button class="btn btn-default-bordered btn-raised btn-upper btn-fluid btn-transparencia">Cargos vagos e ocupados</button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-default-bordered btn-raised btn-upper btn-fluid btn-transparencia">Legislação</button>
            </div>    
          </div>
        </div>
      </div>    
    </section>

    <section id="conheca-mais" class="container-fluid m-0 p-0 m-b-24">
      <div class="row container center-block p-0">
        <div>
          <h3>Conheça mais Sobre o STF</h3>
          <div id="conheca-mais-conteudo" class="row">
            <div class="card-azul-transparencia col-xs-12 col-sm-3 col-md-3 m-r-16 m-l-16 col-lg-3 row m-0 p-xs-0 p-sm-8 p-b-8 __fundo-azul">
              <div id="servicos-conheca-mais" class="m-b-24">
                <div class="card-conteudo p-b-0">
                  <div class="row m-0">
                    <div class="p-0 p-b-16">
                      <div class="card-titulo-conheca-mais m-0 m-b-8">Serviços ao Cidadão</div>
                      <div class="card-caixa-texto-conheca-mais"><h4>Coletânea dos principais serviços prestados ao cidadão, sejam eles judiciais ou administrativos.</h4></div>
                    </div>
                    <div class="row m-0 p-0">
                      <div class="col-md-2 p-0"></div>
                      <div class="col-md-12 p-0">
                        <button class="btn btn-default-bordered btn-raised btn-upper btn-fluid btn-transparencia">Quero ver a lista de serviços</button>
                      </div>
                    <div class="col-md-2 p-0"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-azul-transparencia col-xs-12 col-sm-3 col-md-3 m-r-16 m-l-16 col-lg-3 row m-0 p-xs-0 p-sm-8 p-b-8 __fundo-azul">  
              <div id="institucional-conheca-mais" class="m-b-24">
                <div class="card-conteudo p-b-0">
                  <div class="row m-0">
                    <div class="p-0 p-b-16">
                      <div class="card-titulo-conheca-mais m-0 m-b-8">Institucional</div>
                      <div class="card-caixa-texto-conheca-mais"><h4>Informações relacionadas `história do STF, competência, estrutura funcional, composição e demais aspectosinstitucionais.</h4></div>
                    </div>
                    <div class="row m-0 p-0">
                      <div class="col-md-2 p-0"></div>
                      <div class="col-md-12 p-0">
                        <button class="btn btn-default-bordered btn-raised btn-upper btn-fluid btn-transparencia">Quero conhecer o STF</button>
                      </div>
                    <div class="col-md-2 p-0"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-azul-transparencia col-xs-12 col-sm-3 col-md-3 m-r-16 m-l-16 col-lg-3 row m-0 p-xs-0 p-sm-8 p-b-8 __fundo-azul">  
              <div id="estrategia-conheca-mais" class="m-b-24">
                <div class="card-conteudo p-b-0">
                  <div class="row m-0">
                    <div class="p-0 p-b-16">
                      <div class="card-titulo-conheca-mais m-0 m-b-8">Estratégia do STF</div>
                    </div>
                    <div class="row m-0 p-0">
                      <div class="col-md-2 p-0"></div>
                      <div class="col-md-12 p-0">
                        <button class="btn btn-default-bordered btn-raised btn-upper btn-fluid btn-transparencia">Planejamento rumo a 2020</button>
                      </div>
                    <div class="col-md-2 p-0"></div>
                    </div>
                    <div class="row m-0 p-0">
                      <div class="col-md-2 p-0"></div>
                      <div class="col-md-12 p-0">
                        <button class="btn btn-default-bordered btn-raised btn-upper btn-fluid btn-transparencia">Relatório de Atividades 2016</button>
                      </div>
                    <div class="col-md-2 p-0"></div>
                    </div>
                    <div class="row m-0 p-0">
                      <div class="col-md-2 p-0"></div>
                      <div class="col-md-12 p-0">
                        <button class="btn btn-default-bordered btn-raised btn-upper btn-fluid btn-transparencia">Mais informações</button>
                      </div>
                    <div class="col-md-2 p-0"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>  
          </div>
        </div>
      </div>      
    </section>  

    <section id="gestao-transparencia" class="container-fluid m-0 p-0">
      <div class="row container center-block p-0">
        <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8 row p-0 m-0">
          <div id="gestao-pessoas" class="card m-b-48">
            <div class="card-titulo">Gestão de Pessoas</div>
            <div class="card-conteudo row m-0 m-t-16 b-b-16 p-0">
              <div class="col-md-6 col-lg-4">
                <div class="card-caixa-texto m-b-16">
                  <h4 class="m-0 m-t-8 m-b-16">Demonstrativo de pessoal</h4>
                  <ul>
                    <li><a href="#">Quantitativo de servidores</a></li>
                    <li><a href="#">Remuneração de servidores</a></li>
                    <li><a href="#">Membros do Tribunal</a></li>
                    <li><a href="#">Servidores efetivos</a></li>
                    <li><a href="#">Outros quantitativos...</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="card-caixa-texto m-b-16">
                  <h4 class="m-0 m-t-8 m-b-16">Mais informações</h4>
                  <ul>
                    <li><a href="#">Membros do Tribunal</a></li>
                    <li><a href="#">Magistrados convocados</a></li>
                    <li><a href="#">Servidores e terceirizados</a></li>
                  </ul>
                </div>
                <div class="col-md-2 p-0"></div>
                  <div class="col-md-12 p-0">
                    <button class="btn btn-default-bordered btn-raised btn-upper btn-fluid btn-transparencia btn-duplo-transparencia">Cargos vagos e<br>ocupados</button>
                  </div>
                  <div class="col-md-2 p-0"></div>
              </div>
              
              <div class="col-md-12 col-lg-4 row m-0 m-b-16">
                <div class="col-md-6 col-lg-12 p-0 p-l-md-16">
                  <div class="card-caixa-texto __fundo-azul p-b-16 m-b-8">
                    <div class="card-titulo-gestao-pessoas p-0 p-b-16">Consulte as indenizações</div>
                    <button class="btn btn-default-bordered btn-raised btn-fluid btn-upper btn-transparencia" type="button" href="#">Auxílio moradia</button>
                    <button class="btn btn-default-bordered btn-raised btn-fluid btn-upper btn-transparencia" type="button" href="#">Ajuda de custo</button>
                    <button class="btn btn-default-bordered btn-raised btn-fluid btn-upper btn-transparencia" type="button" href="#">Passagens</button>
                    <button class="btn btn-default-bordered btn-raised btn-fluid btn-upper btn-transparencia" type="button" href="#">Diárias</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="gestao-orcamentaria" class="card m-b-48">
            <div class="card-titulo">Gestão Orçamentária e Financeira</div>
            <div class="card-conteudo row m-0 m-t-16 b-b-16 p-0">
              <div class="m-0 p-16">
                
                <div class="card-caixa-texto card-caixa-texto-gestao-transparencia m-b-16 col-md-6 col-lg-6">
                  <ul>
                    <li><a href="#">Execução de despesas</a></li>
                    <li><a href="#">Execução orçamentária</a></li>
                    <li><a href="#">Limitação de Empenho</a></li>
                    <li><a href="#">Descentralização de créditos (Destaques recebidos/concedidos</a></li>
                  </ul>
                </div>
                <div class="card-caixa-texto card-caixa-texto-gestao-transparencia m-b-16 col-md-6 col-lg-6">
                  <ul>
                    <li><a href="#">Receitas</a></li>
                    <li><a href="#">Recursos do Tesouro</a></li>
                    <li><a href="#">Relatório de Gestão Fiscal</a></li>
                    <li><a href="#">Relatório Simplificado</a></li>
                    <li><a href="#">Restos a Pagar</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div> 
        <!-- Cards laterais -->
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 p-l-16 m-0">
          <div id="despesas-diversas" class="despesas-diversas card m-b-24">
            <div class="card-titulo">Despesas diversas</div>
            <div class="card-conteudo">
              <ul>
                <li><a href="#">Consumo de Água</a></li>
                <li><a href="#">Consumo de Energia Elétrica</a></li>
                <li><a href="#">Consumo de Papel para Impressão</a></li>
                <li><a href="#">Veículos</a></li>
                <li><a href="#">Imóveis Funcionais</a></li>
                <li><a href="#">Obras e Reformas</a></li>
              </ul>
            </div>
          </div>
          <div id="controle-interno" class="controle-interno card m-b-24">
            <div class="card-titulo">Despesas diversas</div>
            <div class="card-conteudo">
              <ul>
                <li><a href="#">Auditoria</a></li>
                <li><a href="#">Prestação de contas</a></li>
              </ul>
            </div>
          </div>
          <h3>Não encontrou o que procura?</h3>
          <div class="card-conteudo">
            <div class="card-caixa-texto-nao-encontrou m-0 m-b-16">
              <ul>
                  <li><a href="#">Central do Cidadão</a></li>
                  <li><a href="#">Acesso à Informação</a></li>
                  <li><a href="#">Links úteis para outros órgãos e entidades</a></li>
                  <li><a href="#">Contatos</a></li>
                </ul>
            </div>  
          </div>  
        </div>   
      </div>  
    </section>  

    
    <%- include src/includes/mapa-do-site.html %>

    <%- include src/includes/footer.html %>
  </div>
</body>
</html>