<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Supremo Tribunal Federal</title>
  <link rel="icon" type="imagem/png" href="<%= require('assets/img/favicon.ico') %>" />
</head>
<body>
  <div id="main" class="container-fluid p-0">

    <%- include src/includes/header.html %>
    
    <%- include src/includes/pesquisa.html %>

    <section id="conteudo" class="container-fluid m-0 p-0" >
      <div class="row container center-block p-0">
        <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8 row m-0 p-xs-0 p-sm-8 ">
          <div id="noticias" class="noticias m-b-48">
            <div class="titulos-secoes m-l-16 p-b-24">
              Últimos destaques na Jurisprudência do STF
            </div>
            <div class="card-lt-md card-xs noticia m-0 m-b-24 row">
              <div class="col-md-6 hidden-xs hidden-sm p-0">
                <div class="noticia-imagem hidden-xs">
                  <img src="//fakeimg.pl/330x190/" alt="">
                </div>
              </div>
              <div class="col-xs-12 col-md-6 p-0">
                <div class="noticia-categoria p-l-16 p-r-16">Jurisprudência <span class="hidden-xs hidden-sm noticia-data">·</span><span class="hidden-xs hidden-sm noticia-data">Há 3 minutos</span></div>
                <h3 class="noticia-titulo p-l-16 p-r-16 m-t-8 m-t-8"><a href="//stf.jus.br/portal/cms/verNoticiaDetalhe.asp?idConteudo=345036">Plenário do STF elege ministro substituto do TSE e vota lista tríplice</a></h3>
                <p class="noticia-resumo p-l-16 p-r-16">A lista é composta pelos advogados: Tarcísio Vieira de Carvalho Neto, Sérgio Silveira Banhos e Carlos Bastide Horbach.</p>
                <div class="noticia-imagem-xs visible-xs visible-sm">
                  <img src="//fakeimg.pl/330x190/" alt="">
                </div>
                <div class="noticia-data-xs visible-xs visible-sm p-l-16 p-r-16 m-t-8 m-b-8">Há 3 minutos</div>
              </div>
            </div>
            <div class="card-lt-md card-xs  noticia m-b-24 row m-0">
              <div class="col-md-6 hidden-xs hidden-sm p-0">
                <div class="noticia-imagem hidden-xs">
                  <img src="//fakeimg.pl/330x190/" alt="">
                </div>
              </div>
              <div class="col-xs-12 col-md-6 p-0">
                <div class="noticia-categoria p-l-16 p-r-16">Jurisprudência <span class="hidden-xs hidden-sm noticia-data">·</span><span class="hidden-xs hidden-sm noticia-data">Há 3 minutos</span></div>
                <h3 class="noticia-titulo p-l-16 p-r-16 m-t-8"><a href="//stf.jus.br/portal/cms/verNoticiaDetalhe.asp?idConteudo=345036">Plenário do STF elege ministro substituto do TSE e vota lista tríplice</a></h3>
                <p class="noticia-resumo p-l-16 p-r-16">A lista é composta pelos advogados: Tarcísio Vieira de Carvalho Neto, Sérgio Silveira Banhos e Carlos Bastide Horbach.</p>
                <div class="noticia-imagem-xs visible-xs visible-sm">
                  <img src="//fakeimg.pl/330x190/" alt="">
                </div>
                <div class="noticia-data-xs visible-xs visible-sm p-l-16 p-r-16 m-t-8 m-b-8">Há 3 minutos</div>
              </div>
            </div>
          </div>
          <div id="aplicacao-sumulas" class="card m-b-48">
            <div class="card-titulo">Aplicação das Súmulas no STF</div>
            <div class="card-conteudo p-0"> 
              <div class="card-caixa-texto tese-descricao p-16">
                Conheça os julgados que interpretaram os enunciados das Súmulas e Súmulas Vinculantes do STF
              </div>
            </div> 
            <div class="card-conteudo p-b-8">                  
              <h3 class="m-t-0">Últimas atualizações</h3>
              <div class="p-b-8 p-t-8 card-subtitulos">
                <h4 class="card-subtitulo m-0 p-b-8"><a href="#">SÚMULA 4</a><small class="p-l-8">atualizado há 5 dias</small></h4>
              </div>
              <div class="card-topico-conteudo">
                Compete à Justiça do Trabalho julgar as ações que tenham como causa de pedir o descumprimento de normas trabalhistas relativas à segurança, higiene e saúde dos trabalhadores.
              </div>
            </div>                
            <div class="card-conteudo">                  
              <div class="p-b-8 card-subtitulos">
                <h4 class="card-subtitulo m-0 p-b-8"><a href="#">SÚMULA 4</a><small class="p-l-8">atualizado há 5 dias</small></h4>
              </div>
              <div class="card-topico-conteudo">
                Compete à Justiça do Trabalho julgar as ações que tenham como causa de pedir o descumprimento de normas trabalhistas relativas à segurança, higiene e saúde dos trabalhadores.
              </div>                
            </div>
            <div class="card-conteudo card-conteudo-botoes m-t-0 m-b-xs-32 m-b-sm-32"> 
              <a href="#" target="_blank" class="btn btn-raised btn-default-bordered btn-upper col-xs-12 col-md-5 m-r-16">
                Todas aplicações em súmulas
              </a>
              <a href="#" target="_blank" class="btn btn-raised btn-default-bordered btn-upper col-xs-12 col-md-4 m-t-xs-8 m-t-sm-8">
                Baixe o livro
              </a>
              <a href="#" target="_blank" class="btn btn-raised btn-default-bordered btn-upper col-xs-12 col-md-8 m-t-8 m-t-sm-8">
                Todas aplicações em súmulas vinculantes
              </a>
            </div>
            <div class=" card-conteudo p-0"> 
                <div class="card-caixa-texto card-com-input p-16">
                    <strong>Pesquise o termo desejado para saber se há alguma súmula relacionada</strong>
                    <div class="campo-container m-t-16">
                        <form name="frmPesquisa" style="overflow:auto" target="_blank" id="frmPesquisa" method="POST" action="http://stf.jus.br/portal/jurisprudencia/listarConsolidadaSumulas.asp">
                            <div>
                                <input class="col-md-4 m-b-8 campos-sumula" type="text" name="txtPesquisaLivre" id="txtPesquisaLivre" placeholder="Digite o termo para pesquisar..." />
                            </div>
                            <div class="col-md-1 p-t-8" style="height: 40px; text-align:center; ">
                                <strong>ou</strong>
                            </div>
                            <div>
                                <input class="col-md-4 m-b-8 campos-sumula" placeholder="Digite o número da súmula..." type="text" name="txtNumero" id="txtNumero" />
                            </div>
                            
                            <select id="menu-pesquisa-sumula-jurisprudencia" class="pesquisa-select col-md-4 col-xs-5 campos-sumula" name="txtRamoDireito">
                                <option value="">Ramo Direito</option>
                                <option value="1">Administrativo</option>
                                <option value="2">Civil</option>
                                <option value="3">Constitucional</option>
                                <option value="4">Empresarial</option>
                                <option value="5">Internacional</option>
                                <option value="6">Militar</option>
                                <option value="7">Penal</option>
                                <option value="8">Previdenciário</option>
                                <option value="9">Processual Civil</option>
                                <option value="10">Processual do Trabalho</option>
                                <option value="11">Processual Penal</option>
                                <option value="12">Trabalhista</option>
                                <option value="13">Tributário</option>
                            </select>
                            
                            <div class="col-md-1" style="height: 40px; vertical-align: bottom;"><strong></strong></div>
                            <button form="frmPesquisa" class="btn btn-default btn-icone col-md-2" id="btnPesquisarSumula">
                              <i class="glyphicon glyphicon-search" aria-label="abrir pesquisa"></i>
                            </button>						
                        </form>
                    </div>
                </div>
            </div> 
          </div>
          <div id="ultimas-alteracoes-sumulas" class="card m-b-48">
            <div class="card-titulo">Ultimas alterações em súmulas</div>
            <div class="card-conteudo p-0"> 
              <div class="card-caixa-texto tese-descricao p-16 card-subtitulo-vermelho">
                Súmulas:
                Verbetes editados pelo Supremo Tribunal Federal, após reiteradas decisões sobre matéria constitucional e não possuem caráter cogente. Têm efeito de orientar os demais órgãos do Poder Judiciário e à administração pública direta e indireta, 
                nas esferas federal, estadual e municipal.
              </div>
            </div> 
            <div class="card-conteudo p-b-8">                  
              <div class="p-b-8 p-t-8 card-subtitulos">
                <h4 class="card-subtitulo m-0 p-b-8"><a href="#">SÚMULA 4</a><small class="p-l-8">atualizado há 5 dias</small></h4>
              </div>
              <div  class="card-topico-conteudo">
                Compete à Justiça do Trabalho julgar as ações que tenham como causa de pedir o descumprimento de normas trabalhistas relativas à segurança, higiene e saúde dos trabalhadores.
              </div>
            </div>
            <div class="row m-16 p-b-16">
              <div class="col-xs-2"></div>
              <a id="juris-ver-todas-sumulas" target="_blank" href="//www.stf.jus.br/portal/cms/verTexto.asp?servico=jurisprudenciaSumula" class="btn btn-raised btn-default-bordered btn-upper col-xs-8 m-t-8">
                Ver todas as súmulas
              </a>
              <div class="col-xs-2"></div>
            </div>
          </div>
          <div id="jurisprudencia-do-stf" class="card m-b-48 ">
            <div class="card-titulo">Jurisprudência do STF</div>
            <div class="card-conteudo row m-0 m-t-16 b-b-16 p-0">
              <div class="col-md-6 col-lg-4">
                <div class="card-caixa-texto m-b-16">
                  <h4 class="m-0 m-t-8 m-b-16">Pesquisas prontas</h4>
                  <ul>
                    <li><a id="jurisprudencia-pp-ramo-direito" href="//www.stf.jus.br/portal/jurisprudencia/listarResultadoPesquisaJurisprudenciaFavoritaRamos.asp">Por ramo do Direito</a></li>
                    <li><a id="jurisprudencia-pp-casos-notorios" href="//www.stf.jus.br/portal/jurisprudencia/listarResultadoPesquisaJurisprudenciaFavoritaCasoNotorio.asp">Casos notórios</a></li>
                  </ul>
                </div>
                <div class="card-caixa-texto m-b-16">
                  <h4 class="m-0 m-t-8 m-b-16">Jurisprudência selecionada</h4>
                  <ul>
                    <li><a id="jurisprudencia-js-temas-relevantes" href="//www.stf.jus.br/portal/jurisprudencia/temasRelevantes.asp">Temas relevantes</a></li>
                    <li><a id="jurisprudencia-js-indicada-ministros" href="//www.stf.jus.br/portal/acordaodecisaoRelevante/listarMinistroAcordaoDecisao.asp">Indicada por Ministros</a></li>
                  </ul>
                </div>
                <div class="card-caixa-texto m-b-16 m-b-lg-0">
                  <h4 class="m-0 m-t-8 m-b-16">Acórdãos</h4>
                  <ul>
                    <li><a id="jurisprudencia-acordaos-inteiro-teor" href="//www.stf.jus.br/portal/inteiroTeor/pesquisarInteiroTeor.asp">Inteiro teor de acórdãos</a></li>                    
                  </ul>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="card-caixa-texto m-b-16">
                  <h4 class="m-0 m-t-8 m-b-16">Súmulas</h4>
                  <ul>
                    <li><a id="jurisprudencia-sumulas" href="//www.stf.jus.br/portal/cms/verTexto.asp?servico=jurisprudenciaSumula">Súmulas</a></li>
                    <li><a id="jurisprudencia-sumulas-vinculantes" href="//www.stf.jus.br/portal/cms/verTexto.asp?servico=jurisprudenciaSumulaVinculante">Súmulas Vinculantes</a></li>
                    <li><a id="jurisprudencia-sumulas-propostas" href="//www.stf.jus.br/portal/cms/verTexto.asp?servico=jurisprudenciaPropostaSumulaVinculante">Propstas de Súmulas Vinculantes</a></li>
                    <li><a id="jurisprudencia-sumulas-aplicacao" href="//www.stf.jus.br/portal/jurisprudencia/pesquisarSumula.asp">Aplicação das Súmulas no STF</a></li>
                  </ul>
                </div>
                <div class="card-caixa-texto m-b-16">
                  <h4 class="m-0 m-t-8 m-b-16">Informativos</h4>
                  <ul>
                    <li><a id="jurisprudencia-informativos-semanal" href="//www.stf.jus.br/portal/informativo/pesquisarInformativo.asp">Informativo semanal</a></li>
                    <li><a id="jurisprudencia-informativos-temas" href="//www.stf.jus.br/portal/cms/verTexto.asp?servico=publicacaoInformativoTema">Informativo por temas</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-12 col-lg-4 row m-0 m-b-16">
                <div class="col-md-6 col-lg-12 p-0 p-r-md-16">
                  <div class="card-caixa-texto __fundo-escuro p-b-16 m-b-16">
                    <h4 class="m-0 m-t-8 m-b-16">Solicitação de pesquisas</h4>
                    <p>Não encontrou uma jurisprudência?<br>Nós te ajudamos a pesquisar!</p>
                    <a class="btn btn-default-bordered btn-raised btn-fluid btn-upper" target="_blank" href="//www.stf.jus.br/portal/jurisprudenciaEmail/criarSolicitacaoEmail.asp">Quero Ajuda!</a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-12 p-0 p-l-md-16">
                  <div class="card-caixa-texto">
                    <h4 class="m-0 m-t-8 m-b-16">Mais informações</h4>
                    <ul>
                      <li><a id="jurisprudencia-maisinfo-repositorios" href="//www.stf.jus.br/portal/cms/verTexto.asp?servico=jurisprudenciaRepositorioJurisprudencia">Repositório de jurisprudência</a></li>
                      <li><a id="jurisprudencia-maisinfo-teses" href="//www.stf.jus.br/portal/jurisprudencia/pesquisarTese.asp">Teses jurídicas</a></li>
                      <li><a id="jurisprudencia-maisinfo-omissao" href="//www.stf.jus.br/portal/cms/verTexto.asp?servico=jurisprudenciaOmissaoInconstitucional">Omissão inconstitucional</a></li>
                      <li><a id="jurisprudencia-maisinfo-glossario" href="//www.stf.jus.br/portal/glossario/">Glossário jurídico</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="estatisticasProcessuais" class="card m-b-48">
            <div class="card-titulo">Estatísticas Processuais</div>
            <div class="card-conteudo row m-0 m-t-16 b-b-16 p-0">
              <div class="estatisticas-grafico p-0 m-0">
                <iframe id="repgeral-qtd-sobrestados-categoria" class="full-width full-height" src="http://transparencia.stf.jus.br/single?appid=3e15b9bf-6795-4077-b00e-721b5d2a417f&obj=42267d4e-5e84-43fa-a444-29bd84294ae1&opt=nointeraction%2Cnoselections&select=clearall" style="border:none;"></iframe>
              </div>
            </div>
          </div>
          <div id="numerosSTF" class="card m-b-48">
            <div class="card-titulo">STF em Números</div>
            <div class="card-conteudo row m-0 m-t-16 b-b-16 p-0">
              <div class="col-md-6 col-lg-6">
                <div class="card-caixa-texto m-b-16">
                  <h4 class="m-0 m-t-8 m-b-16">Repercussão Geral</h4>
                  <ul class="m-l-16">
                    <li>
                      <a href="#">Conheça os temas com maior número de processos sobrestados</a>
                    </li>
                    <li>
                      <a href="#">Quais os principais conflitos</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 col-lg-6">
                <div class="card-caixa-texto m-b-16">
                  <h4 class="m-0 m-t-8 m-b-16">Produtividade dos Gabinetes</h4>
                  <ul class="m-l-16">
                    <li>
                      <a href="#">Tempo médio de julgamento</a>
                    </li>
                    <li>
                      <a href="#">Processos com pedido de vista</a>
                    </li>
                    <li>
                      <a href="#">Gráficos comparativos</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Cards laterais -->
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 p-16 p-sm-8 p-xs-0 m-0">

            <div id="jurisprudencia-informativo-stf" class="card m-b-24">
                <div class="card-titulo">Informativo do STF</div>
                <div class="card-conteudo p-0"> 
                    <div class="card-caixa-texto tese-descricao p-16">
                        O Informativo do STF é elaborado com base em notas tomadas nas sessões de julgamento das Turmas e do Plenário. Contém resumos de decisões proferidas pelo Tribunal. A fidelidade de tais resumos ao conteúdo efetivo das decisões, embora seja uma das metas perseguidas neste trabalho, somente poderá ser aferida após a sua publicação no Diário da Justiça
                    </div>
                </div>

                <div class="row m-16 p-0">
                    <a id="informativo-semanal" href="//www.stf.jus.br/arquivo/informativo/documento/informativo.htm" target="_blank" class="btn btn-raised btn-fluid btn-default-bordered btn-upper   col-xs-12 m-t-8">
                      ver Último informativo semanal
                    </a>
                </div>
                <div class="row m-16 p-0 p-b-16">
                    <a id="informativo-temas" href="//www.stf.jus.br/portal/cms/verTexto.asp?servico=publicacaoInformativoTema" target="_blank" class="btn btn-raised btn-fluid btn-default-bordered btn-upper   col-xs-12 m-t-8">
                      ver informativos por temas
                    </a>
                </div>                
                <div class="card-conteudo p-0"> 
                    <div class="card-caixa-texto card-com-input tese-descricao p-16">
                        <strong>Pesquise nos Informativos Semanais</strong>
                        <div  class="campo-container m-t-16">
                             <form id="pesquisa-informativo-semanal" action="javascript:void(0);">
                                <input class="col-md-9 col-xs-9" name="pesquisa" id="txt-pesquisa-informativo"  placeholder="Digite o que procura..." type="text" /> 
                                <button form="pesquisa-informativo-semanal" id="btn-pesquisa-informativo" class="btn btn-default btn-icone col-md-3 col-xs-3">
                                    <i class="glyphicon glyphicon-search" aria-label="abrir pesquisa"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="inteiro-teor-acordaos" class="card m-b-24">
                <div class="card-titulo">Inteiro teor de acórdãos</div>              
                <div class="card-conteudo p-0"> 
                    <div class="card-caixa-texto card-com-input tese-descricao p-16">
                        <strong>Pesquisa por processos</strong>
                        <div class="campo-container m-t-16">
                            <form id="pesquisa-processo" action="javascript:void(0);">                                
                                <p><input name="pesquisa" class="col-md-9 col-xs-9" placeholder="Digite o processo que deseja..." type="text" id="txtNumeroProcesso" /> 
                                <button form="pesquisa-processo" class="btn btn-default btn-icone col-md-3 col-xs-3" id="btnPesquisaInteiroTeor">
                                    <i class="glyphicon glyphicon-search" aria-label="abrir pesquisa"></i>
                                </button></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="jurisprudencia-informativo-stf" class="card m-b-24">
                <div class="card-titulo">Teses Jurídicas</div>
                <div class="row m-16 p-0">
                    <a href="//www.stf.jus.br/portal/jurisprudencia/menuTese.asp?tese=TRG" target="_blank" class="btn btn-raised btn-fluid btn-default-bordered btn-upper   col-xs-12 m-t-8">
                      Teses de repercussão geral
                    </a>
                </div>
                <div class="row m-16 p-0">
                    <a href="//www.stf.jus.br/portal/jurisprudencia/menuTese.asp?tese=TCC" target="_blank" class="btn btn-raised btn-fluid btn-default-bordered   btn-upper col-xs-12 m-t-8">
                      Teses de controle concentrado
                    </a>
                </div>  
                <div class="row m-16 p-0 p-b-16">
                    <a href="//www.stf.jus.br/portal/jurisprudencia/menuTese.asp?tese=TOP" target="_blank" class="btn btn-raised btn-fluid btn-default-bordered   btn-upper col-xs-12 m-t-8">
                      Teses em outros processos
                    </a>
                </div>  
            </div>
            
            <div id="inteiro-teor-acordaos" class="card m-b-24">
                <div class="card-titulo">Pesquisas prontas</div>              
                <div class="card-conteudo p-0"> 
                    <div class="card-caixa-texto card-com-input tese-descricao p-16 m-b-8">
                        <strong>Encontre pesquisas prontas</strong>
                        <div class="campo-container m-t-16">
                            <form id="pesquisas-prontas" action="javascript:void(0);">
                                <input class="col-md-9 col-xs-9" name="pesquisa" id="txt-pesquisas-prontas" placeholder="Digite o termo para pesquisar..." type="text" /> 
                                <button form="pesquisas-prontas" id="btn-pesquisas-prontas" class="btn btn-default btn-icone col-md-3 col-xs-3">
                                    <i class="glyphicon glyphicon-search" aria-label="abrir pesquisa"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-conteudo"> 
                    <strong>Ramos do direito:</strong>
                    <p class="m-t-16 m-b-16"><strong><a href="//www.stf.jus.br/portal/jurisprudencia/listarResultadoPesquisaJurisprudenciaFavoritaRamos.asp?publicacao=223587&assunto=Direito%20Administrativo">Direito Administrativo</a></strong></p>
                    <p class="m-b-16"><strong><a href="//www.stf.jus.br/portal/jurisprudencia/listarResultadoPesquisaJurisprudenciaFavoritaRamos.asp?publicacao=223598&assunto=Direito%20Civil">Direito Civil</a></strong></p>
                    <p class="m-b-16"><strong><a href="//www.stf.jus.br/portal/jurisprudencia/listarResultadoPesquisaJurisprudenciaFavoritaRamos.asp?publicacao=222943&assunto=Direito%20Constitucional">Direito Constitucional</a></strong></p>
                    <p class="m-b-16"><strong><a href="//www.stf.jus.br/portal/jurisprudencia/listarResultadoPesquisaJurisprudenciaFavoritaRamos.asp?publicacao=222947&assunto=Direito%20Eleitoral">Direito Eleitoral</a></strong></p>
                    <p class="m-b-16"><strong><a href="//www.stf.jus.br/portal/jurisprudencia/listarResultadoPesquisaJurisprudenciaFavoritaRamos.asp?publicacao=223602&assunto=Direito%20Penal">Direito Penal</a></strong></p>
                    <p class="m-b-16"><strong><a href="//www.stf.jus.br/portal/jurisprudencia/listarResultadoPesquisaJurisprudenciaFavoritaRamos.asp?publicacao=223605&assunto=Direito%20Previdenci%E1rio">Direito Previdenciário</a></strong></p>
                    <p class="m-b-16"><strong><a href="//www.stf.jus.br/portal/jurisprudencia/listarResultadoPesquisaJurisprudenciaFavoritaRamos.asp?publicacao=223607&assunto=Direito%20Processual%20Civil">Direito Processual Civil</a></strong></p>
                    <p class="m-b-16"><strong><a href="//www.stf.jus.br/portal/jurisprudencia/listarResultadoPesquisaJurisprudenciaFavoritaRamos.asp?publicacao=223656&assunto=Direito%20Processual%20Penal">Direito Processual Penal</a></strong></p>
                    <p class="m-b-24 p-b-8"><strong><a href="//www.stf.jus.br/portal/jurisprudencia/listarResultadoPesquisaJurisprudenciaFavoritaRamos.asp?publicacao=223663&assunto=Direito%20Tribut%E1rio">Direito Tributário</a></strong></p>                    
                    <hr />                    
                    <strong>Últimos casos notórios:</strong>
                    <p class="m-t-16 m-b-16"><strong><a href="#">Processo de impeachment (2016)</a></strong> 
                        <br /><small>há 6 meses</small></p>                    
                    <p class="m-b-16"><strong><a href="#">Financiamento Público de Campanhas Eleitorais</a></strong> 
                        <br /><small>há 6 meses</small></p>
                    <p class="m-b-16"><strong><a href="#">Sistema Carcerário e Estado de Coisas Inconstitucional</a></strong></p>
                    <p><strong><a href="#">Inexistência de reserva legal para instituição de audiência de custódia</a></strong></p>
                </div>                
                <div class="row m-b-16 m-l-16 m-r-16 p-0 p-b-16">
                    <a href="//www.stf.jus.br/portal/jurisprudencia/listarResultadoPesquisaJurisprudenciaFavoritaCasoNotorio.asp" target="_blank" class="btn btn-raised btn-fluid btn-default-bordered btn-upper col-xs-12 m-t-8">
                        Ver mais casos notórios
                    </a>
                </div> 
            </div>            
            
            <div id="jurisprudencia-legislacao-anotada" class="card m-b-24">
                <div class="card-titulo">Legislação anotada</div> 
                <div class="card-conteudo"> 
                    <p class="m-t-8 m-b-16"><strong><a id="leg-anotada-constituicao" target="_blank" href="//www.stf.jus.br/portal/constituicao/">A constituição e o Supremo</a></strong></p>
                    <p class="m-b-8"><strong><a id="leg-anotada-infraconst" target="_blank" href="//www.stf.jus.br/portal/legislacaoAnotadaAdiAdcAdpf/pesquisarLegislacao.asp">Leis infraconstitucionais</a></strong></p>
                </div>
            </div>            
            <div id="jurisprudencia-internacional" class="card m-b-24">
                <div class="card-titulo">Jurisprudência Internacional</div>
                <div class="card-conteudo">
                  <ul class="card-media-lista">
                    <li class="media-lista-item row p-0">
                      <div class="lista-item-image col-xs-4 p-0 m-r-16">
                        <img class="full-width" src="<%= require('assets/img/jurisprudencia/cjcplp.png') %>"
                             srcset="<%= require('assets/img/jurisprudencia/cjcplp@2x.png') %> 2x"  alt="">
                      </div>
                      <div class="lista-item-texto col-xs-8 p-0">
                        <a id="internacional-cjcplp" target="_blank" href="//cjcplp.org/juris/">
                            <h4 class="m-0"><strong>CJCPLP</strong></h4>
                            Jurisprudência da Conferência das Jurisdições Constitucionais dos Países de Língua Portuguesa.
                        </a>
                      </div>
                    </li>

                    <li class="media-lista-item row p-0">
                      <div class="lista-item-image col-xs-4 p-0 m-r-16">
                        <img class="full-width" src="<%= require('assets/img/jurisprudencia/codices.png') %>"
                             srcset="<%= require('assets/img/jurisprudencia/codices@2x.png') %> 2x"  alt="">
                      </div>
                      <div class="lista-item-texto col-xs-8 p-0">
                        <a id="internacional-codices" target="_blank" href="//www.stf.jus.br/portal/cms/verTexto.asp?servico=jurisprudenciaPesquisaCODICES">
                            <h4 class="m-0"><strong>CODICES</strong></h4>
                            Informações transconstitucionais em 24 línguas para intercâmbio de informações entre cortes.
                        </a>
                      </div>
                    </li>

                    <li class="media-lista-item row p-0">
                      <div class="lista-item-image col-xs-4 p-0 m-r-16">
                          <img class="full-width" src="<%= require('assets/img/jurisprudencia/glin.png') %>"
                             srcset="<%= require('assets/img/jurisprudencia/glin@2x.png') %> 2x"  alt="">
                      </div>
                      <div class="lista-item-texto col-xs-8 p-0">
                        <a id="internacional-glin" target="_blank" href="//www.stf.jus.br/portal/cms/verTexto.asp?servico=jurisprudenciaPesquisaGLIN">
                            <h4 class="m-0"><strong>GLIN</strong></h4>
                            Global Legal Information Network, contém leis, decisões judiciais, legislações e literatura jurídica.
                        </a>
                      </div>
                    </li>

                    <li class="media-lista-item row m-0 p-0">
                      <div class="lista-item-image col-xs-4 p-0 m-r-16">
                        <img class="full-width" src="<%= require('assets/img/jurisprudencia/mercosul.png') %>"
                             srcset="<%= require('assets/img/jurisprudencia/mercosul@2x.png') %> 2x"  alt="">
                      </div>
                      <div class="lista-item-texto col-xs-8 p-0">
                        <a id="internacional-mercosul" target="_blank" href="//www.stf.jus.br/portal/cms/verTexto.asp?servico=jurisprudenciaConstitucionalMercosul">
                            <h4 class="m-0"><strong>MERCOSUL</strong></h4>
                            <span>Jurisprudência de direito constitucional das Cortes Supremas dos países do Mercosul.</span>
                        </a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            
        </div>
      </div>
    </section>

    <%- include src/includes/mapa-do-site.html %>
    <%- include src/includes/footer.html %>
  </div>
</body>
</html>
