.bg-warning {
  background-color: $stfAmarelo;
  color: $stfAzulCinza;
}
.bg-success {
  background-color: $stfVerdeEscuro;
}
.bg-info {
  background-color: $stfAzul;
}
.bg-primary {
  background-color: $stfAzulEscuro;
}
.bg-danger {
  background-color: $stfVermelho;
}
.bg-black {
  background-color: $stfPreto;
}
