.btn {
  background: $stfBranco;
  border: 0;
  border-radius: 0;
  color: $stfPreto;
  font-size: 1rem;
  height: 40px;
  line-height: 40px;
  padding: 0 24px;

  &.btn-raised {
    @include card-box-shadow();
  }

  &.btn-fluid {
    width: 100%;
  }

  &.btn-default-borded {
    border: 1px solid $stfAzulClaro;
    color: $stfAzulClaro;
  }

  &.btn-upper {
    text-transform: uppercase;
  }

  &.com-icone {
    padding-left: 0;
    position: relative;

    .icone {
      background: $stfAzul;
      color: $stfBranco;
      float: left;
      font-size: 1.714rem;
      height: 40px;
      line-height: 40px;
      top: 0;
      width: 40px;
      &:before {
        position: relative;
        top: 0;
        left: -1px;
      }
    }

    .texto {
      padding-left: 24px;
    }
  }
}