@mixin card() {
  @include card-box-shadow();
  .card-titulo {
    background: $stfAzulClaro;
    color: $stfBranco;
    padding: 16px;
    text-transform: uppercase;

    h3 {
      font-size: 1.286rem;
      font-weight: 400;
    }
  }

  .card-conteudo {
    padding: 16px;

    .card-media-video {
      height: 0;
      padding-bottom: 0% + (9/16 * 100);
      position: relative;

      iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    .card-media-lista {
      .media-lista-item {
        cursor: pointer;
        margin: 16px 0;

        .item-texto {
          padding:0 0 0 8px;
        }
      }
    }

    .card-caixa-texto {
      background: $stfAzulCinza;
      padding: 4px 8px;

      &.__fundo-escuro {
        background: $stfAzulEscuro;
        color: $stfBranco;
        a {
          color: $stfBranco;
        }
      }

      h4 {
        font-size: 1rem;
      }

      ul {
        list-style: none;
        padding: 0;
      }
    }

    h4 {
      font-size: 0.875rem;
    }
    small {
      color: $stfCinza;
      font-size: 0.75rem;
    }
  }
}

.card {
  @include card();
}

@media all and (max-width: $breakpointPhones - 1) {
  .card-xs {
    @include card();
  }
}

@media all and (max-width: $breakpointMediumDevices - 1) {
  .card-lt-md {
    @include card();
  }
}