@mixin card() {
  @include card-box-shadow();
  .card-titulo {
    background: $stfAzulClaro;
    color: $stfBranco;
    padding: 16px;
    text-transform: uppercase;

    h3 {
      font-size: 1.286rem;
      font-weight: 400;
    }
  }

  .card-conteudo {
    padding: 16px;

    .card-media-lista {
      .media-lista-item {
        cursor: pointer;
        margin: 16px 0;

        .item-texto {
          padding:0 0 0 8px;
        }
      }
    }

    h4 {
      font-size: 0.875rem;
    }
    small {
      color: $stfCinza;
      font-size: 0.75rem;
    }
  }
}

.card {
  @include card();
}

.card-xs {
  @media all and (max-width: $breakpointPhones - 1) {
    @include card();
  }
}