@import "../../variaveis/cores";

.card-detalhamento-detalhe-orcamento {
    .card-conteudo {
        height: 500px;
    }
}
.btn-limpar-filtro-detalhe-orcamento {
    margin: 2px;
    padding-bottom: 2px;
}
.card-numeros-detalhe-orcamento {
    .card-conteudo {
        height: 551px;
    }
}