<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Supremo Tribunal Federal</title>
  <link rel="icon" type="imagem/png" href="<%= require('assets/img/favicon.ico') %>" />

</head>
<body>
  <div id="main" class="container-fluid p-0">
    <%- include src/includes/header.html %>

    <%- include src/includes/pesquisa.html %>

    <section id="conteudo" class="container-fluid m-0 p-0 p-t-8 m-r-8 m-l-8">
            <h2 class="titulo-pagina">Sob medida para <b>ESTUDANTES</b></h2>
      <div class="row container center-block p-0">
          <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8 row m-0 p-xs-0 p-sm-8">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 m-0 p-xs-0 p-sm-8">
                    <div id="glossario-juridico" class="agenda-dos-ministros card m-b-16">
                        <div class="card-titulo">Glossário Jurídico</div>
                        <div class="card-conteudo">
                            <div class="card-caixa-texto">
                                Não entendeu algum termo? Descubra aqui o que ele significa!
                            </div>
                            <div class="row m-0 m-t-16 p-0">
                            <a href="#"class="btn btn-raised btn-fluid btn-default-bordered btn-upper col-xs-12">
                                Pesquisar um termo
                            </a>
                            </div>
                            <div class="row m-0 m-t-16 p-0">
                                <a href="#"class="btn btn-raised btn-fluid btn-default-bordered btn-upper col-xs-12">
                                    Glossário Mirim
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 m-0 p-xs-0 p-sm-8">
                    <div id="jurisprudencia-estudantes" class="agenda-dos-ministros card m-b-16">
                        <div class="card-titulo">Jurisprudência</div>
                        <div class="card-conteudo">
                            <div class="card-caixa-texto">
                                Conheça o entendimento do STF sobre diversos assuntos constitucionais
                            </div>
                            <div class="row m-0 m-t-16 p-0">
                                <a href="#"class="btn btn-raised btn-fluid btn-default-bordered btn-upper col-xs-12">
                                    Acessar a jurisprudência
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include src/includes/card-noticias.html %>

          </div>  
        <!-- Cards laterais -->
        <div class="col-xs-12 col-sm-12 col-md-4 m-0 p-xs-0 p-sm-8">
            <div id="legislacao-anotada" class="agenda-dos-ministros card m-b-16">
                <div class="card-titulo">Legislação Anotada</div>
                <div class="card-conteudo">
                    <div class="card-caixa-texto">
                        Conheça o entendimento do STF sobre diversos assuntos contitucionais
                    </div>
                    <div class="row m-0 m-t-16 p-0">
                    <a href="#"class="btn btn-raised btn-fluid btn-default-bordered btn-upper col-xs-12">
                        A contituição e o Supremo
                    </a>
                    </div>
                    <div class="row m-0 m-t-16 p-0">
                        <a href="#"class="btn btn-raised btn-fluid btn-default-bordered btn-upper col-xs-12">
                            Leis infraconstitucionais
                        </a>
                    </div>
                </div>
            </div>
    
            <div id="informativo-stf" class="agenda-dos-ministros card m-b-16">
                <div class="card-titulo">Informativo do STF</div>
                <div class="card-conteudo">
                    <div class="card-caixa-texto">
                        O informativo do STF é um "jornal jurídico" que veicula resumos periódicos dos acontecimentos e fundamentos resultantes das sessões de julgamento
                    </div>
                    <div class="row m-0 m-t-16 p-0">
                    <a href="#"class="btn btn-raised btn-fluid btn-default-bordered btn-upper col-xs-12">
                        Pesquisar um termo
                    </a>
                    </div>
                    <div class="row m-0 m-t-16 p-0">
                        <a href="#"class="btn btn-raised btn-fluid btn-default-bordered btn-upper col-xs-12">
                            Glossário Mirim
                        </a>
                    </div>
                </div>
                <div class="card-rodape p-16">
                    <form id="pesquisa-informativo" action="javascript:void(0);">
                        <label for="pesquisa_informativo">Pesquise nos Informativos Semanais</label>
                        <div class="row m-0 p-0">
                            <div class="col-xs-10 p-0">
                            <input type="text" name="pesquisa_informativo" id="pesquisa_informativo" placeholder="Digite o que procura...">
                            </div>
                            <div id="botao-pesquisa-informativo" class="col-xs-2 p-0">
                            <button form="pesquisa-informativo" class="btn btn-icone" id="btnPesquisarInformativo">
                                <i class="icone glyphicon glyphicon-search"></i>
                            </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="repercussao-geral-estudantes" class="agenda-dos-ministros card m-b-16">
                <div class="card-titulo">Repercussão Geral</div>
                <div class="card-conteudo">
                    <div class="card-caixa-texto">
                        A Repercussão Geral existe para uniformizar a interpretação que o STF decida múltiplos casos idênticos sobre a mesma questão constitucional. Além disso, delimita a competência do STF às questões com relevância social, política, econômica ou jurídica.
                    </div>
                    <div class="row m-0 m-t-16 p-0">
                    <a href="#"class="btn btn-raised btn-fluid btn-default-bordered btn-upper col-xs-12">
                        Pesquisar um termo
                    </a>
                    </div>
                    <div class="row m-0 m-t-16 p-0">
                        <a href="#"class="btn btn-raised btn-fluid btn-default-bordered btn-upper col-xs-12">
                            Glossário Mirim
                        </a>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>

    <%- include src/includes/mapa-do-site.html %>

    <%- include src/includes/footer.html %>

  </div>
  <script>
  var config = {
              host: 'transparencia.stf.jus.br',
              prefix: '/',
              port: 443,
              isSecure: true
          };
          require.config({
              baseUrl: (config.isSecure ? "https://" : "http://") + config.host + (config.port ? ":" + config.port : "") + config.prefix + "resources"
          });
          var qlikApps = [];

          require(["js/qlik"], function (qlik) {
              qlik.setOnError(function (error) {
                  alert(error.message);
              });
              function attach(elem) {
                  var appid = elem.dataset.qlikAppid;
                  var objid = elem.dataset.qlikObjid;
                  var app = qlikApps[appid];
                  if (!app) {
                      app = qlik.openApp(appid, config);
                      qlikApps[appid] = app;
                  }
                  app.getObject(elem, objid);
              }
              var elems = document.getElementsByClassName('embeddedArea');
              var ix = 0;
              for (; ix < elems.length; ++ix) {
                  attach(elems[ix]);
              }
          });

  </script>
</body>
</html>
