<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Supremo Tribunal Federal</title>
  <link rel="icon" type="imagem/png" href="<%= require('assets/img/favicon.ico') %>" />
</head>
<body class="pagina-interna">
  <div id="main" class="container-fluid p-0">

    <%- include src/includes/header.html %>

    <%- include src/includes/pesquisa-lista.html %>

    <section id="conteudo" class="container-fluid m-0 p-0">
      <div class="row container center-block p-0">
        <!--Menu Lateral-->
        <div class="col-xs-12 col-sm-3 col-lg-2 p-16 p-xs-0 m-0">
          <div class="menu-lateral hidden-xs">
            <h4><span class="__stf-verde">Processos</span></h4>
            <ul>
              <li><a class="opcao-selecionada" href="#"><span>Pesquisa de processos</span></a>
              <li><a href="#"><span>Peticionamento eletrônico</span></a>
                <ul>
                  <li><a href="#"><span>Peticionar agora</span></a></li>
                  <li><a href="#">Informações gerais</a></li>
                </ul>
              </li>

            </ul>
          </div>
        </div>

        <div id="texto-pagina-interna-wrapper" class="col-xs-12 col-sm-9 col-lg-10 row m-0 p-xs-0 m-t-24 m-b-24 p-sm-8 __borda-l-cinza-claro">
          <div id="texto-pagina-interna" class="p-l-40 p-r-40 m-b-40 p-l-xs-0 p-r-xs-0">
            <div class="texto m-0 row">
              <div class="col-xs-12 col-md-12 p-0 p-l-xs-16 p-r-xs-16">

                <div class="card m-b-48">
                    <div class="card-titulo row m-0">
                      <div class="col-md-4">
                        <div class="processo-titulo m-b-8">ADI 100
                          <div>
                            <span class="badge bg-default">Processo físico</span>
                            <span class="badge bg-warning">Segredo de Justiça</span>
                          </div>
                          <input type="hidden" id="incidente" value="1491705" />
                          <input type="hidden" id="classe-numero-processo" value="ADI 100" />
                          <input type="hidden" id="peca" value="S" />
                          <input type="hidden" id="meio" value="E" />
                        </div>
                        <div class="processo-rotulo">Número único: 0007214-12.2007.1.00.0000</div>
                      </div>
                      <div class="col-md-8">
                        <div class="btn-group pull-right">
                          <button type="button" class="btn btn-default btn-primary-spacing" aria-label="dje" id="btn-dje">
                            <span aria-hidden="true">Dje</span>
                          </button>
                          <button type="button" class="btn btn-default btn-primary-spacing" aria-label="jurisprudencia" id="btn-jurisprudencia">
                            <span aria-hidden="true">Jurisprudência</span>
                          </button>
                          <button type="button" class="btn btn-default btn-primary-spacing" aria-label="pecas" id="btn-pecas">
                            <span aria-hidden="true"> Peças</span>
                          </button>
                          <button type="button" class="btn btn-default btn-primary-spacing" aria-label="push" id="btn-push">
                            <span aria-hidden="true"> Push</span>
                          </button>
                          <button type="button" class="btn btn-default btn-primary-spacing" aria-label="Imprimir" id="btn-imprimir" onclick="print()">
                            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="card-conteudo row m-0 p-0">
                      <div class="card-processo">
                        <div class="col-xs-12 col-md-5 m-b-8">
                          <div class="processo-classe m-t-8">
                            Ação Direta de Inconstitucionalidade
                          </div>
                          <div class="processo-dados">
                            Origem: MG - Minas Gerais
                          </div>
                          <div class="processo-dados">
                            Relator atual: Min. Ellen Gracie
                          </div>
                        </div>
                        <div class="card-processo col-xs-12 col-md-7 m-b-8">
                          <div class="p-l-0">
                            <div class="col-md-4 p-l-0">
                              <div class="processo-partes m-t-8">
                                AUTOR(A/S)(ES)
                              </div>
                              <div class="processo-partes">
                                PROC.(A/S)(ES)
                              </div>
                              <div class="processo-partes">
                                RÉU(É)(S)
                              </div>
                              <div class="processo-partes">
                                ADV.(A)(S)
                              </div>
                              <div class="processo-partes">
                                RÉU(É)(S)
                              </div>
                              <div class="processo-link p-t-8">
                                <a id="todas-partes" href="#">Todas as partes</a>
                              </div>
                            </div>
                            <div class="col-md-8 p-l-0">
                              <div class="processo-partes m-t-8">
                                MINISTÉRIO PÚBLICO FEDERAL
                              </div>
                              <div class="processo-partes">
                                PROCURADOR-GERAL DA REPÚBLICA
                              </div>
                              <div class="processo-partes">
                                JOSÉ DIRCEU DE OLIVEIRA E SILVA
                              </div>
                              <div class="processo-partes">
                                JOSÉ LUIS MENDES DE OLIVEIRA LIMA
                              </div>
                              <div class="processo-partes">
                                JOSÉ GENOÍNO NETO
                              </div>
                            </div>

                              <div class="clearfix"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12 row">
                        <ul class="nav nav-tabs" role="tablist">
                          <li role="presentation"><a data-toggle="tab" href="#informacoes">Informações gerais</a></li>
                          <li role="presentation"><a data-toggle="tab" href="#partes"><i class="glyphicon glyphicon-user"></i> Partes</a></li>
                          <li role="presentation" class="active"><a data-toggle="tab" href="#andamentos"><i class="glyphicon glyphicon-time"></i> Andamentos</a></li>
                          <li role="presentation"><a data-toggle="tab" href="#deslocamento"><i class="glyphicon glyphicon-map-marker"></i> Deslocamento</a></li>
                          <li role="presentation"><a data-toggle="tab" href="#peticoes"><i class="glyphicon glyphicon-file"></i> Petições</a></li>
                          <li role="presentation"><a data-toggle="tab" href="#recursos"><i class="glyphicon glyphicon-file"></i> Recursos</a></li>
                        </ul>
                      </div>
                      <div class="tab-content col-md-12">
                        <%- include src/includes/processo-informacoes.html %>
                        <%- include src/includes/processo-partes.html %>
                        <%- include src/includes/processo-andamentos.html %>
                        <%- include src/includes/processo-deslocamento.html %>
                        <%- include src/includes/processo-peticoes.html %>
                        <%- include src/includes/processo-recursos.html %>
                      </div>
                    </div>
                </div>



        </div>

      </div>

    </section>

    <%- include src/includes/mapa-do-site.html %>

    <%- include src/includes/footer.html %>
  </div>
</body>
</html>
