@import "../../variaveis/cores";

.pesquisa-autenticacao-documentos-eletronicos {
    display: grid;
    grid-template-rows: 75px 80px 145px;
    .check-pesquisa-autenticacao {
        position: relative;
        bottom: 14px;
        width: 50%;
    }
    button {
        color: #00a7e6;
        width: 75px;
        border: 1px solid #00a7e6;
    }
    .textos-pesquisa-autenticacao {
        position: relative;
        right: 40px;
    }
}