<div class="modal fade modal-tema" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                </button>
                <div class="info-geral col-md-8">
                    <h4> <strong>984 - Natureza jurídica dos reajustes concedidos aos servidores<br>
                        da carreira militar pela Lei n. 7.622/2000, do Estado da Bahia.</strong>                                                              
                    </h4> <br>  
                    <p><strong>Relator:</strong> Min. DIAS TOFFOLI</p> 
                    <p><strong> Processo Paradigma:</strong><a> RE 976610</a></p> 
                    <p class="descricao"> <strong>Descrição:</strong> 
                        Recurso extraordinário em que se discute, à luz dos arts. 2º, 5º, inc. XXXVI, 37, incs. X e XIII, e 39, § 1º, da Constituição 
                        da República, a natureza jurídica do reajuste concedido pela Lei estadual n. 7.622/2000, que reestruturou os valores dos 
                        soldos dos policiais militares estaduais.
                    </p>
                </div>
                <div class="com-md-4 situacao"> 
                    <span class="badge badge-repercussao">Há Repercussão Geral</span> 
                    <span class="badge badge-suspensao">Há Suspensão Nacional</span>
            
                </div>

            </div>
            <div class="modal-body" style="min-height: 800px;">
                <div class="col-xs-12 col-md-12 col-lg-12 ">
                        <div class="card">
                            <div class="card-conteudo row m-0 p-0">
                            <nav>
                                <ul class="nav nav-tabs col-md-12" role="tablist">
                                <li role="presentation" id="li-detalhes" class="active"><a data-toggle="tab" href="#tab-detalhes"> Detalhamento</a></li>
                                <li role="presentation" id="li-votos"><a data-toggle="tab" href="#tab-votos"> Votos</a></li>
                                <li role="presentation"><a data-toggle="tab" href="#"> Outro Link</a></li>
                                </ul>
                            </nav> 
            
                            <div class="tab-content col-md-12">
                                <%- include detalhes-tema.html %>
                                <%- include votos.html %>
                            </div>
                        </div>  
                    </div>    
                </div>
            </div>
        </div> <!-- conteudo modal-->
    </div>
</div>    


   

