@import "../../variaveis/cores";

.titulos-secoes {
    color: #006998;
    font-size: 1.5rem;
    margin: 16px 0; 
    font-weight: bold;
}

.btn-small {
    padding: 0 14px;
    font-size: 0.75rem;
}

.card-conteudo-botoes {
    height: 140px;
}

.pesquisa-sumula {
    height: 130px;
}

#menu-pesquisa-sumula-jurisprudencia {
    height: 40px;
    line-height: 40px;
    padding: 0 8px;
}

.pesquisa-informativo {
    height: 120px;
}

hr {
    border-top: 2px solid rgba(0, 0, 0, 0.2);    
}

.card-conteudo p a {
    color: $stfAzulEscuro;
}