@import "../../variaveis/cores";

//nav
ul .nav-tabs {
    border-bottom: 2px solido $stfCinzaClaro;
  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border-width: 0;
  }

  .nav-tabs > li > a {
    border: none;
    color: $stfCinzaEscuro;
    margin-right: 40px;
    margin-left: 20px;
  }
 
  .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
    border: none;
    color: $stfPreto;
    background: transparent;
    font-weight: bold;  
  }

  .nav-tabs > li > a::after {
    content: "";
    background: $stfAzul;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
  }

  .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
    transform: scale(1);
  }

  .tab-pane {
    padding: 0;
  }

  .tab-content {
    padding: 0 20px;
  }
  .dropdown-menu > ul > li > a{
    color: $stfCinzaEscuro;
    border: none;
    display: inline-block; 
    padding: 0 40px 0 8px;
  }
  .dropdown-menu > ul > li.active > a, .dropdown-menu > ul > li > a:hover {
    border: none;
    color: $stfPreto;
    background: transparent;
    text-decoration: none;
    font-weight: bold;  
  }
  //sumir select
  nav select{
    display: none;
  }

// FILTROS 

.badge{
  color: black; 
  background-color: rgb(221, 217, 217); 
  margin: 5px; 
  padding: 7px; 
  font-size: 14px;
  cursor:pointer; 
}
.span{
  display: inline-block;
  
}

.glyphicon-remove-sign{
  color: rgb(156, 146, 146);
  margin-left: 1.5px;
}
#apagar_filtro{
  cursor:pointer; 
  text-align: center;
  margin-top: 15px;
}
a{
  cursor: pointer;
}
li{
  font-size: 14px;
}

li > a:hover{
  color: $stfAmarelo;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}

.pesquisa_legislacao{
  font-size: 11pt;
}
.inputs_legislacao{
  float: right;
}
// conteudos resultado
.conteudo-resultado{
  margin: 10px; 
  width: 97%;
}
h5{
  font-weight: bold;
}
.card-block{
  width: 95%;
  padding: 2px;
  
}

.icons{
  float: right;
  margin: 5px;
}
.mais-resultados{
  text-align: center;
  margin-bottom: 15px;
}
.conteudo-pesquisado{
  margin-top: 15px;
  text-align: left
}
.informacao-completa{
  margin-top: 15px;
}
.row{
  margin: 15px;
}
.exibir-mais, .exibir-menos {
  float: right;
}
.remove{
  display: none;
  color: $stfAmarelo;
  text-decoration: inherit;

}

// mobile

@media only screen and (max-width: 360px) {
  .nav-tabs > li > a {
    margin-left: 5px;
  }
}
// nav aparecer como select
@media (max-width: 960px) {
  nav ul{ 
    display: none; 
  }
  nav select{ 
    display: inline-block; 
    height: 50px;
    padding: 0 40px 0 8px;
    font-size: 1rem;
    width: 100%;
    margin-bottom: 15px;
    background-color: $stfCinzaClaro;
  }
}