@import "../../variaveis/cores";

//nav
ul .nav-tabs {
    border-bottom: 2px solido $stfCinzaClaro;
  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border-width: 0;
  }

  .nav-tabs > li > a {
    border: none;
    color: $stfCinzaEscuro;
  }

  .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
    border: none;
    color: $stfPreto;
    background: transparent;
    font-weight: bold;
  }

  .nav-tabs > li > a::after {
    content: "";
    background: $stfAzul;
    height: 2px;
    position:absolute;
    width: 100%;
    left: 0px; bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
  }

  .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
    transform: scale(1);
  }

  //.tab-nav > li > a::after {
    // background: $stfAzulEscuro none repeat scroll 0% 0%;
    // color: $stfBranco;
    // 21527d
  //}

  .tab-pane {
    padding: 0;
  }

  .tab-content {
    padding: 0 20px;
  }

// FILTROS 

.badge{
  color: black; 
  background-color: rgb(221, 217, 217); 
  margin: 5px; 
  padding: 7px; 
  font-size: 14px;
  cursor:pointer; 
}

.glyphicon-remove-sign{
  color: rgb(156, 146, 146)
}
#apagar_filtro{
  cursor:pointer; 
  text-align: center;
  margin-top: 15px;
}
li{
  font-size: 14px;
}
a{
  cursor: pointer;
}

.pesquisa_legislacao{
  font-size: 11pt;
  
}

.inputs_legislacao{
  float: right;
}