$stfPreto: #041A29;
$stfCinzaEscuro: #595959;
$stfCinza: #ababab;
$stfCinzaClaro: #efefef;
$stfBranco: #fff;
$stfBrancoAlfa40: rgba(255,255,255,0.4);
$stfAzul: #056bb3;
$stfAzulEscuro: #006998;
$stfAzulEscuroAlfa60: rgba(0, 105, 152, 0.6);
$stfAzulClaro: #00A7E6;
$stfAzulCinza: #EDF4FC;