<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Supremo Tribunal Federal</title>
  <link rel="icon" type="imagem/png" href="<%= require('assets/img/favicon.ico') %>" />
</head>
<body class="pagina-interna">
    <div id="main" class="container-fluid p-0">
        <%- include src/includes/header.html %>
        <%- include src/includes/pesquisa-lista.html %>

        <section id="conteudo" class="container-fluid m-0 p-0">
            <div>
                
            </div>
        </section>

        <%- include src/includes/mapa-do-site.html %>
        <%- include src/includes/footer.html %>
    </div>
</body>
</html>