<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Supremo Tribunal Federal</title>
  <link rel="icon" type="imagem/png" href="<%= require('assets/img/favicon.ico') %>" />

</head>
<body>
  <div id="main" class="container-fluid p-0">
    <%- include src/includes/header.html %>

    <%- include src/includes/pesquisa.html %>

    <%- include src/includes/sob-medida.html %>

    <section id="conteudo" class="container-fluid m-0 p-0 p-t-8 m-r-8 m-l-8">
      <div class="row container center-block p-0">
        <%- include src/includes/card-noticias.html %>

        <%- include src/includes/card-repercussao-geral.html %>


        <!-- Cards laterais -->
        <div class="col-xs-12 col-sm-12 col-md-4 m-0 p-xs-0 p-sm-8">
        <%- include src/includes/card-banners-qlik.html %>

        <%- include src/includes/card-pautas-julgamento.html %> 
          
        <%- include src/includes/card-canais-atendimento.html %>

        <%- include src/includes/card-cadastro-newsletter.html %>

        <%- include src/includes/card-supremo-em-acao.html %>

        </div>
      </div>

      <!-- início de nova seção de conteúdo -->
      <div class="row container center-block p-0">
        

        <%- include src/includes/card-numerosSTF.html %>

        <%- include src/includes/card-jurisprudencia-do-stf.html %>

        <%- include src/includes/card-estatisticasProcessuais.html %>

        <%- include src/includes/card-acessar-portal-transparencia.html %>
        

        <!-- Cards laterais -->
        <div class="col-xs-12 col-sm-12 col-md-4 m-0 p-xs-0 p-sm-8">
          
        </div>
      
        <div class="col-xs-12 col-sm-6 col-md- col-lg-4 p-16 p-sm-8 p-xs-0 m-0 p-t-8">
          

        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 p-l-0 p-r-16 p-sm-8 p-xs-0 m-0">
          <div id="tv-justica" class="tv-justica card m-b-16">
            <div class="card-titulo">
              <h3 class="m-0">TV Justiça</h3>
              <div class="ao-vivo"><img src="<%= require('assets/img/portleticon/videocam.svg') %>" alt="ao vivo">ao vivo</div>
            </div>
            <div class="card-conteudo">
              <div class="card-media-video">
                <iframe width="560" height="349" src="https://www.youtube.com/embed/live_stream?channel=UCsW4QSB1USsu9ouuFUWe4Iw" frameborder="0" allowfullscreen></iframe>
              </div>
              <div class="row m-0 m-t-16">
                <a href="#" target="_blank" class="btn btn-raised btn-fluid btn-default-bordered btn-upper">Mais vídeos da TV Justiça</a>
              </div>
            </div>
          </div>

          <div id="agenda-dos-ministros" class="agenda-dos-ministros card m-b-16">
            <div class="card-titulo">Agenda dos ministros</div>
            <div class="card-conteudo">
              <div class="agenda-destaque">
                <div class="destaque-foto">
                  <a href="//stf.jus.br/portal/agendaPresidente/pesquisarAgendaPresidente.asp" target="_blank"><img width="80" height="80" src="<%= require('assets/img/fotos/carmen-lucia.jpg') %>"></a>
                </div>
                <div class="destaque-conteudo">
                  <div class="destaque-data">Segunda-feira, 13/02/2017</div>
                  <div class="destaque-eventos">
                    <div class="eventos"><a href="//stf.jus.br/portal/agendaPresidente/pesquisarAgendaPresidente.asp">3 eventos</a></div>
                    <div class="nome-ministro">Min. Cármen Lúcia</div>
                  </div>
                </div>
              </div>
              <div class="row m-0 m-t-16 p-0">
                <a href="//stf.jus.br/portal/agendaMinistro/listarAgendaMinistro.asp" target="_blank" class="btn btn-raised btn-fluid btn-default-bordered btn-upper col-xs-12">
                  Ver todas as agendas
                </a>
              </div>
            </div>
          </div>

          <div id="audiencias-publicas" class="audiencias-publicas card m-b-16">
            <div class="card-titulo">Audiências públicas</div>
            <div class="card-conteudo">
              <div class="audiencia-icone">
                <img src="<%= require('assets/img/conteudo/icone-audiencia-whatsapp.png') %>"
                     srcset="<%= require('assets/img/conteudo/icone-audiencia-whatsapp@2x.png') %> 2x" alt="Whatsapp">
              </div>
              <div class="audiencia-processo m-b-24 m-l-8">
                <div class="processo-numero">ADI 5.527</div>
                <div class="processo-relator">Min. Fachin</div>
              </div>
              <div class="card-caixa-texto audiencia-descricao m-b-24">
                Marco civil da internet e a suspensão do Whatsapp por decisões judiciais no Brasil.
              </div>
              <div class="audiencia-inscricao">
                Inscreva-se enviando um e-mail para <a href="mailto:adpf403@stf.jus.br">adpf403@stf.jus.br</a> até 01/02/2017.
              </div>
            </div>
          </div>

            <div id="forum" class="card __fundo-escuro m-b-16">
              <div class="card-conteudo p-b-0">
                <div class="row m-0">
                  <div class="p-0 p-b-16">
                    <h3 class="m-0">Fórum</h3>
                    <small>Grupo de discussão</small>
                  </div>
                  <div class="row m-0 p-0">
                    <div class="col-xs-12 p-0 p-b-16">
                      <button id="entrarForum" class="btn btn-default-bordered btn-raised btn-fluid btn-upper" type="button">Entrar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          <div id="transparencia" class="transparencia card m-b-16">
            <div class="card-titulo">Transparência</div>
            <div class="card-conteudo">
              <ul class="card-media-lista">
                <li class="media-lista-item row p-0">
                  <div class="lista-item-image col-xs-4 p-0 m-r-16">
                    <img src="<%= require('assets/img/transparencia/pessoas.png') %>"
                         srcset="<%= require('assets/img/transparencia/pessoas@2x.png') %> 2x"  alt="">
                  </div>
                  <div class="lista-item-texto col-xs-8 p-0">
                    <h4 class="m-0"><strong>Gestão de Pessoas</strong></h4>
                    <a id="transparencia-gestao-pessoas" href="http://www.stf.jus.br/portal/remuneracao/pesquisarRemuneracao.asp" target="_blank">Remuneração, Servidores, Membros do Tribunal, Magistrados Convocados, Indenizações, etc.</a>
                  </div>
                </li>

                <li class="media-lista-item row p-0">
                  <div class="lista-item-image col-xs-4 p-0 m-r-16">
                    <img src="<%= require('assets/img/transparencia/licitacoes.png') %>"
                         srcset="<%= require('assets/img/transparencia/licitacoes@2x.png') %> 2x"  alt="">
                  </div>
                  <div class="lista-item-texto col-xs-8 p-0">
                    <h4 class="m-t-0"><strong>Licitações</strong></h4>
                    <a id="transparencia-licitacoes" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=centralDoCidadaoAcessoInformacaoLicitacaoContrato" target="_blank">Concursos, Concorrência, Convites, Credenciamento, Leilão, Pregão, Tomada de preços.</a>
                  </div>
                </li>

                <li class="media-lista-item row p-0">
                  <div class="lista-item-image col-xs-4 p-0 m-r-16">
                    <img src="<%= require('assets/img/transparencia/orcamento.png') %>"
                         srcset="<%= require('assets/img/transparencia/orcamento@2x.png') %> 2x"  alt="">
                  </div>
                  <div class="lista-item-texto col-xs-8 p-0">
                    <h4 class="m-t-0"><strong>Orçamento e Finanças</strong></h4>
                    <a id="transparencia-orcamento" href="//www.stf.jus.br/portal/cms/verTexto.asp?servico=centralDoCidadaoAcessoInformacaoGestaoOrcamentaria" target="_blank">Compras, Despesas, Consumo, Contratos, Execução orçamentária, Dados diários de despesas.</a>
                  </div>
                </li>

                <li class="media-lista-item row m-0 p-0">
                  <div class="lista-item-image col-xs-4 p-0 m-r-16">
                    <img src="<%= require('assets/img/transparencia/sobre.png') %>"
                         srcset="<%= require('assets/img/transparencia/sobre@2x.png') %> 2x"  alt="">
                  </div>
                  <div class="lista-item-texto col-xs-8 p-0">
                    <h4 class="m-t-0"><strong>Conheça mais sobre o STF</strong></h4>
                    <a id="transparencia-sobrestf" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=centralDoCidadaoAcessoInformacaoGestaoPessoa" target="_blank">Composição do STF, Estatísticas Processuais, Serviços ao Cidadão, Estratégia Institucional e História.</a>
                  </div>
                </li>
              </ul>
              <a id="transparencia-vermais" href="/transparencia" target="" class="btn btn-fluid btn-upper btn-default-bordered btn-raised p-l-xs-8 p-r-xs-8">Ver o portal da transparência</a>
            </div>
          </div>
        </div>
      </div>

      </div>

    </section>

    <%- include src/includes/mapa-do-site.html %>

    <%- include src/includes/footer.html %>

  </div>
  <script>
  var config = {
              host: 'transparencia.stf.jus.br',
              prefix: '/',
              port: 443,
              isSecure: true
          };
          require.config({
              baseUrl: (config.isSecure ? "https://" : "http://") + config.host + (config.port ? ":" + config.port : "") + config.prefix + "resources"
          });
          var qlikApps = [];

          require(["js/qlik"], function (qlik) {
              qlik.setOnError(function (error) {
                  alert(error.message);
              });
              function attach(elem) {
                  var appid = elem.dataset.qlikAppid;
                  var objid = elem.dataset.qlikObjid;
                  var app = qlikApps[appid];
                  if (!app) {
                      app = qlik.openApp(appid, config);
                      qlikApps[appid] = app;
                  }
                  app.getObject(elem, objid);
              }
              var elems = document.getElementsByClassName('embeddedArea');
              var ix = 0;
              for (; ix < elems.length; ++ix) {
                  attach(elems[ix]);
              }
          });

  </script>
</body>
</html>
