<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Supremo Tribunal Federal</title>
  <link rel="icon" type="imagem/png" href="<%= require('assets/img/favicon.ico') %>" />
  <link rel="stylesheet" href="estilos.css">
</head>
<body>
  <div id="main" class="container-fluid p-0">
    <%- include src/includes/header.html %>

    <%- include src/includes/pesquisa.html %>

    <%- include src/includes/sob-medida.html %>

    <section id="conteudo" class="container-fluid m-0 p-0 p-t-8 m-r-8 m-l-8">
      <div class="row container center-block p-0">
        <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8 row m-0 p-xs-0 p-sm-8">
          <div id="noticias" class="noticias m-b-48">

            <div class="card-lt-md card-xs noticia m-0 m-b-24 row">
              <h3 class="noticia-titulo principal p-l-0 p-r-0 m-t-8 m-b-8"><a class="principal" href="//stf.jus.br/portal/cms/verNoticiaDetalhe.asp?idConteudo=345036">STF amplia para 10 dias prazo para interposição de recurso na AP 470</a></h3>
              <div class="col-md-6 hidden-xs hidden-sm p-0">
                <div class="noticia-imagem hidden-xs">
                  <img src="<%= require('assets/img/noticias/imagem-n-disponivel.png') %>" alt="">
                </div>
              </div>
              <div class="col-xs-12 col-md-6 p-0">
                <div class="noticia-categoria p-l-0 p-r-16">Processos <span class="hidden-xs hidden-sm noticia-data pull-right">·</span><span class="hidden-xs hidden-sm noticia-data pull-right tmp-dec">15/11/2017 09:00</span></div>
                <p class="noticia-resumo p-l-0 p-r-16">O Plenário do STF decidiu aumentar o prazo – de 5 para 10 dias – para a interposição de possíveis recursos (embargos de declaração) a serem protocolados após a publicação do acórdão da Ação Penal (AP) 470.</p>
                <div class="noticia-imagem-xs visible-xs visible-sm">
                  <img src="//fakeimg.pl/330x190/" alt="">
                </div>
                <div class="noticia-data-xs visible-xs visible-sm p-l-0 p-r-16 m-t-8 m-b-8">Há 3 minutos</div>
              </div>
            </div>

            <div class="card-lt-md card-xs  noticia m-b-24 row m-0">
              <div class="col-md-6 p-0">
                <div class="noticia-imagem hidden-xs">
                  <img src="//fakeimg.pl/330x190/" alt="">
                </div>
                <br>
                <div class="col-md-12 p-0">
                  <div class="noticia-categoria p-l-0 p-r-16">Processo Destaque <span class="hidden-xs hidden-sm noticia-data pull-right">·</span><span class="hidden-xs hidden-sm noticia-data pull-right tmp-dec">01/11/2017 00:00</span></div>
                  <h3 class="noticia-titulo p-l-0 p-r-16 m-t-8"><a href="//stf.jus.br/portal/cms/verNoticiaDetalhe.asp?idConteudo=345036">TV Justiça estreia série de documentários sobre decisões e_novadoras</a></h3>
                  <p class="noticia-resumo p-l-0 p-r-16">Em destaque, as decisões de primeira instância que abriram caminho para que o Supremo Tribunal Federal reconhecesse a união entre pessoas do mesmo sexo como entidade familiar, em outubro de 2011.</p>
                  <div class="noticia-imagem-xs visible-xs visible-sm">
                    <img src="//fakeimg.pl/330x190/" alt="">
                  </div>
                  <div class="noticia-data-xs visible-xs visible-sm p-l-0 p-r-16 m-t-8 m-b-8">Há 3 minutos</div>
                </div>
              </div>
              <div class="col-md-6 p-0">
                <div class="noticia-imagem hidden-xs">
                  <img src="//fakeimg.pl/330x190/" alt="">
                </div>
                <br>
                <div class="col-md-12 p-0">
                  <div class="noticia-categoria p-l-0 p-r-16">Jurisprudência <span class="hidden-xs hidden-sm noticia-data pull-right">·</span><span class="hidden-xs hidden-sm noticia-data pull-right tmp-dec">27/10/2017 00:00</span></div>
                  <h3 class="noticia-titulo p-l-0 p-r-16 m-t-8"><a href="//stf.jus.br/portal/cms/verNoticiaDetalhe.asp?idConteudo=345036">Presidente indefere questão de ordem no segundo dia de julgamento</a></h3>
                  <p class="noticia-resumo p-l-0 p-r-16">A defesa alegou que Marcos Valério “é acusado do maior número de fatos” na denúncia – “nove fatos distintos”, e que seu nome foi citado 197 vezes na manifestação do procurador-geral da República.</p>
                  <div class="noticia-imagem-xs visible-xs visible-sm">
                    <img src="//fakeimg.pl/330x190/" alt="">
                  </div>
                  <div class="noticia-data-xs visible-xs visible-sm p-l-0 p-r-16 m-t-8 m-b-8">Há 3 minutos</div>
                </div>
              </div>
            </div>

            <div class="card-lt-md card-xs  noticia m-b-24 row m-0">
              <div class="col-xs-12 p-0">
                <div class="noticia-categoria p-l-0 p-r-16">Plenário do STF <span class="hidden-xs hidden-sm noticia-data pull-right">·</span><span class="hidden-xs hidden-sm noticia-data pull-right tmp-dec">17/11/2017 19:18</span></div>
                <h3 class="noticia-titulo p-l-0 p-r-16 m-t-8"><a href="//stf.jus.br/portal/cms/verNoticiaDetalhe.asp?idConteudo=345036">Plenário do STF elege ministro substituto do TSE e vota lista tríplice</a></h3>
                <p class="noticia-resumo p-l-0 p-r-16">A lista é composta pelos advogados: Tarcísio Vieira de Carvalho Neto, Sérgio Silveira Banhos e Carlos Bastide Horbach.</p>
                <div class="noticia-data-xs visible-xs visible-sm p-l-0 p-r-16 m-t-8 m-b-8">Há 3 minutos</div>
              </div>
            </div>
          </div>
          <div id="acessar-portal-noticias" class="row m-0 m-r-8 m-l-8 m-b-48">
            <div class="col-md-2 p-0"></div>
            <div class="col-md-8 p-0">
              <button class="btn btn-default-bordered btn-raised btn-upper btn-fluid" type="button" id="btnAcessarPortalNocicitas">Acessar o portal de notícias</button>
            </div>
            <div class="col-md-2 p-0"></div>
          </div>

        </div>

        <!-- Cards laterais -->
        <div class="col-xs-12 col-sm-12 col-md-4 m-0 p-xs-0 p-sm-8">
          <div id="banner-rep-geral" class="card m-b-16">
            <div class="card-titulo">Repercussão Geral</div>
            <div class="card-conteudo row m-0 m-t-16 b-b-16 p-0">
              <div class="col-md-4">
                <div class="qlik-numero">
                  <div class="embeddedArea" data-qlik-objid="yeAFV" data-qlik-appid="b88460cb-8745-4fbc-973b-ddfee50c02aa"></div>
                </div>
                <div class="rotulo-qlik-numero">
                  <a href="/repercussaogeral#repgeral-qtd-temas-categoria-card"> Mérito julgado</a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="qlik-numero">
                  <div class="embeddedArea" data-qlik-objid="RNAB" data-qlik-appid="b88460cb-8745-4fbc-973b-ddfee50c02aa"></div>
                </div>
                <div class="rotulo-qlik-numero m-b-8">
                    <a href="/repercussaogeral#repgeral-qtd-temas-categoria-card"> Mérito não julgado</a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="qlik-numero">
                  <div class="embeddedArea" data-qlik-objid="kPzDGe" data-qlik-appid="b88460cb-8745-4fbc-973b-ddfee50c02aa"></div>
                </div>
                <div class="rotulo-qlik-numero m-b-8">
                    <a href="/repercussaogeral#repgeral-qtd-temas-categoria-card"> Sem repercussão</a>
                </div>
              </div>
            </div>
          </div>
          <div id="banner-competencia-original" class="card m-b-16">
            <div class="card-titulo">Controle concentrado em tramitação</div>
            <div class="card-conteudo row m-0 m-t-16 b-b-16 p-0">
              <div class="col-md-3">
                <div class="qlik-numero">
                  466
                </div>
                <div class="rotulo-qlik-numero">
                  <a href="http://www.stf.jus.br/arquivo/cms/publicacaoBOInternet/anexo/adpf_tramitação.xlsx" target="_blank">ADPF</a>
                </div>
              </div>
              <div class="col-md-3">
                <div class="qlik-numero">
                  3.590
                </div>
                <div class="rotulo-qlik-numero">
                    <a href="http://www.stf.jus.br/arquivo/cms/publicacaoBOInternet/anexo/adi_tramitação.xlsx" target="_blank">ADI</a>
                </div>
              </div>
              <div class="col-md-3">
                <div class="qlik-numero">
                  42
                </div>
                <div class="rotulo-qlik-numero">
                    <a href="http://www.stf.jus.br/arquivo/cms/publicacaoBOInternet/anexo/adc_tramitação.xlsx" target="_blank">ADC</a>
                </div>
              </div>
              <div class="col-md-3">
                <div class="qlik-numero">
                  41
                </div>
                <div class="rotulo-qlik-numero">
                    <a href="http://www.stf.jus.br/arquivo/cms/publicacaoBOInternet/anexo/ado_tramitação.xlsx" target="_blank">ADO</a>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 m-0 p-xs-0 p-sm-8">
          <div id="pautas-julgamento" class="pautas-julgamento card m-b-24">
            <div class="card-titulo">
              <h3 class="m-0">Pautas de julgamento</h3>
            </div>
            <div class="card-conteudo">
              <div class="calendario">
                <div class="header">
				          <div class="mes"><span class="icone glyphicon glyphicon-chevron-left pull-left m-l-8" aria-hidden="true"></span>
                    Fevereiro/2018
                    <span class="icone glyphicon glyphicon-chevron-right pull-right m-r-8" aria-hidden="true"></span></div>
				        </div>
                <table id="caledarioPautaJulgamento">
                  <thead>
                    <tr>
                      <th>D</th>
                      <th>S</th>
                      <th>T</th>
                      <th>Q</th>
                      <th>Q</th>
                      <th>S</th>
                      <th>S</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td>1</td>
                      <td>2</td>
                      <td class="ativa"><a href="//stf.jus.br/portal/pauta/listarCalendario.asp?data=10/05/2017">3</a></td>
                      <td class="ativa"><a href="//stf.jus.br/portal/pauta/listarCalendario.asp?data=10/05/2017">4</a></td>
                      <td>5</td>
                      <td>6</td>
                    </tr>
                    <tr>
                      <td>7</td>
                      <td>8</td>
                      <td>9</td>
                      <td class="ativa"><a href="//stf.jus.br/portal/pauta/listarCalendario.asp?data=10/05/2017">10</a></td>
                      <td class="ativa"><a href="//stf.jus.br/portal/pauta/listarCalendario.asp?data=10/05/2017">11</a></td>
                      <td>12</td>
                      <td>13</td>
                    </tr>
                    <tr>
                      <td>14</td>
                      <td>15</td>
                      <td>6</td>
                      <td class="ativa"><a href="//stf.jus.br/portal/pauta/listarCalendario.asp?data=10/05/2017">17</a></td>
                      <td class="ativa"><a href="//stf.jus.br/portal/pauta/listarCalendario.asp?data=10/05/2017">18</a></td>
                      <td>19</td>
                      <td>20</td>
                    </tr>
                    <tr>
                      <td>21</td>
                      <td>22</td>
                      <td>23</td>
                      <td class="ativa"><a href="//stf.jus.br/portal/pauta/listarCalendario.asp?data=10/05/2017">24</a></td>
                      <td class="ativa"><a href="//stf.jus.br/portal/pauta/listarCalendario.asp?data=10/05/2017">25</a></td>
                      <td>26</td>
                      <td>27</td>
                    </tr>
                    <tr>
                      <td>28</td>
                      <td>29</td>
                      <td>30</td>
                      <td class="ativa"><a href="//stf.jus.br/portal/pauta/listarCalendario.asp?data=10/05/2017">31</a></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-rodape p-16">
                 <form id="pesquisa-processo-pautado" action="javascript:void(0);">
                    <label for="pesquisa_pauta">Pesquise se seu processo está pautado</label>
                    <div class="row m-0 p-0">
                      <div class="col-xs-10 p-0">
                        <input type="text" name="pesquisa_pauta" id="pesquisa_pauta" placeholder="Digite a classe e o número">
                      </div>
                      <div id="botao-pesquisa-pauta" class="col-xs-2 p-0">
                        <button form="pesquisa-processo-pautado" class="btn btn-icone" id="btnPesquisarProcessoPauta">
                          <i class="icone glyphicon glyphicon-search"></i>
                        </button>
                      </div>
                    </div>
                </form>
            </div>
          </div>
            <div class="contato card m-b-24" id="contato">
              <div class="card-titulo">Canais de atendimento</div>
              <div class="card-conteudo">
                <ul class="card-media-lista">
                  <li class="media-lista-item row p-0">
                    <div class="lista-item-image col-xs-4 p-0 m-r-16">
                      <img src="<%= require('assets/img/transparencia/licitacoes.png') %>" alt="">
                    </div>
                    <div class="lista-item-texto col-xs-8 p-0">
                      <h4 class="m-0"><strong>Atendimento ao Advogado</strong></h4>
                      <a id="transparencia-gestao-pessoas" target="_blank" href="http://www.stf.jus.br/portal/atendimentoStf/apresentacao.asp">Peticionamento, carga programada, guia do advogado, pedido de certidão e mais...</a>
                    </div>
                  </li>
                  <li class="media-lista-item row p-0">
                    <div class="lista-item-image col-xs-4 p-0 m-r-16">
                      <img src="<%= require('assets/img/transparencia/pessoas.png') %>" alt="">
                    </div>
                    <div class="lista-item-texto col-xs-8 p-0">
                      <h4 class="m-0"><strong>Central do Cidadão</strong></h4>
                      <a id="transparencia-licitacoes" href="../textos/verTexto.asp?servico=centralDoCidadaoAcessoInformacao">Estatísticas, Acompanhamento processual, cópia de processos, Formulário de contato e mais...</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
        </div>
      </div>

      <!-- início de nova seção de conteúdo -->
      <div class="row container center-block p-0">
        <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8 row m-0 p-xs-0 p-sm-8">
          <div id="repercussao-geral" class="card m-b-48">
            <div class="card-titulo">Repercussão Geral</div>
            <div class="card-conteudo row m-0 m-t-16 b-b-16 p-0">
              <div class="col-md-6 col-lg-4">
                <div class="card-caixa-texto m-b-16">
                  <h4 class="m-0 m-t-8 m-b-16">Teses</h4>
                  <ul>
                    <li>
                      <a href="//www.stf.jus.br/portal/jurisprudenciaRepercussao/abrirTemasComTesesFirmadas.asp" target="_blank">Banco de Teses</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="card-caixa-texto m-b-16">
                  <h4 class="m-0 m-t-8 m-b-16">Números</h4>
                  <ul>
                    <li>
                      <a href="//www.stf.jus.br/portal/cms/verTexto.asp?servico=jurisprudenciaRepercussaoGeral&pagina=numeroRepercussao" target="_blank">Informações Consolidadas</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="card-caixa-texto m-b-16">
                  <h4 class="m-0 m-t-8 m-b-16">Temas de suspensão nacional</h4>
                  <ul>
                    <li>
                      <a href="/repercussaogeral#">Temas com suspensão nacional</a>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
          <div id="numerosSTF" class="card m-b-48">
            <div class="card-titulo">Classes Processuais</div>
            <div class="card-conteudo row m-0 m-t-16 b-b-16 p-0">
              <div class="col-md-6 col-lg-6">
                <div class="card-caixa-texto m-b-16">
                  <h4 class="m-0 m-t-8 m-b-16">Controle Concentrado</h4>
                  <ul class="m-l-16">
                    <li>
                      <a href="//www.stf.jus.br/arquivo/cms/publicacaoBOInternet/anexo/estatistica/ControleConcentradoGeral/CC_Geral.mhtml">Dados Estatísticos</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 col-lg-6">
                <div class="card-caixa-texto m-b-16">
                  <h4 class="m-0 m-t-8 m-b-16">Acervo Processual</h4>
                  <ul class="m-l-16">
                    <li>
                      <a href="//www.stf.jus.br/arquivo/cms/publicacaoBOInternet/anexo/acervostf.mhtml">Acervo Atual do STF</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div id="jurisprudencia-do-stf" class="card m-b-48 ">
            <div class="card-titulo">Jurisprudência</div>
            <div class="card-conteudo row m-0 m-t-16 b-b-16 p-0">
              <div class="col-md-6 col-lg-4">
                <div class="card-caixa-texto m-b-16">
                  <h4 class="m-0 m-t-8 m-b-16">Súmulas</h4>
                  <ul>
                    <li><a id="jurisprudencia-sumulas" href="//www.stf.jus.br/portal/cms/verTexto.asp?servico=jurisprudenciaSumula" target="_blank">Súmulas</a></li>
                    <li><a id="jurisprudencia-sumulas-vinculantes" href="//www.stf.jus.br/portal/cms/verTexto.asp?servico=jurisprudenciaSumulaVinculante" target="_blank">Súmulas Vinculantes</a></li>
                    <li><a id="jurisprudencia-sumulas-aplicacao" href="//www.stf.jus.br/portal/jurisprudencia/pesquisarSumula.asp" target="_blank">Aplicação das Súmulas no STF</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="card-caixa-texto m-b-16">
                  <h4 class="m-0 m-t-8 m-b-16">Informativos</h4>
                  <ul>
                    <li><a id="jurisprudencia-informativos-semanal" href="//www.stf.jus.br/portal/informativo/pesquisarInformativo.asp" target="_blank">Informativo semanal</a></li>
                    <li><a id="jurisprudencia-informativos-temas" href="//www.stf.jus.br/portal/cms/verTexto.asp?servico=publicacaoInformativoTema" target="_blank">Informativo por temas</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-12 col-lg-4 row m-0 m-b-16">
                <div class="col-md-6 col-lg-12 p-0 p-r-md-16">
                  <div class="card-caixa-texto p-b-16 m-b-16">
                    <h4 class="m-0 m-t-8 m-b-16">Pesquisa de jurisprudência</h4>
                    <a class="btn btn-default-bordered btn-raised btn-fluid btn-upper" target="_blank" href="//www.stf.jus.br/portal/jurisprudencia/pesquisarJurisprudência.asp">Ir para a pesquisa</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="estatisticasProcessuais" class="card m-b-48">
            <div class="card-titulo">Estatísticas de Repercussão Geral</div>
            <div class="card-conteudo row m-0 m-t-16 b-b-16 p-0">
              <div class="estatisticas-grafico p-0 m-0">
                <!--<iframe id="repgeral-qtd-sobrestados-categoria" class="full-width full-height" src="http://transparencia.stf.jus.br/single?appid=b88460cb-8745-4fbc-973b-ddfee50c02aa&obj=42267d4e-5e84-43fa-a444-29bd84294ae1&opt=nointeraction%2Cnoselections&select=clearall" style="border:none;"></iframe>-->
                <iframe id="repgeral-qtd-sobrestados-categoria" style="margin-top: -20px; height: 400px; border: none;" class="full-width" src="http://transparencia.stf.jus.br/single?appid=b88460cb-8745-4fbc-973b-ddfee50c02aa&obj=QXqQMLU&select=clearall"></iframe>
                <!--<iframe id="repgeral-qtd-sobrestados-categoria" style="height: 500px;" class="full-width full-height" src='' style='border:none;'></iframe>-->
              </div>
            </div>
          </div>
          <div id="acessar-portal-transparencia" class="row col-xs-12 m-0 m-b-40 p-0">
          <div class="col-md-2 hidden-xs hidden-sm p-0"></div>
          <div class="col-md-8 col-xs-12 p-0 p-l-8 p-r-8">
            <a href="#" class="btn btn-default-bordered btn-raised btn-upper btn-fluid">Conheça mais estatísticas</a>
          </div>
          <div class="col-md-2 hidden-xs hidden-sm p-0"></div>
        </div>
        </div>

        <!-- Cards laterais -->
        <div class="col-xs-12 col-sm-12 col-md-4 m-0 p-xs-0 p-sm-8">
          <div id="cadastro-newsletter" class="card __fundo-escuro">
            <div class="card-conteudo p-b-0">
              <div class="row m-0">
                <div class="p-0 p-b-16">
                  <h3 class="m-0">RECEBA NO SEU E-MAIL (PUSH)</h3>
                  <small>NOTÍCIAS E ATUALIZAÇÕES PROCESSUAIS</small>
                </div>
                <div class="row m-0 p-0">
                  <div class="col-xs-12 p-0 p-b-16">
                    <a href="//stf.jus.br/portal/push/autenticarUsuario.asp" target="_blank" class="btn btn-raised btn-fluid btn-default-bordered btn-upper col-xs-12">
                      Quero me cadastrar
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md- col-lg-4 p-16 p-sm-8 p-xs-0 m-0 p-t-8">
          <div id="supremo-em-acao" class="card card-sem-sombra">
            <div class="card-conteudo card-supremo-em-acao p-b-0">
              <div style class="row m-0 p-b-16">
                    <h3 class="m-0 m-b-8"><strong>SUPREMO EM ACÃO</strong></h3>
                    <h4>Aplicativo com o panorama do trabalho realizado pelos Ministros do STF</h4>
                    <div class="col-xs-5 col-md-5 p-l-0">
                        <a target="_blank" href="https://play.google.com/store/apps/details?id=br.jus.cnj.sa&hl=pt_BR&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img alt="Disponível no Google Play" class="full-width" src="<%= require('assets/img/conteudo/google-play-badge.png') %>" alt="Google Play"></a>
                    </div>
                    <div class="col-xs-2 col-md-2 p-l-0 p-t-8">
                        <a href="http://rsa.cnj.jus.br/stf/www/pdf/download.php?file=rsa.pdf"><img class="full-width" src="<%= require('assets/img/conteudo/pdf-download.png') %>" alt="Download PDF"></a>
                    </div>
                    <div class="clearfix"></div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 p-l-0 p-r-16 p-sm-8 p-xs-0 m-0">
          <div id="tv-justica" class="tv-justica card m-b-16">
            <div class="card-titulo">
              <h3 class="m-0">TV Justiça</h3>
              <div class="ao-vivo"><img src="<%= require('assets/img/portleticon/videocam.svg') %>" alt="ao vivo">ao vivo</div>
            </div>
            <div class="card-conteudo">
              <div class="card-media-video">
                <iframe width="560" height="349" src="https://www.youtube.com/embed/live_stream?channel=UCsW4QSB1USsu9ouuFUWe4Iw" frameborder="0" allowfullscreen></iframe>
              </div>
              <div class="row m-0 m-t-16">
                <a href="#" target="_blank" class="btn btn-raised btn-fluid btn-default-bordered btn-upper">Mais vídeos da TV Justiça</a>
              </div>
            </div>
          </div>

          <div id="agenda-dos-ministros" class="agenda-dos-ministros card m-b-16">
            <div class="card-titulo">Agenda dos ministros</div>
            <div class="card-conteudo">
              <div class="agenda-destaque">
                <div class="destaque-foto">
                  <a href="//stf.jus.br/portal/agendaPresidente/pesquisarAgendaPresidente.asp" target="_blank"><img width="80" height="80" src="<%= require('assets/img/fotos/carmen-lucia.jpg') %>"></a>
                </div>
                <div class="destaque-conteudo">
                  <div class="destaque-data">Segunda-feira, 13/02/2017</div>
                  <div class="destaque-eventos">
                    <div class="eventos"><a href="//stf.jus.br/portal/agendaPresidente/pesquisarAgendaPresidente.asp">3 eventos</a></div>
                    <div class="nome-ministro">Min. Cármen Lúcia</div>
                  </div>
                </div>
              </div>
              <div class="row m-0 m-t-16 p-0">
                <a href="//stf.jus.br/portal/agendaMinistro/listarAgendaMinistro.asp" target="_blank" class="btn btn-raised btn-fluid btn-default-bordered btn-upper col-xs-12">
                  Ver todas as agendas
                </a>
              </div>
            </div>
          </div>

          <div id="audiencias-publicas" class="audiencias-publicas card m-b-16">
            <div class="card-titulo">Audiências públicas</div>
            <div class="card-conteudo">
              <div class="audiencia-icone">
                <img src="<%= require('assets/img/conteudo/icone-audiencia-whatsapp.png') %>"
                     srcset="<%= require('assets/img/conteudo/icone-audiencia-whatsapp@2x.png') %> 2x" alt="Whatsapp">
              </div>
              <div class="audiencia-processo m-b-24 m-l-8">
                <div class="processo-numero">ADI 5.527</div>
                <div class="processo-relator">Min. Fachin</div>
              </div>
              <div class="card-caixa-texto audiencia-descricao m-b-24">
                Marco civil da internet e a suspensão do Whatsapp por decisões judiciais no Brasil.
              </div>
              <div class="audiencia-inscricao">
                Inscreva-se enviando um e-mail para <a href="mailto:adpf403@stf.jus.br">adpf403@stf.jus.br</a> até 01/02/2017.
              </div>
            </div>
          </div>

            <div id="cadastro-newsletter" class="card __fundo-escuro m-b-16">
              <div class="card-conteudo p-b-0">
                <div class="row m-0">
                  <div class="p-0 p-b-16">
                    <h3 class="m-0">Fórum</h3>
                    <small>Grupo de discussão</small>
                  </div>
                  <div class="row m-0 p-0">
                    <div class="col-xs-12 p-0 p-b-16">
                      <button id="entrarForum" class="btn btn-default-bordered btn-raised btn-fluid btn-upper" type="button">Entrar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          <div id="transparencia" class="transparencia card m-b-16">
            <div class="card-titulo">Transparência</div>
            <div class="card-conteudo">
              <ul class="card-media-lista">
                <li class="media-lista-item row p-0">
                  <div class="lista-item-image col-xs-4 p-0 m-r-16">
                    <img src="<%= require('assets/img/transparencia/pessoas.png') %>"
                         srcset="<%= require('assets/img/transparencia/pessoas@2x.png') %> 2x"  alt="">
                  </div>
                  <div class="lista-item-texto col-xs-8 p-0">
                    <h4 class="m-0"><strong>Gestão de Pessoas</strong></h4>
                    <a id="transparencia-gestao-pessoas" href="http://www.stf.jus.br/portal/remuneracao/pesquisarRemuneracao.asp" target="_blank">Remuneração, Servidores, Membros do Tribunal, Magistrados Convocados, Indenizações, etc.</a>
                  </div>
                </li>

                <li class="media-lista-item row p-0">
                  <div class="lista-item-image col-xs-4 p-0 m-r-16">
                    <img src="<%= require('assets/img/transparencia/licitacoes.png') %>"
                         srcset="<%= require('assets/img/transparencia/licitacoes@2x.png') %> 2x"  alt="">
                  </div>
                  <div class="lista-item-texto col-xs-8 p-0">
                    <h4 class="m-t-0"><strong>Licitações</strong></h4>
                    <a id="transparencia-licitacoes" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=centralDoCidadaoAcessoInformacaoLicitacaoContrato" target="_blank">Concursos, Concorrência, Convites, Credenciamento, Leilão, Pregão, Tomada de preços.</a>
                  </div>
                </li>

                <li class="media-lista-item row p-0">
                  <div class="lista-item-image col-xs-4 p-0 m-r-16">
                    <img src="<%= require('assets/img/transparencia/orcamento.png') %>"
                         srcset="<%= require('assets/img/transparencia/orcamento@2x.png') %> 2x"  alt="">
                  </div>
                  <div class="lista-item-texto col-xs-8 p-0">
                    <h4 class="m-t-0"><strong>Orçamento e Finanças</strong></h4>
                    <a id="transparencia-orcamento" href="//www.stf.jus.br/portal/cms/verTexto.asp?servico=centralDoCidadaoAcessoInformacaoGestaoOrcamentaria" target="_blank">Compras, Despesas, Consumo, Contratos, Execução orçamentária, Dados diários de despesas.</a>
                  </div>
                </li>

                <li class="media-lista-item row m-0 p-0">
                  <div class="lista-item-image col-xs-4 p-0 m-r-16">
                    <img src="<%= require('assets/img/transparencia/sobre.png') %>"
                         srcset="<%= require('assets/img/transparencia/sobre@2x.png') %> 2x"  alt="">
                  </div>
                  <div class="lista-item-texto col-xs-8 p-0">
                    <h4 class="m-t-0"><strong>Conheça mais sobre o STF</strong></h4>
                    <a id="transparencia-sobrestf" href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=centralDoCidadaoAcessoInformacaoGestaoPessoa" target="_blank">Composição do STF, Estatísticas Processuais, Serviços ao Cidadão, Estratégia Institucional e História.</a>
                  </div>
                </li>
              </ul>
              <a id="transparencia-vermais" href="/transparencia" target="" class="btn btn-fluid btn-upper btn-default-bordered btn-raised p-l-xs-8 p-r-xs-8">Ver o portal da transparência</a>
            </div>
          </div>
        </div>

      </div>

    </section>

    <%- include src/includes/mapa-do-site.html %>

    <%- include src/includes/footer.html %>

  </div>
  <script src="scripts/bundle.js"></script>
</body>
</html>
