<link href="/assets/styles/vendor.css" rel="stylesheet">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Supremo Tribunal Federal</title>
  <link rel="icon" type="imagem/png" href="<%= require('assets/img/favicon.ico') %>" />
</head>
<body>
  <div id="main" class="container-fluid p-0">

    <%- include src/includes/header.html %>

    <%- include src/includes/pesquisa.html %>

    <section id="conteudo" class="container-fluid m-0 p-0 m-r-8 m-l-8">
      <div class="row container center-block p-0">
        
        <div id="lado_esquerdo" class="col-xs-12 col-sm-12 col-md-8 m-0 p-xs-0 p-sm-8 p-b-32" style="padding-left: 0px;">
          <div id="filtroMinistro" class="card m-b-24 m-t-24">
            <div class="card-titulo">Filtre por um ministro</div>
            <div class="card-conteudo">
              <div id="lista_ministros" class="sob-medida-item p-0 m-r-16 m-l-16 p-b-10">
                <img alt="Ministro Presidente" id="MINISTRO PRESIDENTE" title="Ministro Presidente" src="../assets/img/ministros/presidente.jpg"
                  class="card-imagem-ministros cinza" onclick="clickMinistro(this)">
                <img alt="Ministra Cármen Lúcia" id="MIN. CÁRMEN LÚCIA" title="Ministra Cármen Lúcia" src="../assets/img/ministros/ministra_carmen_lucia.jpg"
                  class="card-imagem-ministros cinza" onclick="clickMinistro(this)">
                <img alt="Ministro Dias Toffoli" id="MIN. DIAS TOFFOLI" title="Ministro Dias Toffoli" src="../assets/img/ministros/ministro_dias_toffoli.jpg"
                  class="card-imagem-ministros cinza" onclick="clickMinistro(this)">
                <img alt="Ministro Celso de Melo" id="MIN. CELSO DE MELLO" title="Ministro Celso de Melo" src="../assets/img/ministros/ministro_celso_mello.jpg"
                  class="card-imagem-ministros cinza" onclick="clickMinistro(this)">
                <img alt="Ministro Marco Aurélio" id="MIN. MARCO AURÉLIO" title="Ministro Marco Aurélio" src="../assets/img/ministros/ministro_marco_aurelio.jpg"
                  class="card-imagem-ministros cinza" onclick="clickMinistro(this)">
                <img alt="Ministro Gilmar Mendes" id="MIN. GILMAR MENDES" title="Ministro Gilmar Mendes" src="../assets/img/ministros/ministro_mendes.jpg"
                  class="card-imagem-ministros cinza" onclick="clickMinistro(this)">
                <img alt="Ministro Ricardo Lewandowski" id="MIN. RICARDO LEWANDOWSKI" title="Ministro Ricardo Lewandowski" src="../assets/img/ministros/ministro_lewandowski.jpg"
                  class="card-imagem-ministros cinza" onclick="clickMinistro(this)">
                <img id="MIN. LUIZ FUX" alt="Ministro Luiz Fux" title="Ministro Luiz Fux" src="../assets/img/ministros/ministro_luiz_fux.jpg"
                  class="card-imagem-ministros cinza" onclick="clickMinistro(this)">
                <img alt="Ministra Rosa Weber" id="MIN. ROSA WEBER" title="Ministra Rosa Weber" src="../assets/img/ministros/ministra_rosa_weber.jpg"
                  class="card-imagem-ministros cinza" onclick="clickMinistro(this)">
                <img alt="Ministro Roberto Barroso" id="MIN. ROBERTO BARROSO" title="Ministro Roberto Barroso" src="../assets/img/ministros/ministro_roberto_barroso.jpg"
                  class="card-imagem-ministros cinza" onclick="clickMinistro(this)">
                <img alt="Ministro Edson Fachin" id="MIN. EDSON FACHIN" title="Ministro Edson Fachin" src="../assets/img/ministros/ministro_fachin.jpg"
                  class="card-imagem-ministros cinza" onclick="clickMinistro(this)">
                <img alt="Ministro Alexandre de Moraes" id="MIN. ALEXANDRE DE MORAES" title="Ministro Alexandre de Moraes" src="../assets/img/ministros/ministro_moraes.jpg"
                  class="card-imagem-ministros cinza" onclick="clickMinistro(this)">
              </div>
              <div class="sob-medida-item p-0 m-r-16 m-l-16 m-t-10 m-b-10 p-t-5" style="margin-top: 2%;">
                <select id="comboRelatores" name="relatores" class="campo-texto combo-qlik" style="margin-bottom: 2%;">
                  <option value="" selected>Outros Relatores</option>
                </select>
                <span>
                  <button class="btn pull-right ministros-card m-r-8" alt="Todo o STF" id="tribunal" title="Todo o STF" onclick="clickTodoTribunal()">Limpar Seleção</button>
                </span>
              </div>
            </div>
          </div>

          <div id="temas-repercussao" class="card m-b-24">
            <div class="card-titulo">Situação da Repercussão Geral</div>
            <div class="card-conteudo" style="height: 85%">
              <div class="col-md-3 text-center p-t-2">
                <div class="qlik-numero">
                  <div class="embeddedArea qlik-autoload" data-qlik-objid="QUANTIDADE_REPERCUSSAO_GERAL_RECONHECIDA" data-qlik-app-name="REPERCUSSAOGERAL"></div>
                </div>
                <div class="rotulo-qlik-numero">
                  <a href="" id="situacaoRGReconhecida">Reconhecida</a>
                </div>
              </div>
              <div class="col-md-3 text-center p-t-2">
                <div class="qlik-numero">
                  <div class="embeddedArea qlik-autoload" data-qlik-objid="QUANTIDADE_REPERCUSSAO_GERAL_NEGADA" data-qlik-app-name="REPERCUSSAOGERAL"></div>
                </div>
                <div class="rotulo-qlik-numero">
                  <a href="" id="situacaoRGNegada">Negada</a>
                </div>
              </div>
              <div class="col-md-3 text-center p-t-2">
                <div class="qlik-numero">
                  <div class="embeddedArea qlik-autoload" data-qlik-objid="QUANTIDADE_REPERCUSSAO_GERAL_EM_ANALISE" data-qlik-app-name="REPERCUSSAOGERAL"></div>
                </div>
                <div class="rotulo-qlik-numero">
                  <a href="" id="situacaoRGEmAnalise">Em análise</a>
                </div>
              </div>
              <div class="col-md-3 text-center p-t-2">
                <div class="qlik-numero">
                  <div class="embeddedArea qlik-autoload" data-qlik-objid="QUANTIDADE_REPERCUSSAO_GERAL_TOTAL" data-qlik-app-name="REPERCUSSAOGERAL"></div>
                </div>
                <div class="rotulo-qlik-numero m-b-8  p-t-4">
                  <a href="#temas-repercussao"> Total</a>
                </div>
              </div>
              <div class="embeddedArea qlik-autoload" style="width: 100%;height: 90%;" data-qlik-objid="TABELA_SITUACAO_RG" data-qlik-app-name="REPERCUSSAOGERAL"></div>
            </div>
          </div>

          <!--card de situação do mérito-->
          <div id="situacao-merito" class="card m-b-24">
            <div class="card-titulo">Situação do Mérito</div>
            <div class="card-conteudo card-com-input b-b-16" style="height: 90%">
              <div class="col-md-4 text-center p-t-4">
                <div class="qlik-numero">
                  <div class="embeddedArea qlik-autoload" data-qlik-objid="QUANTIDADE_TEMAS_MERITO_JULGADO" data-qlik-app-name="REPERCUSSAOGERAL"></div>
                </div>
                <div class="rotulo-qlik-numero">
                  <a href="" id="situacaoMeritoJulgado">Julgado</a>
                </div>
              </div>
              <div class="col-md-4 text-center p-t-4">
                <div class="qlik-numero">
                  <div class="embeddedArea qlik-autoload" data-qlik-objid="QUANTIDADE_TEMAS_MERITO_NAO_JULGADO" data-qlik-app-name="REPERCUSSAOGERAL"></div>
                </div>
                <div class="rotulo-qlik-numero">
                  <a href="" id="situacaoMeritoPendente">Pendente</a>
                </div>
              </div>
              <div class="col-md-4 text-center p-t-4">
                <div class="qlik-numero">
                  <div class="embeddedArea qlik-autoload" data-qlik-objid="QUANTIDADE_TEMAS" data-qlik-app-name="REPERCUSSAOGERAL"></div>
                </div>
                <div class="rotulo-qlik-numero m-b-8  p-t-4">
                  <a href="#situacao-merito"> Total</a>
                </div>
              </div>
              <div class="Grafico">
                <div class="embeddedArea qlik-autoload" style="width: 100%; height: 90%; align-items: center;" data-qlik-objid="TABELA_SITUACAO_MERITO"
                  data-qlik-app-name="REPERCUSSAOGERAL"></div>
              </div>
            </div>
          
          </div>

          <div class="card m-b-24">
            <div class="card-titulo">Méritos Julgados por Ano</div>
            <div class="card-conteudo">
              <div class="embeddedArea qlik-autoload" style="width: 100%; height: 50%; align-items: center;" data-qlik-objid="TABELA_MERITOS_JULGADOS_ANO"
                data-qlik-app-name="REPERCUSSAOGERAL"></div>
            </div>
          </div>
          
          <div id="conheca-mais-repercussao" class="card m-b-24 m-b-xs-0">
            <div class="card-titulo">Conheça mais o instituto de repercussão geral</div>
            <div class="card-conteudo row m-0 m-t-16 b-b-16 p-0">
              <div class="col-md-7 col-lg-7">
                <div class="card-caixa-texto m-b-16">
                  <h4 class="m-0 m-t-8 m-b-16">Conheça o instituto de Repercussão Geral</h4>
                  <ul>
                    <li>
                    <a id="repgeral-conheca" href="" >Conheça os fundamentos legais, finalidades, natureza e competência para o exame do instituto</a>
                    </li>
                  </ul>
                  <h4 class="m-0 m-t-8 m-b-16 p-t-8">Vigência</h4>
                  <ul>
                    <li>
                      <a id="repgeral-vigencia" href="" >Entenda quando o instituto entrou em vigor</a>
                    </li>
                  </ul>
                  <h4 class="m-0 m-t-8 m-b-16 p-t-8">Regulamentação</h4>
                  <ul>
                    <li>
                    <a id="repgeral-regulamentacao" href="">Veja a legislação aplicável ao regima da Repercussão Geral</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-5 col-lg-5">
                <div class="card-caixa-texto m-b-16">
                  <h4 class="m-0 m-t-8 m-b-16">Digno de Nota</h4>
                  <ul>
                    <li>
                      <a id="repgeral-questao-pratica" href="">Em breve</a>
                    </li>
                  </ul>
                  <h4 class="m-0 m-t-8 m-b-16 p-t-8">Questões de ordem</h4>
                  <ul>
                    <li>
                      <a id="repgeral-questao-ordem" href="#">Conheça os temas pertinentes a todo processo submetido à sistemática de Repercussão Geral</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Cards laterais -->
        <div id="lado_direito" class="col-xs-12 col-sm-12 col-md-4 m-0 p-xs-0 p-sm-8 p-b-16" style="padding-right: 0px;">
          <!--card pesquisa avançada-->
            <div id="entrar-forum-repercussao" class="card m-t-24 m-b-24 __fundo-escuro">
              <div class="card-conteudo p-b-0">
                <div class="row m-0">
                  <div class="p-0 p-b-16">
                    <h3 class="m-0">Pesquisa Avançada</h3>
                    <small></small>
                  </div>
                  <div class="row m-0 p-0">
                    <div class="col-xs-12 p-0 p-b-16">
                      <a href="jurisprudenciaRepercussao/pesquisarProcesso" target="_blank" class="btn btn-raised btn-fluid btn-default-bordered btn-upper col-xs-12" id="todosTemas">Pesquisar</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--Card todos os temas -->
            <div id="entrar-forum-repercussao" class="card m-b-24 __fundo-escuro">
              <div class="card-conteudo p-b-0">
                <div class="row m-0">
                  <div class="p-0 p-b-16">
                    <h3 class="m-0">Temas</h3>
                    <small>Veja todos os temas</small>
                  </div>
                  <div class="row m-0 p-0">
                    <div class="col-xs-12 p-0 p-b-16">
                     <a href="jurisprudenciaRepercussao/listarProcesso" target="_blank" class="btn btn-raised btn-fluid btn-default-bordered btn-upper col-xs-12" id="todosTemas">Entrar</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <!--Card todos as Teses Teses -->
            <div id="entrar-forum-repercussao" class="card m-b-24 __fundo-escuro">
              <div class="card-conteudo p-b-0">
                <div class="row m-0">
                  <div class="p-0 p-b-16">
                    <h3 class="m-0">Teses</h3>
                    <small>Veja todas as teses</small>
                  </div>
                  <div class="row m-0 p-0">
                    <div class="col-xs-12 p-0 p-b-16">
                      <a href="jurisprudenciaRepercussao/abrirTemasComTesesFirmadas.asp" target="_blank" class="btn btn-raised btn-fluid btn-default-bordered btn-upper col-xs-12">Entrar</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <!--Card todos as Teses Números -->
            <div id="entrar-forum-repercussao" class="card m-b-24 __fundo-escuro">
              <div class="card-conteudo p-b-0">
                <div class="row m-0">
                  <div class="p-0 p-b-16">
                    <h3 class="m-0">Números</h3>
                    <small>Veja estatísticas de repercussão geral</small>
                  </div>
                  <div class="row m-0 p-0">
                    <div class="col-xs-12 p-0 p-b-16">
                     <a href="cms/publicacaoBOInternet/anexo/RG/Numeros/Total_RG_Geral.mhtml" target="_blank" class="btn btn-raised btn-fluid btn-default-bordered btn-upper col-xs-12">Entrar</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="teses-repgeral card m-b-24">
                <div class="card-titulo">Teses de Repercussão Geral</div>
                <div class="card-conteudo p-0">
                    <div class="card-caixa-texto tese-descricao p-16">
                        Teses fixadas após julgado mérito da Repercussão Geral
                    </div>
                </div>
                <div class="card-conteudo p-b-8">
                    <div class="p-b-8 card-subtitulos">
                        <h4 class="card-subtitulo m-0 p-b-8"><a href="#">Tema 948</a><small class="p-l-8">Fixado em 02/06/2017</small></h4>
                        <strong>RE 883542</strong> - <a href="#">Acórdão</a>
                  </div>
                  <div  class="card-topico-conteudo">
                        A Contribuição Sindical Rural, Instituída pelo Decreto-Lei 1.661/1971, foi recepcionada pela ordem constitucional vigente e não configura hipótese de bitributação.
                  </div>
                </div>
                <div class="card-conteudo">
                    <div class="p-b-8 card-subtitulos">
                        <h4 class="card-subtitulo m-0 p-b-8"><a href="#">Tema 948</a><small class="p-l-8">Fixado em 02/06/2017</small></h4>
                        <strong>RE 883542</strong> - <a href="#">Acórdão</a>
                  </div>
                  <div  class="card-topico-conteudo">
                      A Contribuição Sindical Rural, Instituída pelo Decreto-Lei 1.661/1971, foi recepcionada pela ordem constitucional vigente e não configura hipótese de bitributação.
                  </div>
                </div>
                <div class="row m-16 p-0 p-b-16">
                    <a href="#" target="_blank" class="btn btn-raised btn-fluid btn-default-bordered btn-upper col-xs-12">
                      Ver todas as teses
                    </a>
                </div>
            </div>

            <div id="acompanhe-votacoes" class="card m-b-24">
                <div class="card-titulo">Acompanhe as votações</div>
                <div class="card-conteudo p-0">
                    <div class="card-caixa-texto tese-descricao p-16">
                        Temas de Repercussão Geral em Julgamento
                    </div>
                </div>
                <div class="card-conteudo p-t-8">
                    <ul class="card-media-lista">
                        <li class="media-lista-item row p-0">
                          <div class="lista-item-texto col-xs-8 p-0">
                            <h4 class="card-subtitulo m-0 p-b-8">
								<a href="http://www.stf.jus.br/portal/jurisprudenciaRepercussao/verAndamentoProcesso.asp?incidente=5022094&numeroProcesso=985392&classeProcesso=RE&numeroTema=946" target="_blank">Tema 942</a>
								<small class="p-l-8">Encerra em 20/04/2017</small>
							</h4>
                            <strong>Previdência social</strong><br />
                            <small>Relator Min. Luiz Fux</small><br />
                            <small>Leading case <a href="http://www.stf.jus.br/portal/processo/verProcessoAndamento.asp?incidente=4262142" target="_blank">RE 695911</a></small>
                          </div>
                        </li>
                    </ul>
                    <div class="card-topico-conteudo">
                        <span class="more">
                            Possibilidade de aplicação das regras do regime geral de previdência social para a averbação do tempo de serviço prestado em
                            Possibilidade de aplicação das regras do regime geral de previdência social para a averbação do tempo de serviço prestado em
                        </span>
                    </div>
                    <div class="m-t-8">
                        <strong>Questão constitucional (8 votos)</strong>
                        <div class="progress m-t-8">
                            <div class="progress-bar progress-bar-success" role="progressbar" style="width:50%"></div>
                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%">1</div>
                            <div class="text-center">3</div>
                        </div>
                    </div>
                    <div class="m-t-0">
                        <strong>Repercussão Geral (8 votos)</strong>
                        <div class="progress m-t-8">
                            <div class="progress-bar progress-bar-success" role="progressbar" style="width:50%"></div>
                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%">1</div>
                            <div class="text-center">11</div>
                        </div>
                    </div>
                    <div class="m-t-0">
                        <strong>Reafirmação de jurisprudência (0 votos)</strong>
                        <div class="progress m-t-8">
                            <div class="progress-bar progress-bar-success" role="progressbar" style="width:0%"></div>
                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:0%">1</div>
                            <div class="text-center">11</div>
                        </div>
                    </div>

                    <div class="row m-8 p-0 p-b-16">
                        <a href="http://www.stf.jus.br/portal/jurisprudenciaRepercussao/verPronunciamento.asp?pronunciamento=6739100" target="_blank" class="btn btn-raised btn-default-bordered btn-upper col-xs-5 col-md-5 btn-small pull-left">
                          Ver manifestação
                        </a>
                        <a href="http://www.stf.jus.br/portal/jurisprudenciaRepercussao/detalharProcesso.asp?numeroTema=492" target="_blank" class="btn btn-raised btn-default-bordered btn-upper col-xs-6 col-md-6 btn-small pull-right">
                          Ver quadro de votos
                        </a>
                    </div>

                    <hr />

                    <ul class="card-media-lista">
                        <li class="media-lista-item row p-0">
                          <div class="lista-item-texto col-xs-8 p-0">
                            <h4 class="card-subtitulo m-0 p-b-8">
								<a href="http://www.stf.jus.br/portal/jurisprudenciaRepercussao/verAndamentoProcesso.asp?incidente=5022094&numeroProcesso=985392&classeProcesso=RE&numeroTema=946" target="_blank">Tema 942</a>
								<small class="p-l-8">Encerra em 20/04/2017</small>
							</h4>
                            <small>Relator Min. Luiz Fux</small><br />
                            <small>Leading case <a href="http://www.stf.jus.br/portal/processo/verProcessoAndamento.asp?incidente=4262142" target="_blank" class="leading-case">RE 695911</a></small>
                          </div>
                        </li>
                    </ul>
                    <div class="card-topico-conteudo">
                        <span class="more">
                            Possibilidade de aplicação das regras do regime geral de previdência social para a averbação do tempo de serviço prestado em
                            Possibilidade de aplicação das regras do regime geral de previdência social para a averbação do tempo de serviço prestado em
                            Possibilidade de aplicação das regras do regime geral de previdência social para a averbação do tempo de serviço prestado em
                        </span>
                    </div>
                    <div class="m-t-16">
                        <strong>Questão constitucional (8 votos)</strong>
                        <div class="progress m-t-8">
                            <div class="progress-bar progress-bar-success" role="progressbar" style="width:50%"></div>
                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%">1</div>
                            <div class="text-center">3</div>
                        </div>
                    </div>
                    <div class="m-t-0">
                        <strong>Repercussão Geral (8 votos)</strong>
                        <div class="progress m-t-8">
                            <div class="progress-bar progress-bar-success" role="progressbar" style="width:50%"></div>
                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%">1</div>
                            <div class="text-center">11</div>
                        </div>
                    </div>
                    <div class="m-t-0">
                        <strong>Reafirmação de jurisprudência (0 votos)</strong>
                        <div class="progress m-t-8">
                            <div class="progress-bar progress-bar-success" role="progressbar" style="width:0%"></div>
                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:0%">1</div>
                            <div class="text-center">11</div>
                        </div>
                    </div>

                    <div class="row m-8 p-0 p-b-16">
                        <a href="http://www.stf.jus.br/portal/jurisprudenciaRepercussao/verPronunciamento.asp?pronunciamento=6739100" target="_blank" class="btn btn-raised btn-default-bordered btn-upper col-xs-5 col-md-5 btn-small pull-left">
                          Ver manifestação
                        </a>
                        <a href="http://www.stf.jus.br/portal/jurisprudenciaRepercussao/detalharProcesso.asp?numeroTema=492" target="_blank" class="btn btn-raised btn-default-bordered btn-upper col-xs-6 col-md-6 btn-small pull-right">
                          Ver quadro de votos
                        </a>
                    </div>

                    <div class="row m-8 p-0">
                        <a id="botao-acompanhe-todas-votacoes" href="http://www.stf.jus.br/portal/jurisprudenciaRepercussao/listarProcesso.asp?PesquisaEm=tema&PesquisaEm=controversia&PesquisaEm=ambos&situacaoRG=TODAS&situacaoAtual=S&txtTituloTema=&numeroTemaInicial=&numeroTemaFinal=&acao=pesquisarProcesso&dataInicialJulgPV=&dataFinalJulgPV=&classeProcesso=&numeroProcesso=&ministro=&ordenacao=asc&botao="
							target="_blank" class="btn btn-raised btn-fluid btn-default-bordered btn-upper btn-medium col-xs-12">
                          Acompanhe todas as votações
                        </a>
                    </div>
                </div>
            </div>
            <div id="entrar-forum-repercussao" class="card m-b-24 __fundo-escuro">
                <div class="card-conteudo p-b-0">
                  <div class="row m-0">
                    <div class="p-0 p-b-16">
                      <h3 class="m-0">Fórum de Repercussão</h3>
                      <small>Somente para órgãos credenciados</small>
                    </div>
                    <div class="row m-0 p-0">
                      <div class="col-xs-12 p-0 p-b-16">
                        <a href="/#" target="_blank" class="btn btn-raised btn-fluid btn-default-bordered btn-upper col-xs-12">
                          Entrar
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <div id="mais-info" class="card m-b-48">
              <div class="card-titulo">Informações Consolidadas</div>
              <div class="card-conteudo"><ul>
                  <li>
                  <p><a href="http://www.stf.jus.br/arquivo/cms/publicacaoBOInternet/anexo/RG/Numeros/Total_RG_Geral.mhtml">Números da repercussão geral (situação atual detalhada)</a><span><span style="font-size: medium"><b><span style="color: rgb(255,0,0)"><span style="font-family: Tahoma"> (novo)</span></span></b></span></span></p>
                  </li>
                  <li>
                  <p><a href="http://www.stf.jus.br/arquivo/cms/publicacaoBOInternet/anexo/RG/Teste/Quadro Geral Devolução RG.mhtml">Devoluções do Supremo Tribunal Federal pela sistemática da repercussão geral</a><span><span style="font-size: medium"><b><span style="color: rgb(255,0,0)"><span style="font-family: Tahoma"> (novo)</span></span></b></span></span></p>
                  </li>
                  <li>
                  <p><a href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=estatistica&pagina=sobrestadosrg">Processos sobrestados em razão da repercussão geral</a></p>
                  </li>
                  <li>
                  <p><a href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=jurisprudenciaRepercussaoGeral&pagina=listas_rg">Relatórios Prontos</a></p>
                  </li>
                  <li>
                  <p><a href="http://www.stf.jus.br/portal/cms/verTexto.asp?servico=publicacaoInformativoRG">Boletim Repercussão Geral</a></p>
                  </li>
              </ul>
              <div style="border-top-color: #dfe8ed">
              <p><b>Dicas de Pesquisa</b></p>
              <p>Para pesquisa por lista, por termos do tema, por relator, por número do processo paradigma, por status da repercussão ou do julgamento do mérito do tema, utilize o item <a href="http://www.stf.jus.br/portal/jurisprudenciaRepercussao/pesquisarProcesso.asp">pesquisa avançada</a>. Por exemplo, se a informação desejada for relativa aos processos em que houve o reconhecimento de repercussão geral, marcar a opção "com repercussão geral" e em seguida clicar em "pesquisar". Apresentada a lista, clicar sobre a informação desejada, se houver necessidade de mais detalhes sobre um tema ou processo específicos.</p>
              </div>
              <p>&nbsp;</p></div>
            </div>

        </div>
      </div>
    </section>

    <%- include src/includes/mapa-do-site.html %>
    <%- include src/includes/footer.html %>
  </div>
  <script src="http://transparencia.stf.jus.br/resources/assets/external/requirejs/require.js"></script>
</body>
</html>
