<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Supremo Tribunal Federal</title>
</head>
<body>
  <div id="main" class="container-fluid p-0">
    <%- include src/includes/header.html %>
    <%- include src/includes/pesquisa-repgeral.html %>

    <section id="conteudo" class="container-fluid m-0 p-0" >
      <div class="row container center-block p-0">
        <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8 row m-0 p-xs-0 p-sm-8 ">            
          <div id="noticias" class="noticias m-b-48">            
            <div class="titulos-secoes m-l-16 p-b-24">
              Últimos destaques de Repercussão Geral do STF
            </div>
            <div class="card-lt-md card-xs noticia m-0 m-b-24 row">
              <div class="col-md-6 hidden-xs hidden-sm p-0">
                <div class="noticia-imagem hidden-xs">
                  <img src="//fakeimg.pl/330x190/" alt="">
                </div>
              </div>
              <div class="col-xs-12 col-md-6 p-0">
                <div class="noticia-categoria p-l-16 p-r-16">Plenário do STF <span class="hidden-xs hidden-sm noticia-data">·</span><span class="hidden-xs hidden-sm noticia-data">Há 3 minutos</span></div>
                <h3 class="noticia-titulo p-l-16 p-r-16 m-t-8 m-t-8"><a href="//stf.jus.br/portal/cms/verNoticiaDetalhe.asp?idConteudo=345036">Plenário do STF elege ministro substituto do TSE e vota lista tríplice</a></h3>
                <p class="noticia-resumo p-l-16 p-r-16">A lista é composta pelos advogados: Tarcísio Vieira de Carvalho Neto, Sérgio Silveira Banhos e Carlos Bastide Horbach.</p>
                <div class="noticia-compartilhar hidde-xs hidden-sm p-l-16 m-t-32">
                  <div class="facebook">
                    <a href="#" class="text-hide"></a>
                  </div>
                  <div class="twitter">
                    <a href="#" class="text-hide"></a>
                  </div>
                </div>
                <div class="noticia-imagem-xs visible-xs visible-sm">
                  <img src="//fakeimg.pl/330x190/" alt="">
                </div>
                <div class="noticia-data-xs visible-xs visible-sm p-l-16 p-r-16 m-t-8 m-b-8">Há 3 minutos</div>
              </div>
            </div>

            <div class="card-lt-md card-xs  noticia m-b-24 row m-0">
              <div class="col-md-6 hidden-xs hidden-sm p-0">
                <div class="noticia-imagem hidden-xs">
                  <img src="//fakeimg.pl/330x190/" alt="">
                </div>
              </div>
              <div class="col-xs-12 col-md-6 p-0">
                <div class="noticia-categoria p-l-16 p-r-16">Plenário do STF <span class="hidden-xs hidden-sm noticia-data">·</span><span class="hidden-xs hidden-sm noticia-data">Há 3 minutos</span></div>
                <h3 class="noticia-titulo p-l-16 p-r-16 m-t-8"><a href="//stf.jus.br/portal/cms/verNoticiaDetalhe.asp?idConteudo=345036">Plenário do STF elege ministro substituto do TSE e vota lista tríplice</a></h3>
                <p class="noticia-resumo p-l-16 p-r-16">A lista é composta pelos advogados: Tarcísio Vieira de Carvalho Neto, Sérgio Silveira Banhos e Carlos Bastide Horbach.</p>
                <div class="noticia-compartilhar hidde-xs hidden-sm p-l-16 m-t-32">
                  <div class="facebook">
                    <a href="#" class="text-hide"></a>
                  </div>
                  <div class="twitter">
                    <a href="#" class="text-hide"></a>
                  </div>
                </div>
                <div class="noticia-imagem-xs visible-xs visible-sm">
                  <img src="//fakeimg.pl/330x190/" alt="">
                </div>
                <div class="noticia-data-xs visible-xs visible-sm p-l-16 p-r-16 m-t-8 m-b-8">Há 3 minutos</div>
              </div>
            </div>

            <div class="card-lt-md card-xs  noticia m-b-24 row m-0">
              <div class="col-xs-12 p-0">
                <div class="noticia-categoria p-l-16 p-r-16">Plenário do STF <span class="hidden-xs hidden-sm noticia-data">·</span><span class="hidden-xs hidden-sm noticia-data">Há 3 minutos</span></div>
                <h3 class="noticia-titulo p-l-16 p-r-16 m-t-8"><a href="//stf.jus.br/portal/cms/verNoticiaDetalhe.asp?idConteudo=345036">Plenário do STF elege ministro substituto do TSE e vota lista tríplice</a></h3>
                <p class="noticia-resumo p-l-16 p-r-16">A lista é composta pelos advogados: Tarcísio Vieira de Carvalho Neto, Sérgio Silveira Banhos e Carlos Bastide Horbach.</p>
                <div class="noticia-compartilhar hidde-xs hidden-sm p-l-16 m-t-32">
                  <div class="facebook">
                    <a href="#" class="text-hide"></a>
                  </div>
                  <div class="twitter">
                    <a href="#" class="text-hide"></a>
                  </div>
                </div>
                <div class="noticia-data-xs visible-xs visible-sm p-l-16 p-r-16 m-t-8 m-b-8">Há 3 minutos</div>
              </div>
            </div>
          </div>

<!--            <div id="acessar-portal-noticias-jurisprudencia" class="row m-16 p-b-16">
                <div class="col-md-2 p-0"></div>
                <div class="col-md-8 p-0">
                  <button class="btn btn-default-bordered btn-raised btn-upper btn-fluid btn-small p-0">Ver notícias de repercussão geral</button>
                </div>
                <div class="col-md-2 p-0"></div>
            </div>-->
            
            <div class="titulos-secoes m-l-16 p-b-24 p-t-16">
                Números da Repercussão Geral
            </div>

            <div id="conheca-mais-repercussao" class="card m-b-48">
                <div class="card-titulo">Temas de Repercussão Geral</div>
                <div class="card-conteudo row m-0 p-0">
                    <div class="card-conteudo-cinza col-md-5 text-center p-t-16">
                        <div class="numero-repgeral">
                          946
                        </div>
                        <div class="rotulo-repgeral">
                          Quantidade de temas
                        </div>
                    </div>
                    <div class="col-md-7 text-center">
                        <div class="numero-repgeral numero-repgeral-verde p-t-16">
                          1.205.761
                        </div>
                        <div class="rotulo-repgeral">
                            Qtd. de processos sobrestados <br />
                            <span class="card-topico-conteudo">Fonte: CNJ</span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="acessar-portal-noticias" class="row m-0 m-r-8 m-l-8 m-b-48">
                <div class="col-md-2 p-0"></div>
                    <div class="col-md-8 p-0">
                        <a class="btn btn-default-bordered btn-raised btn-upper btn-fluid" target="_blank" href="http://analitico.stf.jus.br/single?appid=3e15b9bf-6795-4077-b00e-721b5d2a417f&sheet=9a8c5198-e42f-4dcb-87ab-c35132218fd6&opt=currsel&select=clearall">Clique para filtrar com detalhes</a>
                    </div>
                <div class="col-md-2 p-0"></div>
            </div>

            <div id="conheca-mais-repercussao" class="card m-b-48 ">
                <div class="card-titulo">Quantidade de temas ou sobrestados por categoria</div>
                <div class="card-conteudo card-com-input row m-0 b-b-16 p-0">
                    <div class="p-0 m-0">
                        <!--<img class="full-width" src="<%= require('assets/img/repgeral/temas-repgeral.png') %>" alt="temas De Repercussao Geral">-->
                        <iframe id="repgeral-quantidade-temas-categoria" class="full-width" src='http://viana3/single?appid=3e15b9bf-6795-4077-b00e-721b5d2a417f&obj=42267d4e-5e84-43fa-a444-29bd84294ae1&select=clearall' style='border:none;'></iframe>
                    </div>
                </div>
            </div>

            <div id="conheca-mais-repercussao" class="card m-b-48 ">
                <div class="card-titulo">Quantidade de temas ou de processos sobrestados por data</div>
                <div class="card-conteudo row m-0 b-b-16 p-0">
                    <div class="p-0 m-0">
                        <!--<img class="full-width" src="<%= require('assets/img/repgeral/qtd-temas.png') %>" alt="quantidade De Temas">-->
                        <iframe id="repgeral-quantidade-sobrestados-data" class="full-width" src='http://viana3/single?appid=3e15b9bf-6795-4077-b00e-721b5d2a417f&obj=380b7320-4494-4d98-9f0f-37389bdceb46&select=clearall' style='border:none;'></iframe>
                    </div>
                </div>
            </div>

          <div id="conheca-mais-repercussao" class="card m-b-48 m-b-xs-0">
            <div class="card-titulo">Conheça mais o instituto de repercussão geral</div>
            <div class="card-conteudo row m-0 m-t-16 b-b-16 p-0">
              <div class="col-md-7 col-lg-7">
                <div class="card-caixa-texto m-b-16">
                  <h4 class="m-0 m-t-8 m-b-16">Conheça o instituto de Repercussão Geral</h4>
                  <ul>
                    <li><a id="repgeral-conheca" href="//www.stf.jus.br/portal/cms/verTexto.asp?servico=jurisprudenciaRepercussaoGeral&pagina=apresentacao">Conheça os fundamentos legais, finalidades, natureza e competência para o exame do instituto</a></li>
                  </ul>
                  <h4 class="m-0 m-t-8 m-b-16 p-t-8">Vigência</h4>
                  <ul>
                    <li><a id="repgeral-vigencia" href="//www.stf.jus.br/portal/cms/verTexto.asp?servico=jurisprudenciaRepercussaoGeral&pagina=vigencia">Entenda quando o instituto entrou em vigor</a></li>
                  </ul>
                  <h4 class="m-0 m-t-8 m-b-16 p-t-8">Regulamentação</h4>
                  <ul>
                    <li><a id="repgeral-regulamentacao" href="//www.stf.jus.br/portal/cms/verTexto.asp?servico=jurisprudenciaRepercussaoGeral&pagina=regulamentacao">Veja a legislação aplicável ao regima da Repercussão Geral</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-5 col-lg-5">
                <div class="card-caixa-texto m-b-16">
                  <h4 class="m-0 m-t-8 m-b-16">Questões práticas</h4>
                  <ul>
                    <li><a id="repgeral-questao-pratica" href="//www.stf.jus.br/portal/cms/verTexto.asp?servico=jurisprudenciaRepercussaoGeral&pagina=processamentoMultiplo">Procedimentos adotados e decisões administrativas e judiciais sobre o Instituto no STF</a></li>
                  </ul>
                  <h4 class="m-0 m-t-8 m-b-16 p-t-8">Questões de ordem</h4>
                  <ul>
                    <li><a id="repgeral-questao-ordem" href="//www.stf.jus.br/portal/cms/verTexto.asp?servico=jurisprudenciaRepercussaoInformacaoGeral&pagina=questoesdeordem">Conheça os temas pertinentes a todo processo submetido à sistemática de Repercussão Geral</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

<!--          <div id="acessar-portal-transparencia" class="row col-xs-12 m-0 m-b-48 m-t-48 p-0">
            <div class="col-md-2 hidden-xs hidden-sm p-0"></div>
            <div class="col-md-8 col-xs-12 p-0 p-l-8 p-r-8">
              <a href="#" class="btn btn-default-bordered btn-raised btn-upper btn-fluid">Conheça mais estatísticas</a>
            </div>
            <div class="col-md-2 hidden-xs hidden-sm p-0"></div>
          </div>-->
        </div>

        <!-- Cards laterais -->
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 p-16 p-sm-8 p-xs-0 m-0">    
            
            <div class="teses-repgeral card m-b-24">
                <div class="card-titulo">Teses de Repercussão Geral</div>                
                <div class="card-conteudo p-0"> 
                    <div class="card-caixa-texto tese-descricao p-16">
                        Teses fixadas após julgado mérito da Repercussão Geral
                    </div>
                </div>                
                <div class="card-conteudo p-b-8">                  
                    <div class="p-b-8 card-subtitulos">
                        <h4 class="card-subtitulo m-0 p-b-8"><a href="#">Tema 948</a><small class="p-l-8">Fixado em 02/06/2017</small></h4>
                        <strong>RE 883542</strong> - <a href="#">Acórdão</a>
                  </div>
                  <div  class="card-topico-conteudo">
                        A Contribuição Sindical Rural, Instituída pelo Decreto-Lei 1.661/1971, foi recepcionada pela ordem constitucional vigente e não configura hipótese de bitributação.
                  </div>
                </div>                
                <div class="card-conteudo">                  
                    <div class="p-b-8 card-subtitulos">
                        <h4 class="card-subtitulo m-0 p-b-8"><a href="#">Tema 948</a><small class="p-l-8">Fixado em 02/06/2017</small></h4>
                        <strong>RE 883542</strong> - <a href="#">Acórdão</a>
                  </div>
                  <div  class="card-topico-conteudo">
                      A Contribuição Sindical Rural, Instituída pelo Decreto-Lei 1.661/1971, foi recepcionada pela ordem constitucional vigente e não configura hipótese de bitributação.
                  </div>
                </div>                
                <div class="row m-16 p-0 p-b-16">
                    <a href="#" target="_blank" class="btn btn-raised btn-fluid btn-default-bordered btn-upper col-xs-12">
                      Ver todas as teses
                    </a>
                </div>
            </div>
            
            <div id="acompanhe-votacoes" class="card m-b-24">
                <div class="card-titulo">Acompanhe as votações</div>                
                <div class="card-conteudo p-0"> 
                    <div class="card-caixa-texto tese-descricao p-16">
                        Teses de  Repercussão Geral em julgamento
                    </div>
                </div>
                <div class="card-conteudo p-t-8">
                    <ul class="card-media-lista">
                        <li class="media-lista-item row p-0">
                          <div class="lista-item-image col-xs-4 p-0 m-r-16 hidden-xs">
                              <div class="acompanhe-votacoes-imagem">
                                  <a href="#"><img src="//fakeimg.pl/80x77/" alt=""></a>
                              </div>
                          </div>
                          <div class="lista-item-texto col-xs-8 p-0">
                            <h4 class="card-subtitulo m-0 p-b-8"><a href="#">Tema 942</a><small class="p-l-8">Encerra em 20/04/2017</small></h4>
                            <strong>Previdência social</strong><br />
                            <small>Relator Min. Luiz Fux</small><br />
                            <small>Leading case <a href="#">RE 1014286</a></small>
                          </div>
                        </li>
                    </ul> 
                    <div class="card-topico-conteudo">
                        Possibilidade de aplicação das regras do regime geral de previdência social para a averbação do tempo de serviço prestado em ... <a href="#">Leia mais</a>
                    </div>
                    <div class="m-t-8">
                        <strong>Questão constitucional (8 votos)</strong>
                        <div class="progress m-t-8">
                            <div class="progress-bar progress-bar-success" role="progressbar" style="width:50%"></div>
                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%">1</div>
                            <div class="text-center">3</div>
                        </div>
                    </div>
                    <div class="m-t-0">
                        <strong>Repercussão Geral (8 votos)</strong>
                        <div class="progress m-t-8">
                            <div class="progress-bar progress-bar-success" role="progressbar" style="width:50%"></div>
                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%">1</div>
                            <div class="text-center">11</div>
                        </div>
                    </div>
                    <div class="m-t-0">
                        <strong>Reafirmação de jurisprudência (0 votos)</strong>
                        <div class="progress m-t-8">
                            <div class="progress-bar progress-bar-success" role="progressbar" style="width:0%"></div>
                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:0%">1</div>
                            <div class="text-center">11</div>
                        </div>
                    </div>

                    <div class="row m-8 p-0 p-b-16">
                        <a href="#" target="_blank" class="btn btn-raised btn-default-bordered btn-upper col-xs-5 col-md-5 pull-left">
                          Ver manifestação
                        </a>
                        <a href="#" target="_blank" class="btn btn-raised btn-default-bordered btn-upper col-xs-6 col-md-6 pull-right">
                          Ver quadro de votos
                        </a>
                    </div>                      
                    
                    <hr />
                    
                    <ul class="card-media-lista">
                        <li class="media-lista-item row p-0">
                          <div class="lista-item-image col-xs-4 p-0 m-r-16 hidden-xs">
                              <div class="acompanhe-votacoes-imagem">
                                  <a href="#"><img src="//fakeimg.pl/80x77/" alt=""></a>
                              </div>
                          </div>
                          <div class="lista-item-texto col-xs-8 p-0">
                            <h4 class="card-subtitulo m-0 p-b-8"><a href="#">Tema 942</a><small class="p-l-8">Encerra em 20/04/2017</small></h4>
                            <strong>Previdência social</strong><br />
                            <small>Relator Min. Luiz Fux</small><br />
                            <small>Leading case <a href="#">RE 1014286</a></small>
                          </div>
                        </li>
                    </ul> 
                    <div class="card-topico-conteudo">
                        Possibilidade de aplicação das regras do regime geral de previdência social para a averbação do tempo de serviço prestado em ... <a href="#">Leia mais</a>
                    </div>
                    <div class="m-t-16">
                        <strong>Questão constitucional (8 votos)</strong>
                        <div class="progress m-t-8">
                            <div class="progress-bar progress-bar-success" role="progressbar" style="width:50%"></div>
                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%">1</div>
                            <div class="text-center">3</div>
                        </div>
                    </div>
                    <div class="m-t-0">
                        <strong>Repercussão Geral (8 votos)</strong>
                        <div class="progress m-t-8">
                            <div class="progress-bar progress-bar-success" role="progressbar" style="width:50%"></div>
                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%">1</div>
                            <div class="text-center">11</div>
                        </div>
                    </div>
                    <div class="m-t-0">
                        <strong>Reafirmação de jurisprudência (0 votos)</strong>
                        <div class="progress m-t-8">
                            <div class="progress-bar progress-bar-success" role="progressbar" style="width:0%"></div>
                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:0%">1</div>
                            <div class="text-center">11</div>
                        </div>
                    </div>

                    <div class="row m-8 p-0 p-b-16 text-center">
                        <a href="#" target="_blank" class="btn btn-raised btn-default-bordered btn-upper col-xs-5 col-md-5 m-r-8 pull-left">
                          Ver manifestação
                        </a>
                        <a href="#" target="_blank" class="btn btn-raised btn-default-bordered btn-upper col-xs-6 col-md-6 pull-right">
                          Ver quadro de votos
                        </a>
                    </div>   
                
                    <div class="row m-8 p-0">
                        <a href="#" target="_blank" class="btn btn-raised btn-fluid btn-default-bordered btn-upper col-xs-12">
                          Acompanhe todas as votações
                        </a>
                    </div>
                </div>
            </div>      
            
            <div id="temas-repercussao-geral" class="teses-repgeral card m-b-24">
                <div class="card-titulo">Temas de Repercussão Geral</div>               
                <div class="card-conteudo p-0"> 
                    <div class="card-caixa-texto tese-descricao m-b-24 p-16">
                        Recursos Extraordinários que serão analisados de acordo com os critérios de relevância jurídica, política, social ou econômica.
                        A decisão proveniente dessa análise será aplicada posteriormente pelas instâncias inferiores, em casos idênticos. 
                        <a href="#">Conheça mais</a>                        
                    </div>
                </div>                
                <div class="card-conteudo p-t-0">   
                    <h4 class="p-b-16"><strong>Temas com maior impacto</strong></h4>

                    <div class="card-subtitulos">
                        <h4 class="card-subtitulo m-0"><a href="#">Tema 234</a></h4>
                        <span>Poupança</span>
                    </div>
                    <div class="card-topico-conteudo">
                        334.034 (33%) processos. Desde 23/04/2010
                    </div>
                </div>                
                <div class="card-conteudo p-t-0">                  
                    <div class="card-subtitulos">
                        <h4 class="card-subtitulo m-0"><a href="#">Tema 234</a></h4>
                        <span>Poupança</span>
                  </div>
                  <div  class="card-topico-conteudo">
                      334.034 (33%) processos. Desde 23/04/2010
                  </div>
                </div>
                <div class="row m-16 p-0 p-b-16">
                    <a href="#" target="_blank" class="btn btn-raised btn-fluid btn-default-bordered btn-upper col-xs-12">
                      Ver todos os temas
                    </a>
                </div>
            </div>

            <div class="teses-suspensao-nacional card m-b-24">
                <div class="card-titulo">Teses de Suspensão Nacional</div>

                <div class="card-conteudo p-0"> 
                    <div class="card-caixa-texto tese-descricao m-b-8 p-16">
                        Temas em repercussão geral com determinação de suspensão nacional dos processos em tramitação que versem sobre a mesma questão,
                        nos termos do <a href="#">art. 1035, §5° do CPC.</a>
                    </div>
                </div>

                <div class="card-conteudo p-t-16">                  
                    <div class="card-subtitulos p-b-8">
                        <h4 class="card-subtitulo m-0"><a href="#">RE 566622</a></h4>
                        <small>TEMA 32 - 19/10/2016</small> 
                    </div>
                    <div class="card-topico-conteudo">
                        Reserva da lei complementar para instituir requisitos à concessão de imunidade tributária às entidades beneficentes de assistência social.
                    </div>
                </div>

                <div class="card-conteudo p-t-16">                  
                    <div class="card-subtitulos p-b-8">
                        <h4 class="card-subtitulo m-0"><a href="#">RE 573872</a></h4>
                        <small>TEMA 45 - 26/10/2016</small> 
                    </div>
                    <div class="card-topico-conteudo">
                        Possibilidade de execução provisória de obrigação de fazer contra a Fazenda Pública.
                    </div>
                </div>

                <div class="row m-16 p-0 p-b-16">
                    <a href="#" target="_blank" class="btn btn-raised btn-fluid btn-default-bordered btn-upper btn-card-lateral col-xs-12">
                      Todos com suspensão nacional
                    </a>
                </div>
            </div>
            
            <div id="entrar-forum-repercussao" class="card m-b-24 __fundo-escuro">
                <div class="card-conteudo p-b-0">
                  <div class="row m-0">
                    <div class="p-0 p-b-16">
                      <h3 class="m-0">Fórum de Repercussão</h3>
                      <small>Somente para órgãos credenciados</small>
                    </div>
                    <div class="row m-0 p-0">
                      <div class="col-xs-12 p-0 p-b-16">
                        <a href="/#" target="_blank" class="btn btn-raised btn-fluid btn-default-bordered btn-upper col-xs-12">
                          Entrar
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            
            <div id="mais-info" class="card m-b-48 m-b-xs-0 card-sem-sombra">
                <div class="card-conteudo row m-0 m-t-16 b-b-16 p-0">
                    <div class="card-caixa-texto m-b-16 p-l-40">
                      <h4 class="m-0 m-t-8 m-b-16">Mais informações</h4>
                      <ul>
                        <li><a id="repgeral-boletim" href="#">Boletim anual</a></li>
                        <li><a id="repgeral-impact" href="#">Impacto dos julgamentos</a></li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>
    
    <%- include src/includes/mapa-do-site.html %>
    <%- include src/includes/footer.html %>
  </div>
</body>
</html>