.campo-texto-repgeral {
    width: 100% !important;
}

.card .card-conteudo .card-caixa-texto h4 {
    padding-top: 5px;
}

#mais-info.card {
    box-shadow: none;
}

#mais-info {
    .card-conteudo{
        .card-caixa-texto {
            padding-left: 40px;
        }
    }
} 

.card-sub-titulo {
    color: #006998;
    font-weight: bold;
    padding-bottom: 7px;
    small {
        padding-left: 7px;
    }
} 

.card-topico-conteudo{
    font-size: 0.8rem; color: #ababab;    
}

.card-conteudo {
    .card-subtitulos{
        small{
            font-weight: 600;
        }
    }
}