.menu-acessibilidade {
  background: $stfPreto;
  color: $stfBranco;
  
  * {
    font-size: 0.875rem;
  }

  height: 36px;
  text-align: center;

  .acessibilidade {
    > div, 
    > ul {
      display: inline-block;
      line-height: 36px;
      margin: auto 8px;
    }

    a {
      color: $stfBranco;
      i {
        font-size: 1rem;
        top: 2px;
      }
    }

    text-align: left;

    .atalhos {
      list-style: none;
      padding: 0;

      li {
        display: inline-block;
        margin-right: 8px;

        a {
          span {
            background: $stfBranco;
            color: $stfPreto;
            padding: 0 4px;
          }
        }
      }
    }
  }

  .btn {
    background: transparent;
    border: 0;
    color: $stfBranco;
    height: 36px;
    line-height: 36px;
    padding: 0;
    width: 100%;

    &.btn-default {
      &:focus,
      &:active,
      &:active:focus,
      &:active:hover,
      &.dropdown-toggle:hover,
      &.focus,
      &.active:focus {
        background: rgba(255, 255, 255, 0.16);
        border: 0;
        color: $stfBranco;
        outline: 0 none;
      }
    }
  }

  .menu-internacionalizacao {
    border-right: 1px solid $stfBrancoAlfa40;

    .dropdown {
      .open {
        > .btn-default.dropdown-toggle:focus,
        > .btn-default.dropdown-toggle.focus {
          background: transparent;
          border: 0;
          color: $stfBranco;
          outline: 0 none;
        }
      }
    }
  }

  .link-servidores {
    border-right: 1px solid $stfBrancoAlfa40;
  }

  .telefone-stf {
    line-height: 36px;
  }

  div[class*="col-"] {
    margin: 0;
    padding: 0;
  }
}