.pesquisa-padrao {
  min-height: 340px;
}


.pesquisa {
  @include set-bg-img-1x-2x("../img/interface/top-bg.jpg", "../img/interface/top-bg@2x.jpg") ;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#dc004977', endColorstr='#00ffffff', GradientType=1)";
  &:before {
    background: -moz-linear-gradient(-45deg, rgba(0, 73, 119, 0.86), rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(0, 73, 119, 0.86), rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(135deg, rgba(0, 73, 119, 0.76), rgba(255, 255, 255, 0) 100%);
    content: ' ';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 0;
  }
  padding: 0 16px;
  position: relative;

  .container {
    position: relative;
    z-index: 1;
  }

  .label-peticione {
    font-weight:100;
  }

  .btn {
      font-size: 1rem;
  }

  .pesquisa-conteudo {
    clear: both;
    max-width: 900px;
    margin:0 auto;

    .pesquisa-btn-interna {
      display: none;
    }

    .pesquisa-titulo {
      color: $stfBranco;

      h3 {
        line-height: 40px;
      }
    }

    .pesquisa-titulo-expandida {
      color: $stfBranco;
      margin-top: -10px;
      @media all and (max-width: $breakpointPhones) {
        margin-top: 30px;
      }
    }

    .pesquisa-campos {
      .campo-container {
        overflow: hidden;
        width: 100%;

        .pesquisa-select {
        //  border: 0;
          height: 50px;
          line-height: 50px;
          padding: 0 8px;
        }

        .campo-texto {
        //  border: 0;
        //  border-radius: 0;
          height: 50px;
          padding: 0 40px 0 8px;
          font-size: 0.9rem;
        }

        .campo-texto:focus {
          outline: 0;
        }

        .botoes-pesquisa-jurisprudencia {
          border: 0;
          border-radius: 0;
          height: 50px;
          padding: 0 40px 0 8px;
          font-size: 0.8rem;
          background-color: white;
        }

        .botoes-pesquisa-jurisprudencia span {
          height: 30px;
          line-height: 26px;
          color: $stfAzulEscuro;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
          padding-left: 4px;
          padding-right: 4px;
          cursor: pointer;
          margin-top: 10px;
          margin-left: 5px;
        }

        .pesquisa-jurisprudencia-links-inferiores,
        .pesquisa-rg-links-inferiores  {
            line-height: 40px;
            font-size: 0.8rem;
        }

        .pesquisa-jurisprudencia-links-inferiores * {
          color: white;
        }

        .link-pesquisa-avancada-rg {
          position: relative;
          float: right;
        }

        .btn {
          background: $stfAzulClaro;
          border: 0;
          border-radius: 0;
          color: $stfBranco;
          height: 50px;
          line-height: 50px;
          padding: 0 16px;
          position: relative;
          right: 0;
          top: -50px;
          min-width: 40px;
          font-size: 1rem;

          &.btn-default {
            &:focus,
            &:active,
            &:active:focus,
            &:active:hover,
            &.dropdown-toggle:hover,
            &.focus,
            &.active:focus {
              background: $stfAzulClaro;
              border: 0;
              color: $stfBranco;
              opacity: 0.8;
              outline: 0 none;
            }
          }

          &.btn-icon-lt-md {
            @media all and (max-width: $breakpointMediumDevices) {
              padding: 0;
              width: 40px;
            }
          }
        }

        .seletores-campo {
          ul {
            font-size: 0;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
              display: inline-block;
              height: 30px;
              line-height: 30px;
              margin: 0;
              margin-right:8px;

              span{
                background: $stfBrancoAlfa80;
                color: $stfAzulEscuro;
                display: block;
                font-size: 0.75rem;
                height: 30px;
                padding: 0 12px;
                position: relative;
                top: 0px;
                cursor: pointer;
                border-top: 1px solid $stfBrancoAlfa40;

                &:hover {
                  background-color: $stfAzulClaro;
                  color: $stfBranco;
                  text-decoration: none;
                }
              }

              span.ativo {
                background: $stfAzulClaro;
                color: $stfBranco;
                border-top: none;
                font-size: 0.875rem;
                height: 30px;
                top: 0;
              }

              a {
                background: $stfBrancoAlfa15;
                color: $stfBranco;
                display: block;
                font-size: 0.75rem;
                height: 30px;
                padding: 0 15px;
                position: relative;
                top: 0px;

                border-top: 1px solid $stfBrancoAlfa40;

                &:hover {
                  background-color: $stfAzulClaro;
                  color: $stfBranco;
                  text-decoration: none;
                }
              }

              a.ativo {
                background: $stfAzulClaro;
                border-top: none;
                font-size: 0.875rem;
                height: 30px;
                top: 0;
              }
            }
          }
        }
      }
    }
  }
}

.pagina-interna {
  .pesquisa {
    min-height: 0;
    .pesquisa-conteudo {
      margin-left: 0;
      margin-right: 0;
      max-width: 1170px;

      .pesquisa-btn-interna {
        display: block;
      }
    }
  }
}

.pesquisa-menor {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.tipo-pesquisa-processo {
  height: 50px;
  //background-color: #eeebeb;
}

.campo-pesquisa-processo {
  overflow: hidden;
  input {
    width: 100%;
    float: left;
  }
  .campo-pesquisa-numero {
    overflow: hidden;
  }
}

.aba-pesquisa {
  padding-left: 0 !important;
  padding-right: 0 !important;
  select {
    float: left;
  }
  .no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media all and (max-width: $breakpointPhones - 1) {
  .campo-pesquisa-processo {
    clear: both;
  }
  .tipo-pesquisa-processo {
    width: 100%;
    margin-bottom: 15px;
  }
}

@media all and (min-width: $breakpointMediumDevices) {
  .pesquisa {
    @include set-bg-img-1x-2x("../img/interface/top-bg.jpg", "../img/interface/top-bg@2x.jpg") ;
    background-position: center -210px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

/**************************************************************************************************
CONFIGURAÇÃO DO FILTRO DE PESQUISA AVANCADA
**************************************************************************************************/
.pesquisa-rg-avancada {
  .filtro-por-ministros {
    .card-imagem-ministros{width:58px;height:60px;background-size: 60px 60px;text-indent: -999999px;border-radius: 50%;}
    
    .min-carmen-lucia {background-image: url('../img/ministros/ministra_carmen_lucia.jpg');}
    .min-dias-toffoli {background-image: url('../img/ministros/ministro_dias_toffoli.jpg');}
    .min-celso-melo {background-image: url('../img/ministros/ministro_celso_mello.jpg');}
    .min-marco-aurelio {background-image: url('../img/ministros/ministro_marco_aurelio.jpg');}
    .min-gilmar-mendes {background-image: url('../img/ministros/ministro_mendes.jpg');}
    .min-ricardo-lewandowski {background-image: url('../img/ministros/ministro_lewandowski.jpg');}
    .min-luiz-fux {background-image: url('../img/ministros/ministro_luiz_fux.jpg');}
    .min-rosa-weber {background-image: url('../img/ministros/ministra_rosa_weber.jpg');}
    .min-roberto-barroso {background-image: url('../img/ministros/ministro_roberto_barroso.jpg');}
    .min-edson-fachin {background-image: url('../img/ministros/ministro_fachin.jpg');}
    .min-alexandre-moraes {background-image: url('../img/ministros/ministro_moraes.jpg');}
    .min-presidente {background-image: url('../img/ministros/presidente.jpg');}

    .lista-de-ministros {list-style-type: none;}
    li, .card-imagem-ministros {display: inline-block;}

  }
  .cinza{filter: grayscale(100%)}
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {.cinza{opacity: 0.65;}.container-filtros-rg{left: -51px;top: 50px;}} 
  .container-filtros-rg{
    @media screen and (min-height: 1366px){width: 54.5em;}
    width: 62em;
    display: grid;
    grid-template-rows: 0.5em 2.5em 4.5em 4.5em 4.5em 4.5em 7em;
    -ms-grid-rows: 0.5em 2.5em 4.5em 4.5em 4.5em 4.5em 7em;
    background-color: #00a7e6b3;
  }
  
}

/*
* ANIMAÇÃO DOS INPUTS
*/
.box-opcoes-filtros {border: none;position: relative;top: 15px;margin-top: 17px;}
.box-opcoes-filtros:focus {outline: none;}
.box-opcoes-filtros:focus ~ .titulo-opcao-filtro,.box-opcoes-filtros:valid ~ .titulo-opcao-filtro {top: 7px;margin-top: 5px;font-size: 12px;color: $stfBranco;}
.titulo-opcao-filtro {pointer-events: none;transition:0.2s ease all;-moz-transition:0.2s ease all;-webkit-transition:0.2s ease all;position: absolute;top: 39px;left: 20px;font-size: 16px;font-weight: 600;color: #979696;}

/**
* LINKS DA PESQUISA AVANÇADA
*/
.link-pesquisa-avancada-rg{color:black; right: 10px;font-size: 14px;float: right; position: relative; bottom: 43px;}
.esconder-filtros a,.limpar-filtros a{color: $stfBranco;font-size: 16px;}
.esconder-filtros {float: right;a{float: right;}}
.esconder-filtros a:hover,.limpar-filtros a:hover{font-weight: 600;text-decoration: none;}
.icones-pesquisa-avancada {top: 7px; position: relative;}
.pesquisa-rg-links-inferiores {
  a{text-decoration: underline; color: white;}
  color:#fff;
}

/**
* PESQUISA LIVRE
*/
.qs-search-results {position: absolute;top: 66px;left: 135.5px;background: #FFF;display: grid;width: 49.8rem;margin-left: 0px;max-height: 36em;overflow-y: scroll;}
.qs-search-results-fechado{top:208px;}
.qs-search-results ul li{list-style: none;}
.qs-search-item-identifier {font-size: 14px;}
.hr-pesquisa-livre{border-top: 1px solid #c5bdbd;margin-top: -5px;}