.numero-transparencia {
    //color: $stfAzulEscuro;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.rotulo-transparencia {
    font-size: 0.6rem;
    margin: 0 8px;
    font-weight: 100;
}