
.qlik-embed {

}

.KPITitulo {
    background-color:dodgerblue;
    color:white;
    font-weight:bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Titulo {
    background-color:dodgerblue;
    color:white;
    font-weight:bold;
    padding-top: 10px;
    padding-bottom: 10px;
}
